.icon-48-facebooknews {
      background-image: url(../images/l_facebooknews.png);
      padding-left:60px!important;
}

.icon-48-facebooknewsitem {
      background-image: url(../images/l_facebooknews.png);
      padding-left:60px!important;
}

