<style>
    div.footer_sponsors { margin: auto; text-align: center !important; }
    
    img.footer_sponsor { opacity: 0.5; }
    
    img.footer_sponsor:last-child { margin-right: 0px !important; }
    
    img.footer_sponsor:hover { opacity: 0.75; }
</style>