div.album_title { 
	background-color: white;
    color: black;
    font-size: 11px;
    font-weight: bold;
    padding-top: 5px; padding-bottom: 1px;
	padding-left: 5px; padding-right: 5px;
    text-align: center;
	height: 16px;
	overflow: hidden;
}

div.album_title { 
	background-color: white;
    color: black;
    font-size: 11px;
    font-weight: bold;
    padding-top: 5px; padding-bottom: 1px;
	padding-left: 5px; padding-right: 5px;
    text-align: center;
	height: 16px;
	overflow: hidden;
}
article.span3 a { text-decoration: none !important; }
div#filter-bar.btn-toolbar { display: none; }
form#adminForm { margin: 0px !important; }

table#album_list.table { margin: 0 !important; }
table#album_list.table tfoot tr td ul.jsn-pagination { margin:  0px !important;  }

tr#limit-box { text-align: center; }
tr#limit-box td { text-align: center; padding-bottom: 0px; padding-top: 20px; }
tr#limit-box td select { text-align: center; width: 75px; margin: 0 !important; }

div.album_title div.photo-like { float:left; width: 15px; height: 15px; 
        background-image: url('../images/social_icons.png');
        background-position: 0 -52px;
        opacity: 0.15;
}
div.album_title div.photo-like:hover { opacity: 0.95;  }

div.album_title div.photo-comment { float:right; width: 15px; height: 15px; 
        background-image: url('../images/social_icons.png');
        background-position: 0 -18px;
        opacity: 0.15;
}
div.album_title div.photo-comment:hover { opacity: 0.95; }


/************************************************************************************
COLUMN
*************************************************************************************/

div.gallery_thumb { width:100%; height:90px; background-position: center;
                    background-repeat: no-repeat; background-size: cover;
                    background-color: #CCCCCC;}

article.span3 { width: 23% !important; margin-left:0 !important; margin-bottom: 20px;
			    border: 2px solid #FFFFFF;
    			box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}

    /* Large desktop */
     @media (min-width: 1190px) {
     			article.span3{ margin-right:2.5641% !important; }
     			article.span3:nth-child(4n){ margin-right:0px !important; } 
    }
    /* Portrait tablet to landscape and desktop */
    @media (min-width: 768px) and (max-width: 1189px) {
     			article.span3{ margin-right:2.5641% !important; }
     			article.span3:nth-child(4n){ margin-right:0px !important; } 
    }
     
    /* Landscape phone to portrait tablet */
    @media (max-width: 767px) {
    		div.row-fluid{ margin-top:15px !important; }
    		article.span3{ width: 30% !important; float:left !important; margin-right:1% !important;
    						margin-left:2% !important; margin-bottom: 15px !important;}
    		article.span3:nth-child(3n) { margin-right:0% !important }
      }
     
    /* Landscape phones and down */
    @media (max-width: 600px) {
            div.row-fluid.show-grid { margin-top: 10px !important; }
    		article.span3{ width: 46.5% !important; margin: 0 !important; margin-bottom: 10px !important; }
            article.span3:nth-child(1n) { float:left !important; margin-left: 2% !important; }
    		article.span3:nth-child(2n) { float:right !important; margin-right: 2% !important; }
     }