/**
 * @package		EasyBlog
 * @copyright	Copyright (C) 2010 Stack Ideas Private Limited. All rights reserved.
 * @license		GNU/GPL, see LICENSE.php
 *
 * EasyBlog is free software. This version may have been modified pursuant
 * to the GNU General Public License, and as distributed it includes or
 * is derivative of works licensed under the GNU General Public License or
 * other free or open source software licenses.
 * See COPYRIGHT.php for copyright notices and details.
 */

/*
* Reset Framework
*/
#eblog-wrapper{display:inline-block;height:auto!important;margin-bottom:20px;min-height:350px;width:100%;position:relative;word-wrap:break-word}
#eblog-wrapper  a{outline:0;-moz-outline-style:none;cursor:pointer}
#eblog-wrapper  sup{line-height:0}
#eblog-wrapper  button,
#eblog-wrapper  input[type="button"],
#eblog-wrapper  input[type="reset"],
#eblog-wrapper  input[type="submit"]{cursor:pointer;-webkit-appearance: button;outline:none;*overflow: visible}
#eblog-wrapper  button::-moz-focus-inner{border:0}
/*reset some template add in value to :before :after e.g.: <li> with bullet */
#eblog-wrapper li:before,
#eblog-wrapper li:after { background: none; display: none;}
/*JOOMLA 2.5*/
#eblog-wrapper .small{margin:auto;padding:auto;}
#eblog-wrapper .reset-ul,
#eblog-wrapper .reset-ul > li{background:none;border:none;clear:none;float:none;list-style:none;list-style-image:none;margin:0;padding:0;overflow:visible;width:auto}
#eblog-wrapper .clear{clear:both;font-size:0 !important;height:0 !important;line-height:0 !important}
#eblog-wrapper .clearfix{display:block;zoom:1;overflow:visible;clear:none;height:auto;}
#eblog-wrapper .clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
#eblog-wrapper .clearfull{display:inline-block;width:100%!important}
#eblog-wrapper .float-l,
#eblog-wrapper .alignleft,
#eblog-wrapper .float-li li{float:left}
#eblog-wrapper .float-r,
#eblog-wrapper .alignright{float:right!important}
#eblog-wrapper .in-block,
#eblog-wrapper .float-r,
#eblog-wrapper .float-l,#eblog-wrapper .float-li li{display:inline-block}
/*IE7*/*:first-child+html #eblog-wrapper .tablecell{display:table-cell;vertical-align:top;zoom:1;width:auto}

/* reset-heading */
#eblog-wrapper .reset-h {background:none;border:none;clear:none;float:none;display:block;padding:0;margin:0;width:auto;position:static;}

/* reset-table */
#eblog-wrapper .reset-table{border-collapse:collapse;border-spacing:0;width:100%}
#eblog-wrapper .reset-table,
#eblog-wrapper .reset-table tr,
#eblog-wrapper .reset-table td,
#eblog-wrapper .reset-table th{background:none;padding:0;margin:0;border:0;vertical-align:middle}

/* list-form */
#eblog-wrapper .list-full > li,
#eblog-dialog  .list-full > li{display:inline-block;width:100%}
#eblog-wrapper .list-form > li,
#eblog-dialog  .list-form > li{display:inline-block;width:100%;}
#eblog-wrapper .list-form > li + li,
#eblog-dialog  .list-form > li + li{padding-top:10px;}
#eblog-wrapper .list-form li > label,
#eblog-dialog  .list-form li > label{display:inline-block;min-height:22px;line-height:22px}
#eblog-wrapper .list-form li > label,
#eblog-dialog  .list-form li > label{float:left;width:150px;text-align:right}
#eblog-wrapper .list-form li > label + div,
#eblog-dialog  .list-form li > label + div{margin:0 10px 0 155px}
#eblog-wrapper .list-form.tight li > label,
#eblog-dialog  .list-form.tight li > label{width:130px}
#eblog-wrapper .list-form.tight li > label + div,
#eblog-dialog  .list-form.tight li > label + div{margin:0 10px 0 135px}

#eblog-wrapper .pabs{position:absolute}
#eblog-wrapper .prel,
#eblog-wrapper .float-li li{position:relative}
#eblog-wrapper .ico{background-position:0 0;background-repeat:no-repeat!important;background-color:transparent;display:inline-block;height:18px;line-height:18px;padding:0 0 0 22px}
#eblog-wrapper .cap{text-transform:uppercase}
#eblog-wrapper .ir{display:block;font-size:.001em;text-indent:-9999px;text-decoration:none!important;}
#eblog-wrapper .atl{top:0;left:0}
#eblog-wrapper .atr{top:0;right:0}
#eblog-wrapper .abl{bottom:0;left:0}
#eblog-wrapper .abr{bottom:0;right:0}

#eblog-wrapper .ffa{font-family:Arial}
#eblog-wrapper .fft{font-family:Tahoma}
#eblog-wrapper .ffg{font-family:Georgia}
#eblog-wrapper .fss{font-size:9px}
#eblog-wrapper .fsm{font-size:11px}
#eblog-wrapper .fsg{font-size:12px}
#eblog-wrapper .fsl{font-size:14px}
#eblog-wrapper .fsx{font-size:16px}
#eblog-wrapper .fsi{font-style:italic}
#eblog-wrapper .fwb{font-weight:700}
#eblog-wrapper .tac{text-align:center}
#eblog-wrapper .rip{margin:0;padding:0}

/* width */
#eblog-wrapper form .width-100{width:100px}
#eblog-wrapper form .width-150{width:150px}
#eblog-wrapper form .width-200{width:200px}
#eblog-wrapper form .width-250{width:250px}
#eblog-wrapper form .width-300{width:300px}
#eblog-wrapper form .width-350{width:350px}
#eblog-wrapper form .width-400{width:400px}
#eblog-wrapper .width-full{width:100%}

#eblog-wrapper .width-half{width:50%}
#eblog-wrapper .width-small{width:30px}

#eblog-dialog .mas,#eblog-wrapper .mas{margin:5px}
#eblog-dialog .mam,#eblog-wrapper .mam{margin:10px}
#eblog-dialog .mal,#eblog-wrapper .mal{margin:15px}
#eblog-dialog .mts,#eblog-wrapper .mts{margin-top:5px}
#eblog-dialog .mtm,#eblog-wrapper .mtm{margin-top:10px}
#eblog-dialog .mtl,#eblog-wrapper .mtl{margin-top:15px}
#eblog-dialog .mtb,#eblog-wrapper .mtb{margin-top:20px}
#eblog-dialog .mbs,#eblog-wrapper .mbs{margin-bottom:5px}
#eblog-dialog .mbm,#eblog-wrapper .mbm{margin-bottom:10px}
#eblog-dialog .mbl,#eblog-wrapper .mbl{margin-bottom:15px}
#eblog-dialog .mbb,#eblog-wrapper .mbb{margin-bottom:20px}
#eblog-dialog .mrs,#eblog-wrapper .mrs{margin-right:5px}
#eblog-dialog .mrm,#eblog-wrapper .mrm{margin-right:10px}
#eblog-dialog .mrl,#eblog-wrapper .mrl{margin-right:15px}
#eblog-dialog .mrb,#eblog-wrapper .mrb{margin-right:20px}
#eblog-dialog .mls,#eblog-wrapper .mls{margin-left:5px}
#eblog-dialog .mlm,#eblog-wrapper .mlm{margin-left:10px}
#eblog-dialog .mll,#eblog-wrapper .mll{margin-left:15px}
#eblog-dialog .mlb,#eblog-wrapper .mlb{margin-left:20px}

#eblog-dialog .pas,#eblog-wrapper .pas{padding:5px}
#eblog-dialog .pam,#eblog-wrapper .pam{padding:10px}
#eblog-dialog .pal,#eblog-wrapper .pal{padding:15px}
#eblog-dialog .pts,#eblog-wrapper .pts{padding-top:5px}
#eblog-dialog .ptm,#eblog-wrapper .ptm{padding-top:10px}
#eblog-dialog .ptl,#eblog-wrapper .ptl{padding-top:15px}
#eblog-dialog .ptb,#eblog-wrapper .ptb{padding-top:20px}
#eblog-dialog .pbs,#eblog-wrapper .pbs{padding-bottom:5px}
#eblog-dialog .pbm,#eblog-wrapper .pbm{padding-bottom:10px}
#eblog-dialog .pbl,#eblog-wrapper .pbl{padding-bottom:15px}
#eblog-dialog .pbb,#eblog-wrapper .pbb{padding-bottom:20px}
#eblog-dialog .pls,#eblog-wrapper .pls{padding-left:5px}
#eblog-dialog .plm,#eblog-wrapper .plm{padding-left:10px}
#eblog-dialog .pll,#eblog-wrapper .pll{padding-left:15px}
#eblog-dialog .plb,#eblog-wrapper .plb{padding-left:20px}
#eblog-dialog .prs,#eblog-wrapper .prs{padding-right:5px}
#eblog-dialog .prm,#eblog-wrapper .prm{padding-right:10px}
#eblog-dialog .prl,#eblog-wrapper .prl{padding-right:15px}
#eblog-dialog .prb,#eblog-wrapper .prb{padding-right:20px}

body #eblog-wrapper .ui-button{border:1px solid #bbb;border-bottom:1px solid #999;border-right:1px solid #999;color:#555 !important;cursor:pointer;font-family:Arial !important;font-size:11px !important;font-weight:bold;padding:0 8px !important;text-decoration:none !important;text-transform:capitalize !important;height:20px !important;line-height:20px !important;white-space:nowrap;
    -webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;
    background: url(../images/ui-button.png) bottom repeat-x #fff !important;}
body #eblog-wrapper a.ui-button{display:inline-block;height:19px !important;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}
/*IE7*/*:first-child+html body #eblog-wrapper a.ui-button{padding:0 6px}
body #eblog-wrapper .ui-button:hover,
body #eblog-wrapper .ui-button:focus{border:1px solid #999;outline:0 !important;text-decoration:none}
body #eblog-wrapper .ui-button+.ui-button{margin-left:5px}

/* System Messages */
#eblog-wrapper .eblog-message{line-height:16px;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;}
#eblog-wrapper .eblog-message.error{background:#fee url(../icons/message-warn.png) no-repeat 5px 5px;border:1px solid #cd8c8c;color:#900;margin:15px 0;padding:5px 10px 5px 30px}
#eblog-wrapper .eblog-message.info{background:#eceff6 url(../icons/message-info.png) no-repeat 5px 5px;border:1px solid #ccc;color:#565c6a;margin:15px 0;padding:5px 10px 5px 30px}
#eblog-wrapper .eblog-message.warning{background:#fff9d7 url(../icons/message-alert.png) no-repeat 5px 5px;border:1px solid #e5d57c;color:#8c7223;margin:15px 0;padding:5px 10px 5px 30px}
#eblog-wrapper .eblog-message.success{background:#e3ecd9 url(../icons/message-tick.png) no-repeat 5px 5px;border:1px solid #bad19c;color:#6d943c;margin:15px 0;padding:5px 10px 5px 30px}
#eblog-wrapper .eblog-message ul{padding:0 0 0 15px;margin:0;border:0;list-style-type:square}
#eblog-wrapper .eblog-message ul li{padding:0;margin:0;border:0}
#eblog-wrapper .eblog-message p{margin:0;padding:0}
#eblog-wrapper .eblog-message p+p{margin:5px 0 0}
#eblog-wrapper .blog-respond{padding:5px}
#eblog-wrapper .blog-respond.msg-error{background:#fee;border:1px solid #cd8c8c;color:#900}
#eblog-wrapper .blog-respond.msg-info{background:#eceff6;border:1px solid #ccc;color:#565c6a}
#eblog-wrapper .blog-respond.msg-alert{background:#fff9d7;border:1px solid #e5d57c;color:#8c7223}
#eblog-wrapper .blog-respond.msg-success{background:#e3ecd9;border:1px solid #bad19c;color:#6d943c}

/* ... */
#eblog-wrapper .blog-list-block .avatar-container{float:left;width:70px}
#eblog-wrapper .blog-list-block .info-container{ margin: 0 0 0 75px }

/* Pagination */
#eblog-wrapper div.pagination{display:inline-block;margin:10px 0;text-align:center;width:100%}
#eblog-wrapper div.pagination *{display: inline-block}

/* Dialog box */
#eblog-dialog{position:absolute;float:left;z-index:9999999}
#eblog-dialog .dialog {box-shadow:0 0 2px rgba(0, 0, 0, 0.8);-moz-box-shadow:0 0 2px rgba(0, 0, 0, 0.8);-webkit-box-shadow:0 0 2px rgba(0, 0, 0, 0.8);}
#eblog-dialog .dialog * {color:#666;font-size:11px;font-family:'Lucida Grande',Tahoma,Arial,sans-serif;}
#eblog-dialog .dialog-wrap{background:#fff;padding:15px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
#eblog-dialog .dialog-wrap > div {position:relative}
#eblog-dialog .dialog h3{font-size:12px;height:14px;line-height:14px;color:#444;text-align:left}
#eblog-dialog .dialog-top{background:#e0e0e0;border-bottom:1px solid #999;padding:15px 30px 15px 15px !important;margin:-15px -15px 15px !important;border-radius:3px 3px 0 0;-moz-border-radius:3px 3px 0 0;-webkit-border-radius:3px 3px 0 0;}
#eblog-dialog .dialog-middle{text-align:left}
#eblog-dialog .dialog-bottom{padding:0 9px 10px}
#eblog-dialog .closeme{background:url(../images/dialog/closeme.png);position:absolute;right:8px;top:50%;width:16px;height:16px;display:block;text-indent:-9999px;margin-top:-8px;opacity:0.8}
#eblog-dialog .closeme:hover{background-color:transparent;opacity:1}
#eblog-dialog .closeme:focus{outline:0 !important}
body #eblog-dialog .button{display:inline-block;background:#fafafa;border:1px solid #aaa;border-bottom-color:#999;margin:0;padding:0 10px;height:28px;font-weight:bold;font-family:'Lucida Grande',Tahoma,sans-serif;font-size:11px;color:#555!important;text-decoration:none!important;width:auto;overflow:visible;vertical-align:top;
	border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;
	background: -moz-linear-gradient(top,  #ffffff 0%, #eeeeee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* IE10+ */
	background: linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
	box-shadow:0 1px 0 #f1f1f1;-moz-box-shadow:0 1px 0 #f1f1f1;-webkit-box-shadow:0 1px 0 #f1f1f1;
}
body #eblog-dialog .button:hover{background: #fafafa;}
body #eblog-dialog .button:focus,
body #eblog-dialog .button.pressed{outline:0;
	background: -moz-linear-gradient(top,  #e5e5e5 0%, #f5f5f5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e5e5), color-stop(100%,#f5f5f5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e5e5e5 0%,#f5f5f5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e5e5e5 0%,#f5f5f5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e5e5e5 0%,#f5f5f5 100%); /* IE10+ */
	background: linear-gradient(top,  #e5e5e5 0%,#f5f5f5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#f5f5f5',GradientType=0 ); /* IE6-9 */
}
#eblog-overlay{background: #111;filter:alpha(opacity=30);-moz-opacity:0.3;-khtml-opacity:0.3;opacity:0.3;position:fixed;top:0;left: 0;z-index:99999}
#eblog-dialog .dialog-actions{padding:15px 15px 15px;margin:0 -15px -15px;text-align: right;border-radius:0 0 3px 3px;-moz-border-radius:0 0 3px 3px;-webkit-border-radius:0 0 3px 3px;
	background:#f9f9f9;
	background: -moz-linear-gradient(top,  #ffffff 0%, #f0f0f0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f0f0f0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f0f0f0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#f0f0f0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#f0f0f0 100%); /* IE10+ */
	background: linear-gradient(top,  #ffffff 0%,#f0f0f0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
}
#eblog-dialog .dialog-actions .dialog-submit{float:right}
#eblog-dialog .clearfix:after{clear:both;content:" ";display:block;font-size:0;height:0;visibility:hidden}
#eblog-dialog .clearfix{zoom:1;display:block}

/* Dialog box : typography + table + form */
#eblog-dialog form {margin-bottom:0;}
#eblog-dialog p,
#eblog-dialog h1,
#eblog-dialog h2,
#eblog-dialog h3,
#eblog-dialog h4{margin:0;padding:0;border:0;background:none;border:0}
#eblog-dialog .inputbox,
#eblog-dialog input,
#eblog-dialog input[type="text"],
#eblog-dialog input[type="password"],
#eblog-dialog textarea,
#eblog-dialog select{border:1px solid #bbb;font-family:Tahoma;font-size:11px;padding:5px}
#eblog-dialog input:hover,
#eblog-dialog textarea:hover,
#eblog-dialog select:hover{border:1px solid #999}
#eblog-dialog input:focus,
#eblog-dialog textarea:focus,
#eblog-dialog input[type="text"]:focus{-webkit-box-shadow: inset 0 2px 2px #eee;-moz-box-shadow: inset 0 0 2px #ccc;box-shadow: inset 0 1px 2px #ccc}
#eblog-dialog table,
#eblog-dialog table tr,
#eblog-dialog table td{border:0 !important;padding:6px 0;vertical-align:middle}
#eblog-dialog table td.key{text-align:right;padding-right:10px;}
#eblog-dialog table td.key:after{content:":";}
#eblog-dialog table tr+tr td.key{border-top:1px solid #eee}
#eblog-dialog .full{width:90%}
#eblog-dialog .quad{width:70%}
#eblog-dialog .half{width:50%}
#eblog-dialog .avatar{float:left;display:inline-block;border:1px solid #aaa}
#eblog-dialog .tablecell{display:table-cell;width:10000px}
/*IE7*/*:first-child+html #eblog-wrapper .tablecell{display:table-cell;vertical-align:top;zoom:1;width:auto} /* IE Hack */
#eblog-dialog .avatar + .tablecell{padding-left:15px}
/* Dialog loader animations */
#eblog-dialog  .eblog_loader,
#eblog-wrapper .eblog_loader{background:transparent url(../images/loader.gif) no-repeat 0 center}
#eblog-dialog  .eblog_loader{width:18px;height:11px;display:none;float:right}
#eblog-wrapper .eblog_loader{padding-left:25px !important}

/* table reset */
#eblog-wrapper #ezblog-dashboard table,
#eblog-wrapper #ezblog-dashboard table tr,
#eblog-wrapper #ezblog-dashboard table td{border:none}
#eblog-wrapper #ezblog-dashboard table.admintable{border:1px solid #ccc;}
/* Star rating system */
body .ui-stars-star,
body .ui-stars-cancel{margin:0 !important;padding:0 !important}
body .ui-stars-star a,
body .ui-stars-cancel a{background:url(../vendors/ratings/stars.png) no-repeat 0 0 transparent !important;display:block;height:16px;width:16px}
body .ui-stars-star a{background:url(../vendors/ratings/stars.png) no-repeat transparent 0 -32px !important;margin-top:-1px}
body .ui-stars-star-on a{background:url(../vendors/ratings/stars.png) no-repeat transparent 0 -48px !important}
body .ui-stars-star-hover a,
body .ui-stars-star-hover a:hover{background:url(../vendors/ratings/stars.png) no-repeat transparent 0 -64px !important; text-decoration:none !important}
body .ui-stars-cancel-hover a{background:url(../vendors/ratings/stars.png) no-repeat transparent 0 -16px !important}
body .ui-stars-star-disabled,.ui-stars-star-disabled a,.ui-stars-cancel-disabled a{cursor:default!important}
/* toggle option */
#eblog-wrapper .si-optiontap{
	display:block;
	/*width:60px;*/
}
#eblog-wrapper .si-optiontap .option-enable,
#eblog-wrapper .si-optiontap .option-disable{
	float:left;
	display:block;
	cursor:pointer;
	position:absolute;
	z-index:1;
	line-height: auto !important;
}
#eblog-wrapper .si-optiontap .selected{
	z-index:-1
}
#eblog-wrapper .si-optiontap .option-enable,
#eblog-wrapper .si-optiontap .option-disable,
#eblog-wrapper .si-optiontap .option-enable span,
#eblog-wrapper .si-optiontap .option-disable span{
	background:url(../images/taptoggle.png) no-repeat;
	height:22px;
	font:100 10px/22px 'Droid Sans',Tahoma;
	color:#fff;
	text-align:center;
	padding:0;
	margin:0;
	letter-spacing:1px;
	float: left;
}
#eblog-wrapper .si-optiontap .option-enable span,
#eblog-wrapper .si-optiontap .option-disable span{
	display:inline-block;
	padding: 2px 4px;
	padding:0 5px;
	}
#eblog-wrapper .si-optiontap .option-enable{
	background-position:right bottom;
	padding-right: 10px;
	margin-left: 10px;
}
#eblog-wrapper .si-optiontap .option-enable span{
	padding-left: 10px;
	background-position:left bottom;
	position: relative;
	left: -10px;
}
#eblog-wrapper .si-optiontap .option-disable{
	background-position:left top;
	padding-left: 10px;
}
#eblog-wrapper .si-optiontap .option-disable span{
	padding-right:10px;
	background-position:right top;
	position: relative;
	right: -10px;
}


/* tooltips */
body .withpost:hover .stackTip {
	display: block;
}
body .withpost {
	position: relative;
}
body .withpost .stackTip {
	bottom:34px;
}
#eblog-wrapper #eblog-calendar .title-calendar span {
	padding:0;
	font-size:12px;
}
#eblog-wrapper #eblog-calendar .ezttip-entries-list a {
	font-size:11px;
}
body .stackTip{position:absolute;font:11px/1.3 Arial;padding:3px 0; display: none;}
body .stackTip.tooltip-blogger,
body .stackTip.tooltip-team,
body .stackTip.tooltip-calendar { width: 300px; z-index: 9999;}
body .stackTip.tooltip-tags { max-width: 200px; }
body .stackTip *{color:#666;text-align:left;}
body .stackTip #ezttip{padding:2px;background:url(../images/dialog/shade.png);border:1px solid #777}
body .stackTip #ezttip-in{border:1px solid #666}
body .stackTip #ezttip-in-in{padding:5px;background:#fff;border:1px solid #fff;background: #fff;}
body .stackTip #ezttip .ezttip-wrap{display:inline-block;width:100%}
body .stackTip #ezttip .ulrest,
body .stackTip #ezttip .ulrest li{background:none;border:none;clear:none;list-style:none;list-style-image:none;margin:0;overflow:visible;padding:0}
body .stackTip #ezttip .ezttip-avatar{float:left;display:inline-block;border:1px solid #fefefe;margin-right:8px}
body .stackTip #ezttip .ezttip-avatar img{border:1px solid #555}
body .stackTip #ezttip .ezttip-avatar+.ezttip-content{display:table-cell;vertical-align:top}
body .stackTip #ezttip .ezttip-title{font:700 12px/1.2 Arial;color:#333;margin:0 0 1px}
body .stackTip #ezttip .ezttip-title.title-calendar{ background: url(../icons/calendar.png) no-repeat 0 0; line-height: 20px; padding: 0 0 5px 25px; margin: 0 0 5px 0; border-bottom: 1px solid #ccc; }
body .stackTip #ezttip .ezttip-entries-list{ list-style: none;margin:5px 0;}
body .stackTip #ezttip .ezttip-entries-list li{background:url(../icons/arrow-right.png) no-repeat 0 0; margin: 0; padding: 0 0 0 20px;line-height:16px;font-size:11px;}
body .stackTip #ezttip .ezttip-entries-list li + li{margin-top:3px;}

/* Loading */
#eblog-wrapper #quickpost-loading,
#eblog-wrapper #quickdraft-loading{display:none;height:11px}
body div.eblog-nbsp{height:10px;display:block}

/* joomla 1.6 */
.toggle-editor{margin-top:5px !important; margin-right:5px !important;}
.button2-left,.button2-right,.button2-left div,.button2-right div{float:left}
.button2-left a,.button2-right a,.button2-left span,.button2-right span{display:block;height:22px;float:left;line-height:22px;font-size:11px;color:#666;cursor:pointer}
.button2-left span,.button2-right span{cursor:default;color:#999}
.button2-left  .page a,
.button2-right .page a,
.button2-left  .page span,
.button2-right .page span{padding:0 6px}
.button2-right .page span,
.button2-left  .page span{color:#000;font-weight:700}
.button2-left a:hover,.button2-right a:hover{text-decoration:none;color:#0B55C4}
.button2-left a,.button2-left span{padding:0 24px 0 6px}
.button2-right a,.button2-right span{padding:0 6px 0 24px}

body #write_container .button2-left{background:url(../images/j_button2_left.png) no-repeat !important;float:left;margin-left:5px}
body #write_container .button2-right{background:url(../images/j_button2_right.png) 100% 0 no-repeat !important;float:left;margin-left:5px}
body #write_container .button2-left .image{background:url(../images/j_button2_image.png) 100% 0 no-repeat !important}
body #write_container .button2-left .pagebreak{background:url(../images/j_button2_pagebreak.png) 100% 0 no-repeat !important}
body #write_container .button2-left .blank{background:url(../images/j_button2_blank.png) 100% 0 no-repeat !important}
body #write_container .button2-left .page{background:url(../images/j_button2_right_cap.png) no-repeat scroll 100% 0  !important}
body #write_container .button2-left .readmore,
body #write_container .button2-left .article{background:url(../images/j_button2_readmore.png) 100% 0 no-repeat  !important}

.category-block{border-bottom:1px solid #EEE;padding:0 0 5px}
.category-tools{top:-1px!important;right:30px!important;font-size:13px}
#write_container .button2-right .blank,
#write_container .button2-right .blank a,
#write_container .button2-left  .blank,
#write_container .button2-left  .blank a{padding:0 6px 0 6px !important}
#editor-xtd-buttons{padding:5px !important;display:inline-block;}

/* Fancybox styles */
div.gallery-item a.gallery-thumb-item:hover,
div.gallery-item a.gallery-thumb-item:active,
div.gallery-item a.gallery-thumb-item:focus,
div.fancybox-wrap a.fancybox-prev:hover,
div.fancybox-wrap a.fancybox-prev:active,
div.fancybox-wrap a.fancybox-prev:focus,
div.fancybox-wrap a.fancybox-next:hover,
div.fancybox-wrap a.fancybox-next:active,
div.fancybox-wrap a.fancybox-next:focus{background-color:transparent !important;}
#ezblog-body a.easyblog-thumb-preview img,
#eblog-wrapper a.gallery-thumb-item img{ margin: 5px; }

/* Gallery */
#ezblog-body ul.easyblog-gallery{ width: 100%;}
#ezblog-body ul.easyblog-gallery li+li{ padding-left: 10px; float:left;}
#eblog-wrapper a.easyblog-thumb-preview.float-r{margin-left: 8px;}
#eblog-wrapper a.easyblog-thumb-preview.float-l{margin-right: 8px;}

#eblog-wrapper div.feed-author{margin-top:5px;}

/**
 * Compatibility fix for images
 */
#eblog-wrapper a.easyblog-thumb-preview img,
#eblog-wrapper a.gallery-thumb-item img{ border: 1px solid #CCCCCC; padding: 5px; }

/** 3rd party integrations **/
#eblog-wrapper #miniheader{margin-top: -15px;}
#eblog-wrapper #community-wrap{margin: 0 !important;height:auto !important;min-height:0 !important;z-index:35}

#eblog-wrapper .medialinks{max-width: 800px;}


#eblog-wrapper .easyblog-image-caption {
	display: none;
}

#eblog-wrapper .blog-text .easyblog-image-caption-container {
	padding: 5px;
	background: #f5f5f5;
	border: 1px solid #ddd;
	display: inline-block;
	vertical-align: top;
}

#eblog-wrapper .blog-text .easyblog-image-caption {
	text-align: left;
	display: inline;
}

#eblog-wrapper .blog-text .easyblog-image-caption-container.orientation-floatright {
	float: right;
	margin-left: 12px;
	margin-bottom: 12px;
}

#eblog-wrapper .blog-text .easyblog-image-caption-container.orientation-floatleft {
	float: left;
	margin-right: 12px;
	margin-bottom: 12px;
}

#eblog-wrapper .blog-text.easyblog-image-caption-container.orientation-none {
	margin: 6px 0px;
}

#eblog-wrapper .blog-text .easyblog-image-caption-container.orientation-alignleft,
#eblog-wrapper .blog-text .easyblog-image-caption-container.orientation-alignright,
#eblog-wrapper .blog-text .easyblog-image-caption-container.orientation-center {
	display: block;
	padding: 0;
	background: none;
	border: none;
	margin-top: 12px;
	margin-bottom: 12px;
}

#eblog-wrapper .blog-text .easyblog-image-caption-container.orientation-alignleft > span,
#eblog-wrapper .blog-text .easyblog-image-caption-container.orientation-alignright > span,
#eblog-wrapper .blog-text .easyblog-image-caption-container.orientation-center > span {
	padding: 5px;
	background: #f5f5f5;
	border: 1px solid #ddd;
	display: inline-block;
}

#eblog-wrapper .blog-text .easyblog-image-caption-container.orientation-alignleft {
	text-align: left;
}

#eblog-wrapper .blog-text .easyblog-image-caption-container.orientation-alignright {
	text-align: right;
}

#eblog-wrapper .blog-text .easyblog-image-caption-container.orientation-center {
	text-align: center;
}

#eblog-wrapper .blog-text .easyblog-image-caption-container.orientation-alignleft:after,
#eblog-wrapper .blog-text .easyblog-image-caption-container.orientation-alignright:after,
#eblog-wrapper .blog-text .easyblog-image-caption-container.orientation-center:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}

#eblog-wrapper .blog-text .easyblog-image-caption-container a.easyblog-thumb-preview {
	display: inline-block;
	position: relative;
}


#eblog-wrapper .blog-text .easyblog-image-caption-container img {
	padding: 0 !important;
	margin: 0 !important;
	border: none !important;
	position: relative;
}

#eblog-wrapper .blog-text .easyblog-image-caption-container .easyblog-image-caption {
	display: block !important;
}


/** Mission Control Theme **/
#mc-frame #eblog-wrapper .tag-item {
	border: 1px solid #ddd;
	padding: 2px;
	margin: 2px;
}


/*
.com_easyblog for joomla 3.0
*/

/*accordion*/
#eblog-wrapper .accordion-toggle {
	background: url(../images/bg-accordion.png) no-repeat right 8px;
}
#eblog-wrapper .accordion-toggle.collapsed {
	background-position: right -28px;
}


#eblog-wrapper  #editor-write_body .btn-toolbar {
	margin-top: 0;
}

.reset-ul > li [class*="span"] {
	width: auto;
	margin-left:0;
}
.com_easyblog #eblog-dialog label.label {
	background: none;
	text-shadow:none;
}
.com_easyblog #eblog-wrapper .width-full{width:98%}

.com_easyblog fieldset.adminform {
	min-height: 20px;
	padding: 19px;
	margin-bottom: 20px;
	background-color: #FBFBFB;
	border: 1px solid #e3e3e3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}
.com_easyblog fieldset.adminform legend {
	background: white;
	width: auto;
	padding: 1px 5px;
	border: 1px solid #E5E5E5;
	font-size: 14px;
	line-height: 26px;
	border-radius: 4px;

}
.com_easyblog #write_content {width:99% !important;}

body .eblog-bootstrap form {
	margin-bottom:0;
}

.com_easyblog .order div span {
	display: inline-block;
	width: 24px;
	margin-right: 3px;
}
