/* 
    Document   : default
    Created on : Dec 28, 2012, 11:49:24 AM
    Author     : p1nga
    Description:
        Purpose of the stylesheet follows.
*/
img#img-container {
	position: relative;
	top:0; left:0;
}
img#img-loader {
	position: relative;
	top:0; left:0;
}
