/**
 * @package		EasyBlog
 * @copyright	Copyright (C) 2010 Stack Ideas Private Limited. All rights reserved.
 * @license		GNU/GPL, see LICENSE.php
 *
 * EasyBlog is free software. This version may have been modified pursuant
 * to the GNU General Public License, and as distributed it includes or
 * is derivative of works licensed under the GNU General Public License or
 * other free or open source software licenses.
 * See COPYRIGHT.php for copyright notices and details.
 */

/* avatar */
#eblog-wrapper img.avatar{padding:1px;background:#fff;display:inline-block}
#ezblog-head,#ezblog-body{margin:0 5px}

/* blog toolbar */
#eblog-wrapper #ezblog-head{padding:10px 10px 0;background:#eee;border:1px solid #bbb;border-bottom:0;
    background: #eeeeee;
    background: -o-linear-gradient(#f5f5f5, #eeeeee);
    background: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#eeeeee));
}
#eblog-wrapper #ezblog-head h1{margin:5px 0;padding:0;text-decoration:none;font-size:24px;text-shadow:0 1px 1px #fff}
#eblog-wrapper #ezblog-head p{margin:10px 0}
#eblog-wrapper #ezblog-menu{background:none;border:0;border-bottom:1px solid #bbb;margin:0 -10px;padding:0 5px;border-radius:0;-moz-border-radius:0;-webkit-border-radius:0}
#ezblog-menu .blog-navi{background:none}
#ezblog-menu .blog-navi li{border-right:0}
#ezblog-menu .blog-navi li+li{margin-left:3px}
#ezblog-menu .blog-navi li.float-r{border-left:0}
#ezblog-menu .blog-navi li.float-r > a{border:0;border-bottom:1px solid #555;}
#ezblog-menu .blog-navi li.float-r > a,
#ezblog-menu .blog-navi li.float-r > a span{color:#fff !important;background-color:#555 !important}
#ezblog-menu .blog-navi li > a{color:#666;border:1px solid #bbb;border-bottom:0;background:#f5f5f5;border-radius:3px 3px 0 0;-moz-border-radius:3px 3px 0 0;-webkit-border-radius:3px 3px 0 0}
#ezblog-menu .blog-navi li a span,
#ezblog-menu .blog-navi li a:hover span{color:#666;font-weight:bold;}
#ezblog-menu .blog-navi li.item-active a,
#ezblog-menu .blog-navi li a:hover,
#ezblog-menu .blog-navi li:hover > a{color:#333;background:#fff}
#ezblog-menu .blog-navi li.toolbar-item {border-right: 0px;}
#ezblog-menu .blog-navi li.toolbar-item.float-r {
    border-left: 0px solid #222222;
    border-right: 0 none;
}
#ezblog-menu .blog-navi li.item-active a{border-bottom:1px solid #fff;margin-bottom:-1px}
#ezblog-menu .blog-navi li ul li + li{margin-left:0}
#ezblog-menu .blog-navi li ul li a{border:0;background:none;color:#ccc}
#ezblog-menu .blog-navi li ul li a:hover{color:#fff}

/*login form*/
#ezblog-menu .blog-navi .user-form{right:0;top:100%;margin-top:1px;}

/* Tags */
#ezblog-body .blog-tag{clear:both;display:block;}

/* blog item - blog.item.php */
#ezblog-body .blog-post,
#ezblog-body .blog-read{margin:15px 0 20px;padding:10px 0 0;border:1px solid #ccc;border-bottom-color:#aaa;background:#fff}
#ezblog-body .blog-head{border:1px solid #ccc;padding:10px;margin:0 -5px 10px;
    box-shadow:0 1px 3px rgba(0,0,0,0.1);
    background: #eeeeee;
    background: -o-linear-gradient(#f5f5f5, #eeeeee);
    background: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#eeeeee));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#eeeeee',GradientType=0 )
}
#ezblog-body .blog-head .blog-avatar + .blog-head-in{margin:0 0 0 75px;}
#ezblog-body .post-admin-menu{top:20px;right:5px}
#ezblog-posts .blog-meta{margin:5px 0;}
#ezblog-body .blog-meta *,
#ezblog-body .blog-read .blog-meta * {font-size:inherit}
#ezblog-body .blog-read .blog-admin{top:5px;}
#ezblog-body .blog-meta-bottom{border-top:1px solid #ccc;padding:10px;margin:10px 0 0 0;background:#eee;font-size:11px}
#ezblog-body .blog-meta-bottom a{font-weight:700}
#ezblog-body .blog-meta-bottom .blog-more a{background:#e5e5e5;display:block;height:36px;line-height:36px;margin:-10px;padding:0;border-left:1px solid #ccc;text-decoration:none !important;}
#ezblog-body .blog-meta-bottom .blog-more a span{display:block;padding:0 15px;}
#ezblog-body .blog-brief{border-bottom:0}
#ezblog-body .blog-brief .blog-avatar{margin-right:10px;}
#ezblog-body .blog-content{padding:0}
#ezblog-body .blog-show-comments{border-top:1px dotted #ddd;margin-top:10px;}
#ezblog-body .blog-show-comments .comment-author{font-size:inherit;}
#ezblog-body .blog-show-comments .show-comment-title{background:url(../images/icons/comment.png) 0 center no-repeat;padding-left:20px;line-height:20px;height:20px;}
#ezblog-body .blog-avatar .isTeamBlog + .isBlogger{bottom:3px;right:3px}
#ezblog-body .blog-content{margin:0 10px}
#ezblog-body .comment-list li + li{margin-top:0;border-top:0}
#ezblog-body .blog-meta-bottom div > .blog-readmore{float:right;margin:-10px;padding:0;border-left:1px solid #ccc;height:auto}
#ezblog-body .blog-meta-bottom div > .blog-readmore a{padding:10px 30px 10px 15px;background-position:95% center}

/*blog read tab button*/
#eblog-wrapper .tab_button{border:1px solid #ccc;border-bottom:0;background:#eee;
    background: -moz-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#eeeeee));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 )}
#ezblog-body .tab_container{border:1px solid #ccc;border-bottom-color:#aaa}
#ezblog-body .tab_container .section-title{margin:0 -10px;padding:15px 10px}
#eblog-wrapper .tab_button li + li{border-left:1px solid #ccc}
#eblog-wrapper .tab_button .item-active a span,
#eblog-wrapper .tab_button .item-active a:hover span{background:#1956ad;
    background: -moz-linear-gradient(top, #5d94d6 0%, #1956ad 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5d94d6), color-stop(100%,#1956ad));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5d94d6', endColorstr='#1956ad',GradientType=0 )}
#eblog-wrapper .tab_button li a:hover span{background:#ddd;color:#333;text-decoration:none}
#ezblog-body #section-comments{border-top:1px solid #ccc}
#ezblog-body .blog-section .section-title, #ezblog-body .blog-section .section-content{border-width:1px}

/* Author Info */
#ezblog-body #section-author{background: #EEEEEE;border:1px solid #ccc;}

/*slider*/
#eblog-wrapper .featured-slider{margin:-1px 0 10px;border-top:0}

/* blog.read navi*/
#ezblog-body .blog-read .blog-navi{margin:15px 10px 10px;padding:10px;background:#eee;}
#ezblog-body .blog-read .blog-navi li a,
#ezblog-body .blog-read .blog-navi li + li a{padding-top:5px;padding-bottom:5px;}

/* facebook */
#eblog-wrapper #fblikes{width:auto}

/* comments */
#ezblog-body h3#comment-form-title{border-top:1px solid #ccc !important;}
#ezblog-body #section-comments,
#ezblog-body #comment-form{padding-bottom:0}
#ezblog-body #section-comments{border:1px solid #ccc;border-bottom-color:#aaa;margin-top:20px}
#ezblog-body #section-comments .section-title{background:#eee;border-top:0;border-bottom:1px solid #ccc;padding:15px 10px;margin-bottom:10px;
    background: -moz-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#eeeeee));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 )}
#ezblog-body #section-comments .comment-row,
#ezblog-body #comment-form .comment-form{padding:10px}
#ezblog-body #section-comments .comment-row + .comment-row{margin-top:10px}
#ezblog-body .comment-content + .comment-form-inline{border-top:0;border-bottom:1px solid #ccc;margin:10px -10px 0}
#eblog-wrapper .style-altium #blog-comment .comment-avatar, #eblog-wrapper .style-altium #comment-form .comment-avatar{position:relative;}

/*profiles*/
#ezblog-body .profile-item{border:1px solid #ccc;border-bottom:1px solid #aaa;background:#fff;padding:10px}
#ezblog-body .profile-item + .profile-item{padding-top:10px;margin-top:20px;border-top:1px solid #ccc}
#ezblog-body .profile-avatar a{display:inline-block}

/*#ezblog-body .profile-head{background:#f4f4f4;border-bottom:1px dotted #ccc;margin:-10px -10px 10px;padding:10px;}*/
#ezblog-body .profile-head{border:1px solid #ccc;padding:10px;margin:0 -15px    ;
    box-shadow:0 1px 3px rgba(0,0,0,0.1);
    background: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#eeeeee));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#eeeeee',GradientType=0 )
}
#ezblog-body .profile-body{border-top:0;margin-top:0;display:block;}
#ezblog-body .profile-body .post-list li .blog-content{margin:10px 0 0;}
#ezblog-body .profile-stats li span.traits{background:#4A8DFB;color:#fff;margin-right:3px}

/*profiles-details*/
#ezblog-detail{padding-bottom:0;border-bottom:0}
#ezblog-detail .profile-head{margin:0;padding:10px;border:1px solid #ccc;border-bottom:1px solid #aaa}
#ezblog-detail .profile-avatar{width:auto;padding:8px}


/* bloggers */
#eblog-wrapper #bloggers-sorting {padding:10px 6px}

/* read view */
#socialbutton.top,
#socialbutton.bottom{width:auto;margin:0 10px;}
#eblog-wrapper .facebook-likes{margin:10px 10px 0;}
#eblog-wrapper #socialbutton.width-full + .blog-text{margin:10px}

/*
* Micro : Quote & Link
*/
#ezblog-body .micro-quote .blog-quote,
#ezblog-body .micro-link .blog-link,
#ezblog-body .micro-twitter .blog-tweet{border-left:1px solid #ddd;padding:5px 35px 5px 35px;margin:0 0 10px;}
