/* 
    Document   : default
    Created on : Dec 28, 2012, 11:49:24 AM
    Author     : p1nga
    Description:
        Purpose of the stylesheet follows.
*/
table#fb_album {
    margin: 0 !important;
}

div.fb_album_div{
	background-size: cover;
	border: 2px solid #FFFFFF;
 	box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}

div.fb_album_div:hover{
	border: 2px solid rgba(225,225,225,1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.65);
}

td.fb_album_td {
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 12px;
}

    /* Large desktop */
    /* Portrait tablet to landscape and desktop */
    @media (min-width: 768px){
    			div.row-fluid.show-grid { margin-top:0px !important; width: 100% !important;}
    			article.span6:nth-child(7n){ margin-right:0px !important; }
     			article.span6{ margin-right:2.4% !important; margin-left:0 !important;
     						   width:12.1% !important; margin-bottom:20px;
				}

    }
     
    /* Landscape phone to portrait tablet */
    @media (max-width: 767px) {
   			div.row-fluid.show-grid { margin-top:10px !important; }
    		article.span6{ width: 13% !important; float:left !important; margin-right:2% !important;
    						margin-left:1.6% !important; margin-bottom: 20px !important;}
    		article.span6:nth-child(6n) { margin-right:0% !important }
      }
     
    /* Landscape phones and down */
    @media (max-width: 480px) { 
			div.row-fluid.show-grid { margin-top:4px !important; }
    		article.span6{ width: 30% !important; float:left !important; margin-right:2.2% !important;
    						margin-left:1% !important; margin-bottom: 7px !important;
							background-position: center;
			}
    		article.span6:nth-child(3n) { margin-right:0% !important; }
     }

