/* CSS Document */

#rssOutput > ul {
    list-style: none !important;
}

#rssOutput > ul > li {
    border: 1px solid #CCC;
	margin-left: 0 !important;
	padding-left: 3px;
	
	background-color: #EFEFEF;
}
a.item-title {
	font-weight: bold;
}

span.item-time, a.item-title {
	text-transform: uppercase;
	font-size: 0.85em;
}

span.item-time {
	margin-left:10px;
}