/**
* @author    JoomlaShine.com http://www.joomlashine.com
* @copyright Copyright (C) 2008 - 2011 JoomlaShine.com. All rights reserved.
* @license   JoomlaShine.com Proprietary License
*/
/* ============================== DEFAULT HTML ============================== */
/* =============== DEFAULT HTML - GENERAL STYLES =============== */
html, body {
	line-height: 1.5;
	margin: 0;
	padding: 0;
}
div.sprocket-features-img-container a img { width: 100% !important; }
div#jfbc_loginregister h1 { font-size: 2.5em; margin-bottom: 20px; }
div#jfbc_loginregister > p { font-size: 1.3em; text-align: center; }
div#jfbc_loginregister_existinguser { text-align:center;}
div#jfbc_loginregister_newuser { text-align:center; }
div#jfbc_loginregister > div#powered_by { display: none; }
div#jfbc_loginregister_newuser form#adminForm.form-validate fieldset legend { font-size: 1.8em; margin-bottom: 0px; }
div#jfbc_loginregister_existinguser form#adminForm.form-validate fieldset legend { font-size: 1.8em; }
div#jfbc_loginregister_existinguser form fieldset dl dd input.inputbox { text-align: center; }
div#jfbc_loginregister_newuser form#adminForm.form-validate fieldset dl dd input { text-align: center; }
div#jfbc_loginregister_newuser form#adminForm.form-validate fieldset dl dt span.spacer span.text label#jform_spacer-lbl { display: none; }
div#jfbc_loginregister_existinguser form fieldset p { font-size: 1.3em; }
div.jsn-modulecontainer_inner > .jsn-moduletitle { text-align: center; }

.alert-danger, .alert-error { background-color: rgba(255,0,0, 0.45); padding: 10px !important; color: black; font-weight: bold; text-shadow: none !important; border: 1px dotted white; text-align: center; margin-bottom: 10px !important; }

div.sprocket-features-desc a.readon { padding: 0; background: rgba(0,0,0,0.35); border: none; border-radius: 0; padding: 3px 8px; color: inherit;
                                      text-shadow: none; text-transform: lowercase; font-size: .9em;
}

/* =============== DEFAULT HTML - TEXT STYLES =============== */
div.footer-sponsor { text-align:center; height: 50px; margin: auto; width: 120px; }
div.footer-sponsor img { opacity: 0.8; }
div.footer-sponsor img:hover { opacity: 0.95; }
div#jsn-pos-content-bottom.jsn-modulescontainer div.jsn-modulecontainer div.jsn-modulecontainer_inner{ margin: 0px; }
div#jsn-content-bottom
p, pre, blockquote, form, dl, ul, ol, fieldset, address, table {
	padding: 0;
	margin: 10px 0;
}

div#jsn-mainbody div.jsn-modulecontainer { margin-top: 0px !important; }
div#jsn-pos-footer { font-weight: bold; }
div#jsn-pos-bottom { font-weight: bold; }
table#footer-sponsors{ width: 100%; }

.table-end { text-align: right; }

p:first-child,
blockquote:first-child,
form:first-child,
dl:first-child,
ul:first-child,
ol:first-child,
fieldset:first-child,
address:first-child,
table:first-child {
	margin-top: 5px;
}
p:last-child,
blockquote:last-child,
form:last-child,
dl:last-child,
ul:last-child,
ol:last-child,
fieldset:last-child,
address:last-child,
table:last-child {
	margin-bottom: 5px;
}
fieldset {
	padding: 10px;
	border: none;
}
.jsn-joomla-30 fieldset {
	padding: 0;
	margin: 0;
}
small {
	font-size: .85em;
}
sup {
	bottom: 0.3em;
	font-size: .8em;
	position: relative;
	vertical-align: baseline;
}
sup em {
	color: red;
}
acronym, abbr {
	cursor: help;
	letter-spacing: 1px;
	border-bottom: 1px dashed;
}
pre {
	padding: 1em;
	background: #FFFFD5;
	border-left: 5px solid #404040;
	font-family: "Courier New",Courier,monospace;
}
blockquote {
	color: #404040;
	min-height: 45px;
	font-style: italic;
	padding-left: 60px;
	background: url(../images/icons/icon-text-blockquote.png) no-repeat top left;
}
blockquote p {
	font-size: 1em;
	line-height: inherit;
}
/* =============== DEFAULT HTML - HEADING STYLES =============== */
h1 {
	color: #333333;
	font-size: 1.8em;
}
h2 {
	color: #d6463f;
	font-size: 1.8em;
}
h3 {
	color: #d64740;
	font-size: 1.6em;
}
h4 {
	color: #859A1F;
	font-size: 1.4em;
}
h5 {
	color: #C58C10;
	font-size: 1.3em;
	font-weight: bold;
}
h6 {
	color: #666666;
	font-size: 12px;
	font-weight: bold;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: normal;
}
/* =============== DEFAULT HTML - LINK STYLES =============== */
a {
	outline: none;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:active {
	text-decoration: none;
}
a img {
	border: none;
}
/* =============== DEFAULT HTML - LIST STYLES =============== */
ul li {
	padding: 0;
	margin: 0.3em 0 0.3em 1.6em;
}
ol li {
	padding: 0;
	margin: 0.3em 0 0.3em 2em;
}
/* ============================== LAYOUT ============================== */
/* =============== LAYOUT - GENERAL LAYOUT =============== */
.clearafter:after {
	display: block;
	clear: both;
	content: ".";
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.clearafter {
	display: inline-block;
}
html[xmlns] .clearafter {
	display: block;
}
* html .clearafter {
	height: 1%;
}
.clearbreak {
	clear: both;
}
div.jsn-modulecontainer {
	margin-top: 20px;
}
div.jsn-modulecontainer:first-child,
div.jsn-horizontallayout div.jsn-modulecontainer {
	margin-top: 0;
}
div#jsn-pos-breadcrumbs.display-desktop,
div.jsn-modulecontainer.display-desktop {
	display: block;
}
div#jsn-pos-breadcrumbs.display-mobile,
div.jsn-modulecontainer.display-mobile {
	display: none;
}
div.jsn-modulescontainer {
	padding: 10px
}
div.jsn-modulescontainer div.jsn-modulecontainer_inner {
	margin: 10px;
}
div.jsn-modulescontainer2.jsn-horizontallayout div.jsn-modulecontainer {
	float: left;
	width: 49.95%;
}
div.jsn-modulescontainer3.jsn-horizontallayout div.jsn-modulecontainer {
	float: left;
	width: 33.3%;
}
div.jsn-modulescontainer4.jsn-horizontallayout div.jsn-modulecontainer {
	float: left;
	width: 24.975%;
}
div.jsn-modulescontainer5.jsn-horizontallayout div.jsn-modulecontainer {
	float: left;
	width: 19.98%;
}
div.jsn-modulescontainer6.jsn-horizontallayout div.jsn-modulecontainer {
	float: left;
	width: 16.65%;
}
div.jsn-modulescontainer2 [id*="jsn-pos-user"],
div.jsn-modulescontainer2 #jsn-pos-footer,
div.jsn-modulescontainer2 #jsn-pos-bottom {
	float: left;
	width: 49.95%;
}
div.jsn-modulescontainer3 #jsn-pos-user5,
div.jsn-modulescontainer3 #jsn-pos-user6,
div.jsn-modulescontainer3 #jsn-pos-user7 {
	float: left;
	width: 33.3%;
}
/* =============== LAYOUT - OVERALL PAGE =============== */
#jsn-master {
	background-color: #eaeaea;
	text-align: center;
}
#jsn-page {
	color: #000;
	margin: 0 auto;
	text-align: left;
}
#jsn-header-inner,
#jsn-body-inner,
#jsn-content-bottom-inner,
#jsn-footer-inner {
	margin: 0 auto;
}
/* ----- STICKLEFT / STICKRIGHT ----- */
div[id*=jsn-pos-stick-] {
	position: fixed;
	z-index: 888888;
}
div[id*=jsn-pos-stick-left] {
	left: 0;
}
div[id*=jsn-pos-stick-right] {
	right: 0;
}
#jsn-pos-stick-leftmiddle,
#jsn-pos-stick-rightmiddle {
	visibility: hidden;
}
#jsn-pos-stick-leftbottom,
#jsn-pos-stick-rightbottom {
	bottom: 0;
}
/* =============== LAYOUT - HEADER AREA =============== */
#jsn-header {
	margin-bottom: 20px;
}
#jsn-header-inner {
	position: relative;
}
#jsn-headerright-wrapper {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 100%;
	z-index: 89;
}
#jsn-logo {
	width: 200px;
	float: left;
	min-height: 125px;
	position: relative;
	z-index: 999;
	background-color: #333333;	
}
#jsn-logo a {
	line-height: 100%;
	display: block;
}
#jsn-logo a img {
	max-width: 100%;
}
img#jsn-logo-mobile {
	display: none;
}
#jsn-logo .jsn-topheading {
	display: none;
}
#jsn-headerright {
	float: right;
	margin: 15px 0;
}
#jsn-headerright #jsn-pos-top {
	float: right;
}
#jsn-pos-top form {

}
#jsn-pos-top div.jsn-modulecontainer {
	float: right;
	margin: 0;
}
#jsn-pos-top div.jsn-modulecontainer:first-child {
	margin-left: 0;
}
/* =============== LAYOUT - MENU AREA =============== */
#jsn-menu {
	z-index: 999;
	position: relative;
	color: #f2f2f2;
	width: 100%;
}
#jsn-menu-inner-1 {
	padding-left: 220px;
}
#jsn-menu-inner {
	background-color: #FFF;
}
#jsn-pos-mainmenu {
	float: left;
}
#jsn-pos-toolbar {
	float: right;
}
#jsn-menu div.jsn-modulecontainer {
	float: left;
	margin:0;
}
/* =============== MENU SUFFIX =============== */
#jsn-menu #jsn-pos-toolbar div.jsn-modulecontainer {
	float: left;
}
#jsn-pos-toolbar form {
	margin: 0;
}
#jsn-menu div.display-inline.jsn-modulecontainer {
	margin: 8px 10px 0;
}
#jsn-menu div.display-dropdown.jsn-modulecontainer .jsn-modulecontent {
	color: #ffffff;
	visibility: hidden;
	overflow: hidden;
	position: absolute;
	top: 48px;
	right: 0;
	z-index: 200;
	padding: 10px;
	min-width: 200px;
}
#jsn-menu div.display-dropdown.jsn-modulecontainer a,
#jsn-menu div.display-inline.jsn-modulecontainer a {
	color: #fff;
	text-decoration: underline;
}
#jsn-menu div.display-dropdown.jsn-modulecontainer a:hover,
#jsn-menu div.display-inline.jsn-modulecontainer a:hover {
	color: #000;
	text-decoration: none;
}
#jsn-menu #jsn-pos-mainmenu div.display-dropdown.jsn-modulecontainer .jsn-modulecontent {
	left: 0;
}
#jsn-menu .jsn-modulecontainer.display-dropdown .jsn-modulecontainer_inner {
	position: relative;
}
#jsn-menu .jsn-modulecontainer.display-dropdown .jsn-modulecontainer_inner h3.jsn-moduletitle {
	text-shadow: none;
	padding: 0;
	margin: 0;
	font-size: 1.2em;
	cursor: pointer;
	line-height: 24px;
}
#jsn-menu div.display-dropdown.jsn-modulecontainer .jsn-modulecontainer_inner h3.jsn-moduletitle > span {
	padding: 12px 10px;
}
#jsn-menu .jsn-modulecontainer.display-dropdown .jsn-modulecontainer_inner:hover h3.jsn-moduletitle {
	background: #4a4a4a;
	color: #FFF;
}
#jsn-menu .jsn-modulecontainer.display-dropdown .jsn-modulecontainer_inner:hover .jsn-modulecontent {
	visibility: visible;
}
#jsn-menu div.display-dropdown.menu-richmenu.jsn-modulecontainer .jsn-modulecontent {
	top: 72px;
}
#jsn-menu div.display-dropdown.menu-richmenu.jsn-modulecontainer .jsn-modulecontainer_inner h3.jsn-moduletitle > span {
	padding: 12px 15px 12px; /* I Changed This From 12px 15px 12px */
}
/* =============== MENU - TOOLBAR POSITION =============== */
#jsn-pos-toolbar div.jsn-modulecontainer ul.menu-mainmenu ul {
	right: 0;
}
#jsn-pos-toolbar div.jsn-modulecontainer ul.menu-mainmenu ul li.parent > a {
    background-image: url("../images/icons/icon-arrow-white-rtl.png");
    background-position: 2% center;
    background-repeat: no-repeat;
    padding-left: 16px;
}
#jsn-pos-toolbar div.jsn-modulecontainer ul.menu-mainmenu ul li a {
    text-align: right;
}
/* =============== LAYOUT - CONTENT TOP AREA =============== */
#jsn-promo,
#jsn-content-top {
    margin-bottom: 20px;
    padding-top: 0;
    position: relative;
    z-index: 88;
	overflow:hidden;
}
#jsn-content-top {
	padding: 5px;
}
#jsn-promo [id*=jsn-pos-promo] {
	position: relative;
}
#jsn-pos-promo-left div.jsn-modulecontainer,
#jsn-pos-promo-right div.jsn-modulecontainer {
	padding: 15px;
}
#jsn-promo h3.jsn-moduletitle,
#jsn-content-top h3.jsn-moduletitle {
	color: #fff;
}

/* =============== LAYOUT - CONTENT AREA =============== */
#jsn-content,
#jsn-content_inner,
#jsn-maincontent,
#jsn-centercol,
#jsn-pos-innerleft,
#jsn-pos-innerright,
#jsn-leftsidecontent,
#jsn-rightsidecontent {
	position: relative;
}
#jsn-content {
	margin-bottom: 20px;
}
div.jsn-hasleft #jsn-maincontent_inner {
	margin-left: 10px;
}
div.jsn-hasright #jsn-maincontent_inner {
	margin-right: 10px;
}
#mainbody-content-inner1,
#mainbody-content-inner2,
#mainbody-content-inner3,
#mainbody-content-inner4 {
	position: relative;
}
div.jsn-hasinnerleft #jsn-mainbody,
div.jsn-hasinnerright #jsn-mainbody,
#jsn-pos-innerright #jsn-pos-innerright_inner, 
#jsn-pos-innerleft #jsn-pos-innerleft_inner{
	padding: 10px;
}
#jsn-leftsidecontent,
#jsn-rightsidecontent {
	z-index: 87;
}
#jsn-leftsidecontent_inner {
	margin-right: 20px;
}
#jsn-rightsidecontent_inner {
	margin-left: 20px;
}
#jsn-leftsidecontent_inner,
#jsn-rightsidecontent_inner {
	margin-bottom: 20px;
}
#jsn-pos-innerleft div.jsn-modulecontainer:first-child,
#jsn-pos-innerright div.jsn-modulecontainer:first-child {
	margin-bottom: 0;
}
#jsn-centercol_inner {
	padding: 0;
}
#jsn-mainbody {
	padding: 20px;
	background: #fff;
}
#jsn-pos-breadcrumbs {
    background: #FFFFFF;
    margin-bottom: 20px;
    padding: 12px 20px;
}
.jsn-joomla-30 #jsn-pos-breadcrumbs {
	padding: 5px 15px;
}
#jsn-mainbody-content,
#jsn-pos-user-top,
#jsn-usermodules1,
#jsn-usermodules2,
#jsn-pos-mainbody-top,
#jsn-pos-user-bottom {
	background: #FFF;
	margin-bottom: 20px;
}
#jsn-mainbody-content {
	margin-bottom: 0;
}
div#jsn-pos-mainbody-top.jsn-modulescontainer div.jsn-modulecontainer div.jsn-modulecontainer_inner{
	margin: 0px !important;
}
.arrow.prev > span, .arrow.next > span { position: relative; top: -10px; }
.arrow.next > span { left: 1px;}
div.sprocket-features-img-container { text-align:center; }

#jsn-pos-mainbody-top { padding: 0px !important; }
#jsn-pos-mainbody-top ul li { margin: 0px !important; }
#jsn-pos-mainbody-top,
#jsn-pos-mainbody-bottom {
	margin: 0 0;  /* Changed From "0 -10px" to "0 0" */
}
#jsn-pos-banner {
	margin-bottom: 20px;
	text-align: center;
}
#jsn-gotoplink {
	color: #666;
	z-index: 88;
	padding: 10px 15px;
	display: block;
	background-color: #ffffff;
	text-transform: uppercase;
	position: fixed;
	left: 50%;
	bottom: 0;
}
#jsn-gotoplink:hover {
	color: #000;
	text-decoration: none;
	background-color: #f2f2f2;
}
/* =============== BACKGROUND POSITION =============== */
#jsn-pos-background {
    margin: 0 auto;
    overflow: hidden;
    position: fixed;
    top: 0;
	text-align: center;
    width: 100%;
    z-index: -100;
}
#jsn-pos-background p {
	margin: 0;
}
#jsn-pos-background img {
	width: 100%;
}
/* =============== LAYOUT - CONTENT BOTTOM AREA =============== */
#jsn-content-bottom {
	z-index: 85;
	position: relative;
	text-align: left;
}
#jsn-pos-content-bottom,
#jsn-usermodules3 {
	margin: 0 -20px;
}
#jsn-pos-content-bottom a,
#jsn-usermodules3 a {
	text-decoration: none;
	color: #FFF;
}
#jsn-pos-content-bottom a:hover,
#jsn-usermodules3 a:hover {
	text-decoration: underline;
}
#jsn-content-bottom h3.jsn-moduletitle {
	color: #fff;
}
/* =============== LAYOUT - FOOTER AREA =============== */
#jsn-footer {
	color: #595959;
	font-size: 0.9em;
	text-align: left;
}
#jsn-footermodules {
	margin: 0 -20px;
}
#jsn-footer a {
	text-decoration: none;
	color: #fff;
}
#jsn-footer a:hover {
	text-decoration: underline;
}
#jsn-pos-bottom {
	text-align: right;
}
#jsn-footer h3.jsn-moduletitle {
	color: #fff;
}
/* ============================== TYPOGRAPHY ============================== */
/* =============== TYPOGRAPHY - GENERAL TYPOGRAPHY =============== */
.hd {
	display: none;
}
/* ----- PREDEFINED CONTENT ALIGN ----- */
.align-left {
	float: left;
}
.align-center {
	margin-left: auto;
	margin-right: auto;
}
.align-right {
	float: right;
}
.margin-left {
	margin-left: 1em;
	margin-right: 0;
}
.margin-right {
	margin-left: 0;
	margin-right: 1em;
}
.content-left {
	text-align: left;
}
.content-center {
	text-align: center;
}
.content-right {
	text-align: right;	
}
/* =============== TYPOGRAPHY - CONTENT COLUMMNS =============== */
div.grid-layout2 div.grid-col {
	float: left;
	width: 49.95%;
}
div.grid-layout3 div.grid-col {
	float: left;
	width: 33.3%;
}
div.grid-layout4 div.grid-col {
	float: left;
	width: 24.96%;
}
div.grid-layout5 div.grid-col {
	float: left;
	width: 19.98%;
}
div.grid-layout6 div.grid-col {
	float: left;
	width: 16.65%;
}
div.grid-layout div.grid-col div.grid-col_inner {
	margin-right: 10px;
}
div.grid-layout div.grid-lastcol div.grid-col_inner {
	margin-right: 0;
}
/* =============== TYPOGRAPHY - TEXT STYLES =============== */
.text-box {
	padding: .8em;
	border: 1px solid #e5e5e5;
}
.text-box-highlight {
	padding: .8em;
	border: 1px solid transparent;
}
.text-box-highlight:hover {
	border-color: #d9d9d9;
	background-color: #f2f2f2;
}
.text-highlight {
	padding: .2em .5em;
	background: #FFFFAA;
}
.text-highlight.highlight-green {
	color: #fff;
	background: #48691b;
}
.text-highlight.highlight-light {
	color: #000;
	background: #e5e5e5;
}
.text-highlight.highlight-dark {
	color: #fff;
	background: #595959;
}
.text-dropcap p:first-child:first-letter,
p.text-dropcap:first-child:first-letter {
	color: #404040;
	font: 4em/.8em "Times New Roman", Times, serif;
	float: left;
}
.text-alert {
	border-top: 2px solid #FEABAB;
	border-bottom: 2px solid #FEABAB;
	background: #FFDFDF url(../images/icons/icon-text-alert.png) no-repeat;
}
.text-info {
	border-top: 2px solid #B7D2F2;
	border-bottom: 2px solid #B7D2F2;
	background: #DBE7F8 url(../images/icons/icon-text-info.png) no-repeat;
}
.text-download {
	border-top: 2px solid #DDEDBC;
	border-bottom: 2px solid #DDEDBC;
	background: #F2F9E5 url(../images/icons/icon-text-download.png) no-repeat;
}
.text-comment {
	border-top: 2px solid #FEEBAB;
	border-bottom: 2px solid #FEEBAB;
	background: #FEF8E1 url(../images/icons/icon-text-comment.png) no-repeat;
}
.text-tip {
	border-top: 2px solid #FEEBAB;
	border-bottom: 2px solid #FEEBAB;
	background: #FFFFD5 url(../images/icons/icon-text-tip.png) no-repeat;
}
.text-attachment {
	border-top: 2px solid #e5e5e5;
	border-bottom: 2px solid #e5e5e5;
	background: #f2f2f2 url(../images/icons/icon-text-attachment.png) no-repeat;
}
.text-video {
	border-top: 2px solid #e5e5e5;
	border-bottom: 2px solid #e5e5e5;
	background: #f2f2f2 url(../images/icons/icon-text-video.png) no-repeat;
}
.text-audio {
	border-top: 2px solid #e5e5e5;
	border-bottom: 2px solid #e5e5e5;
	background: #f2f2f2 url(../images/icons/icon-text-audio.png) no-repeat;
}
.text-tip,
.text-info,
.text-alert,
.text-audio,
.text-video,
.text-comment,
.text-download,
.text-attachment {
	background-position: left center;
	padding: 1em 1em 1em 5em;
	min-height: 20px;
}
.text-size-small {
	font-size: 0.9em;
}
.text-size-medium {
	font-size: 1em;
}
.text-size-large {
	font-size: 1.1em;
}
.text-size-xlarge {
	font-size: 1.2em;
}
.text-size-xxlarge {
	font-size: 1.3em;
}
hr.line-dots {
	border: none;
	padding: 0.5em 0;
	background: url(../images/dot.png) left center repeat-x;
}
hr.line-solid {}
/* =============== TYPOGRAPHY - LINK STYLES =============== */
/* ----- BUTTON LINK ----- */
.link-button {
	cursor: pointer;
	font-size: 1.1em;
	padding: 5px 12px;
	display: inline-block;
	text-decoration: none;
}
.link-button:hover {
	border-color: #888;
}
a.link-button:hover,
.link-button a:hover {
	text-decoration: none;
}
a.link-button,
.link-button a {
	font-weight: bold;
	color: #fff !important;
}
.link-button.button-light,
.link-button.button-light a {
	color: #333 !important;
}
.link-button.button-light {
	background: #DDD;
	border: 1px solid #D2D2D2;
}
.link-button.button-light:hover {
	background: #EFEFEF;
	border-color: #E2E2E2;
}
.link-button.button-dark {
	background: #333333;
	border: 1px solid #222;
}
.link-button.button-dark:hover {
	background: #555;
	border-color: #444;
}
.link-button.button-green {
	background: #6b8736;
	border: 1px solid #577028;
}
.link-button.button-green:hover {
	background: #80a043;
	border-color: #739237;
}
.link-button.button-orange {
	background: #c27633;
	border: 1px solid #b46a2a;
}
.link-button.button-orange:hover {
	background: #dc904d;
	border-color: #ce8341;
}
.link-button.button-blue {
	background: #386b9b;
	border: 1px solid #2c5e8d;
}
.link-button.button-blue:hover {
	background: #4f84b7;
}
.link-button.button-red {
	background: #9f2b2b;
	border: 1px solid #922323;
}
.link-button.button-red:hover {
	background: #bf3f3f;
	border-color: #b33535;
}
.link-button .link-icon {
	margin: 3px 0;
	line-height: 24px;
}
/* ----- ICON LINK ----- */
.link-icon {
	display: inline-block;
	padding-left: 30px;
	line-height: 24px;
}
/* ----- EXTENDED LINK ----- */
.link-icon-ext {
	display: inline-block;
	padding-right: 22px;
	background: url(../images/icons/icons-ext.png) no-repeat right 0;
}
.jsn-joomla-25 .link-icon-ext.icon-ext-aim,
.link-icon-ext.jsn-icon-ext-aim {
	background-position: right 0;
}
.jsn-joomla-25 .link-icon-ext.icon-ext-archive,
.link-icon-ext.jsn-icon-ext-archive {
	background-position: right -86px;
}
.jsn-joomla-25 .link-icon-ext.icon-ext-mobile,
.link-icon-ext.jsn-icon-ext-mobile {
	background-position: right -172px;
}
.jsn-joomla-25 .link-icon-ext.icon-ext-css,
.link-icon-ext.jsn-icon-ext-css {
	background-position: right -258px;
}
.jsn-joomla-25 .link-icon-ext.icon-ext-application,
.link-icon-ext.jsn-icon-ext-application {
	background-position: right -344px;
}
.jsn-joomla-25 .link-icon-ext.icon-ext-doc,
.link-icon-ext.jsn-icon-ext-doc {
	background-position: right -430px;
}
.jsn-joomla-25 .link-icon-ext.icon-ext-feed,
.link-icon-ext.jsn-icon-ext-feed {
	background-position: right -516px;
}
.jsn-joomla-25 .link-icon-ext.icon-ext-movie,
.link-icon-ext.jsn-icon-ext-movie {
	background-position: right -602px;
}
.jsn-joomla-25 .link-icon-ext.icon-ext-flash,
.link-icon-ext.jsn-icon-ext-flash {
	background-position: right -688px;
}
.jsn-joomla-25 .link-icon-ext.icon-ext-calendar,
.link-icon-ext.jsn-icon-ext-calendar {
	background-position: right -774px;
}
.jsn-joomla-25 .link-icon-ext.icon-ext-mail,
.link-icon-ext.jsn-icon-ext-mail {
	background-position: right -860px;
}
.jsn-joomla-25 .link-icon-ext.icon-ext-quicktime,
.link-icon-ext.jsn-icon-ext-quicktime {
	background-position: right -946px;
}
.jsn-joomla-25 .link-icon-ext.icon-ext-msn,
.link-icon-ext.jsn-icon-ext-msn {
	background-position: right -1032px;
}
.jsn-joomla-25 .link-icon-ext.icon-ext-music,
.link-icon-ext.jsn-icon-ext-music {
	background-position: right -1118px;
}
.jsn-joomla-25 .link-icon-ext.icon-ext-pdf,
.link-icon-ext.jsn-icon-ext-pdf {
	background-position: right -1204px;
}
.jsn-joomla-25 .link-icon-ext.icon-ext-powerpoint,
.link-icon-ext.jsn-icon-ext-powerpoint {
	background-position: right -1290px;
}
.jsn-joomla-25 .link-icon-ext.icon-ext-skype,
.link-icon-ext.jsn-icon-ext-skype {
	background-position: right -1376px;
}
.jsn-joomla-25 .link-icon-ext.icon-ext-torrent,
.link-icon-ext.jsn-icon-ext-torrent {
	background-position: right -1462px;
}
.jsn-joomla-25 .link-icon-ext.icon-ext-font,
.link-icon-ext.jsn-icon-ext-font {
	background-position: right -1548px;
}
.jsn-joomla-25 .link-icon-ext.icon-ext-text,
.link-icon-ext.jsn-icon-ext-text {
	background-position: right -1634px;
}
.jsn-joomla-25 .link-icon-ext.icon-ext-vcard,
.link-icon-ext.jsn-icon-ext-vcard {
	background-position: right -1720px;
}
.jsn-joomla-25 .link-icon-ext.icon-ext-windowsmedia,
.link-icon-ext.jsn-icon-ext-windowsmedia {
	background-position: right -1806px;
}
.jsn-joomla-25 .link-icon-ext.icon-ext-xls,
.link-icon-ext.jsn-icon-ext-xls {
	background-position: right -1892px;
}
.jsn-joomla-25 .link-icon-ext.icon-ext-yahoo,
.link-icon-ext.jsn-icon-ext-yahoo {
	background-position: right -1978px;
}
/* ----- ACTION LINK ----- */
.link-action {
	font-weight: bold;
	padding: 1px 2px;
	text-decoration: none;
}
.link-action:hover {
	color: #ffffff;
	text-decoration: none;
}
/* ----- HIGHLIGHT LINK ----- */
.link-highlight {
	color: #595959;
	font-weight: bold;
	display: block;
	padding: 5px;
	border: 1px solid transparent;
}
.link-highlight:hover {
	color: #000;
	border-color: #d9d9d9;
	text-decoration: none;
	background-color: #f2f2f2;
}
/* ----- TOOLTIPS LINK ----- */
a.link-tooltip {
	position: relative;
}
a.link-tooltip:hover {
	z-index: 25;
}
a.link-tooltip span {
	display: none;
	position: absolute;
	top: 10px;
	left: 10px;
}
a.link-tooltip:hover span {
	display: block;
}
/* =============== TYPOGRAPHY - TABLE STYLES =============== */
table.table-style {
	background: #ffffff;
	border-collapse: collapse;
	border-spacing: 0;
	color: #404040;
}
table.table-style caption {
	padding: 6px 0;
	text-transform: uppercase;
	text-align: center;
	font-size: 1.2em;
	font-weight: bold;
}
table.table-style td,
table.table-style th {
	padding: 10px;
	border-bottom: 1px solid #fff;
}
table.table-style th {
	text-align: left;
}
table.table-style .highlight {
	font-size: 14px;
	font-weight: normal;
	color: #FFF;
}
table.table-style thead th {
	font-size: 1.1em;
	border-top: 6px solid #fff;
	color: #ffffff;
	border-right: 1px groove #fff;
}
table.table-style thead th.highlight {
	border-top: none;
	background-color: #666;
}
table.table-style tbody th,
table.table-style tbody td {
	vertical-align: top;
	text-align: left;
	border-right: 1px solid #FFF;
	border-left: 1px solid #FFF;
}
table.table-style tbody .highlight {
	background-color: #606060;
}
table.table-style tbody tr.odd {
	background: #F3F3F3;
}
table.table-style tbody tr.odd .highlight {
	background-color: #4D4D4D;
}
table.table-style tbody tr:hover th,
table.table-style tbody tr:hover td {
	background: #E8E8E8;
}
table.table-style tbody tr:hover .highlight {
	background: #414141;
}
table.table-style tfoot {
	border: 1px solid #DEDEDE;
}
table.table-style tfoot th,
table.table-style tfoot td {
	border: none;
	padding: 4px 10px;
	background-color: #D3D3D3;
}
table.table-style tfoot td {
	text-align: right;
}
/* ----- COLOR HEADER TABLE ----- */
table.style-colorheader thead th.highlight {
	background-color: #333333;
}
/* ----- COLOR STRIPES TABLE ----- */
table.style-colorstripes {
	color: #fff;
}
table.style-colorstripes thead,
table.style-colorstripes tfoot {
	border: none;
}
table.style-colorstripes tbody .highlight {
	color: #ccc;
	border-top: 1px solid #fff;
}
/* ----- GREY STRIPES TABLE ----- */
table.style-greystripes thead th {
	background: #999;
	border-right: 1px groove #FFF;
}
/* =============== TYPOGRAPHY - LIST STYLES =============== */
/* ----- ARROW LIST ----- */
ul.list-arrow {
	list-style: none;
}
ul.list-arrow li {
	margin-left: 0;
	padding-left: 16px;
	position: relative;
	display: block;
}
ul.list-arrow li:after {
	content: '';
	height: 0;
	position: absolute;
	width: 0;
	border: 0.34em solid transparent;
	left: 5px;
	top: 4px;
}
ul.list-arrow.arrow-red li:after {
	border-left-color: #AE0000;
}
ul.list-arrow.arrow-blue li:after {
	border-left-color:#0060BF;
}
ul.list-arrow.arrow-green li:after {
	border-left-color: #3AA655;
}
/* ----- ICON LIST ----- */
ul.list-icon {
	list-style-type: none;
}
ul.list-icon li {
	margin: 10px 0;
	position: relative;
	padding-left: 30px;
	line-height: 24px;
}
ul.list-icon li .jsn-listbullet {
	top: 0;
	left: 0;
	width: 25px;
	height: 25px;
	position: absolute;
}
/* ----- BULLET NUMBER LIST ----- */
ul.list-number-bullet {
	list-style: none;
}
ul.list-number-bullet li {
	margin-left: 0;
	position: relative;
	padding: 6px 0 6px 36px;
}
ul.list-number-bullet li .jsn-listbullet {
	color: #fff;
	left: 0;
	top: -2px;
	width: 24px;
	position: absolute;
	height: 24px;
	font-size: 14px;
	line-height: 24px;
	text-align: center;
	margin: 4px;
}
/* ----- DIGIT NUMBER LIST ----- */
ul.list-number-digit {
	list-style: none;
}
ul.list-number-digit li {
	margin-left: 0;
	position: relative;
	padding: 8px 0 8px 42px;
}
ul.list-number-digit li .jsn-listbullet {
	top: 0;
	left: 0;
	width: 32px;
	display: block;
	font-size: 32px;
	line-height: 100%;
	text-align: right;
	position: absolute;
}
ul.list-number-digit.digit-blue li .jsn-listbullet {
	color: #4F84B7;
}
ul.list-number-digit.digit-green li .jsn-listbullet {
	color: #80A043;
}
ul.list-number-digit.digit-grey li .jsn-listbullet {
	color: #AAA;
}
ul.list-number-digit.digit-violet li .jsn-listbullet {
	color: #F3667D;
}
ul.list-number-digit.digit-red li .jsn-listbullet {
	color: #BF3F3F;
}
ul.list-number-digit.digit-orange li .jsn-listbullet {
	color: #DC904D;
}
/* ----- HORIZONTAL LIST ----- */
ul.list-horizontal {
	margin: 0;
	list-style: none;
}
ul.list-horizontal li {
	display: inline;
	margin: 0 .5em;
}
/* ----- NOBULLET LIST ----- */
ul.list-nobullet {
	margin: 0;
	list-style: none;
}
ul.list-nobullet li {
	margin-left: 0;
	padding-left: 0;
	list-style: none;
}
/* =============== TYPOGRAPHY - IMAGES STYLES =============== */
img.image-left {
	float: left;
	margin: 0.5em 1em 0.5em 0;
}
img.image-right {
	float: right;
	margin: 0.5em 0.5em 0.5em 1em;
}
img.image-border {
	padding: 3px;
	border: 1px solid #e5e5e5;
}
img.image-margin {
	margin: .5em;
}
/* ============================== MENU ============================== */
/* =============== MENU - GENERAL =============== */
/* ----- RICH MENU STYLE ----- */
.jsn-menutitle,
.jsn-menudescription {
	display: block;
}
.jsn-menudescription {
	color: #999;
	text-transform: none;
	font-size: 0.9em;
}
/* ----- ICONS MENU STYLE ----- */
.menu-iconmenu li[class*="icon-"] > a > span,
.menu-iconmenu li[class*="jsn-icon-"] > a > span {
	padding-left: 32px;
}
.jsn-menu-toggle {
	display: none;
}
/* =============== MENU - MAIN MENU =============== */
/* ----- GENERAL ----- */
div.jsn-modulecontainer ul.menu-mainmenu {
	margin: 0;
	padding: 0;
	clear: both;
}
div.jsn-modulecontainer ul.menu-mainmenu li {
	margin: 0;
	padding: 0;
	float: left;
	position: relative;
	list-style-type: none;
}
div.jsn-modulecontainer ul.menu-mainmenu li a {
	color: #333;
	display: block;
	cursor: pointer;
}
div.jsn-modulecontainer ul.menu-mainmenu > li > a {
	font-size: 1.2em;
	line-height: 24px;
	text-transform: uppercase;
	padding: 12px 15px;
}
div.jsn-modulecontainer ul.menu-mainmenu li > a > span {
	display: block;
}
div.jsn-modulecontainer ul.menu-mainmenu li a span.jsn-menudescription {
	display: none;
}
div.jsn-modulecontainer ul.menu-mainmenu ul {
	visibility: hidden;
	visibility: visible\9;
	display: none\9;
}
div.jsn-modulecontainer ul.menu-mainmenu li:hover > ul {
	visibility: visible;
	display: block\9;
}
ul.menu-mainmenu.jsn-desktop-on-mobile ul {
	display: none;
}
ul.menu-mainmenu.jsn-desktop-on-mobile li:hover > ul {
	display: block;
}
/* ----- ICON MENU STYLE ----- */
div.jsn-modulecontainer ul.menu-mainmenu.menu-iconmenu > li > a span.jsn-menutitle,
div.jsn-modulecontainer ul.menu-mainmenu.menu-iconmenu > li > a > span,
div.jsn-modulecontainer ul.menu-mainmenu.menu-richmenu > li > a > span {
	line-height: 24px;
}
/* ----- RICH MENU STYLE ----- */
div.jsn-modulecontainer ul.menu-mainmenu.menu-richmenu > li > a {
	padding: 12px 15px;
}
div.jsn-modulecontainer ul.menu-mainmenu.menu-richmenu li a span.jsn-menudescription {
	display: block;
}
div.jsn-modulecontainer ul.menu-mainmenu.menu-richmenu > li > a.jsn-nodescription {
	padding: 12px 15px 12px; /* I Changed This From 12px 15px 12px */
}
/* ----- 1st LEVEL ----- */
div.jsn-modulecontainer ul.menu-mainmenu ul {
	margin: 0;
	padding: 0;
	position: absolute;
}
div.jsn-modulecontainer ul.menu-mainmenu ul li a {
	font-size: 1em;
	padding: 10px 15px;
}
div.jsn-modulecontainer ul.menu-mainmenu ul ul {
	top: 0;
}
/* ----- PARENT ITEMS / ADD ARROW TO ITEMS HAVE SUBLEVEL ----- */
div.jsn-modulecontainer ul.menu-mainmenu ul li.parent > a {
	padding-right: 16px;
	background: url(../images/icons/icon-arrow-white.png) 98% center no-repeat;
}
/* ----- HOVER STATE ----- */
div.jsn-modulecontainer ul.menu-mainmenu li:hover > a {
	color: #fff;
	text-decoration: none;
}
div.jsn-modulecontainer ul.menu-mainmenu > li:hover > a {
	background-color: #404040;
}
div.jsn-modulecontainer ul.menu-mainmenu > li:hover > a .jsn-menudescription,
div.jsn-modulecontainer ul.menu-mainmenu > li.active > a .jsn-menudescription {
	color: #eee;
}
/* ----- ACTIVE STATE ----- */
div.jsn-modulecontainer ul.menu-mainmenu li.active > a {
	color: #fff;
}
div.jsn-modulecontainer ul.menu-mainmenu > li.active > a {
	background-color: #d64841;
}
/* ----- ROLLOVER STATE / DISPLAY SUB-MENU OF SELECTED MENU ITEM ----- */
div.jsn-modulecontainer ul.menu-mainmenu li:hover > ul {
	left: auto;
	right: auto;
}
/* =============== MENU - TREE MENU =============== */
/* ----- GENERAL ----- */
div.jsn-modulecontainer ul.menu-treemenu,
div.jsn-modulecontainer ul.menu-treemenu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
div.jsn-modulecontainer ul.menu-treemenu li {
	margin: 0;
	padding: 0;
	position: relative;
}
div.jsn-modulecontainer ul.menu-treemenu > li {
	border-bottom: 1px solid #DDD;
}
div.jsn-modulecontainer ul.menu-treemenu > li.last {
	border-bottom: none;
}
div.jsn-modulecontainer ul.menu-treemenu li a {
	padding: 8px 15px;
	display: block;
	color: #333;
	cursor: pointer;
	text-decoration: none;
}
div.jsn-modulecontainer ul.menu-treemenu > li > a {
	padding: 10px 15px;
}
ul.menu-treemenu li a > span {
	display: block;
	padding-left: 20px;
	background: url(../images/icons/icons-base.png) left -342px no-repeat;
}
div[class*="box-"] ul.menu-treemenu {
	margin: -15px;
}
div[class*="solid-"] ul.menu-treemenu {
	margin: 0 -15px -15px;
}
div[class*="solid-"] ul.menu-treemenu li a,
div[class*="richbox-"] ul.menu-treemenu li a {
	color: #EEE;
}
div[class*="solid-"] ul.menu-treemenu li a span.jsn-menudescription,
div[class*="richbox-"] ul.menu-treemenu li a span.jsn-menudescription {
	color: #ccc;
}
div.solid-1 ul.menu-treemenu > li,
div.richbox-2 ul.menu-treemenu > li {
	border-bottom-color: #444;
}
/* ----- ICON MENU STYLE ----- */
div.jsn-modulecontainer ul.menu-treemenu.menu-iconmenu > li > a {
	padding: 10px 15px;
}
/* ----- RICH MENU STYLE ----- */
div.jsn-modulecontainer ul.menu-treemenu li a span.jsn-menudescription {
	display: none;
}
div.jsn-modulecontainer ul.menu-treemenu.menu-richmenu li a span.jsn-menudescription {
	display: block;
}
div.jsn-modulecontainer ul.menu-treemenu.menu-richmenu > li > a:hover .jsn-menudescription {
	color: #eee;
}
div.jsn-modulecontainer ul.menu-treemenu.menu-richmenu.menu-iconmenu > li > a span {
	line-height: 1.5;
}
/* ---------- NORMAL STATE ---------- */
div.jsn-modulecontainer ul.menu-treemenu ul li {
	margin: 0;
}
div.jsn-modulecontainer ul.menu-treemenu ul li a {
	padding-left: 30px;
}
div.jsn-modulecontainer ul.menu-treemenu ul ul li a {
	padding-left: 50px;
}
div.jsn-modulecontainer ul.menu-treemenu ul ul ul li a {
	padding-left: 70px;
}
div.jsn-modulecontainer ul.menu-treemenu ul ul ul ul li a {
	padding-left: 90px;
}
div.jsn-modulecontainer ul.menu-treemenu ul ul ul ul ul li a {
	padding-left: 110px;
}
/* ----- ACTIVE STATE ----- */
div.jsn-modulecontainer ul.menu-treemenu li.active > a {
	font-weight: bold;
}
/* ----- CURRENT / HOVER STATE ----- */
div.jsn-modulecontainer ul.menu-treemenu li a:hover,
div.jsn-modulecontainer ul.menu-treemenu li a.current {
	color: #ffffff;
}
/* =============== MENU - DIV MENU =============== */
ul.menu-divmenu {
	font-size: 1.15em;
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
}
ul.menu-divmenu:after {
	height: 0;
	clear: both;
	content: ".";
	display: block;
	visibility: hidden;
}
ul.menu-divmenu li {
	margin: 0;
	padding: 0 0.8em;
	float: left;
	display: inline;
	border-right: 0.16em solid #999;
}
ul.menu-divmenu li.first {
	padding-left: 0;
}
ul.menu-divmenu li.last {
	border-right-width: 0;
	padding-right: 0;
}
/* =============== MENU - SIDE MENU =============== */
/* ----- GENERAL ----- */
div.jsn-modulecontainer ul.menu-sidemenu,
div.jsn-modulecontainer ul.menu-sidemenu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
div.jsn-modulecontainer ul.menu-sidemenu li {
	margin: 0;
	padding: 0;
	position: relative;
}
div.jsn-modulecontainer ul.menu-sidemenu li ul {
	position: absolute;
	top: 0;
}
div.jsn-modulecontainer ul.menu-sidemenu > li > a {
	border-bottom: 1px solid #DDD;
}
div.jsn-modulecontainer ul.menu-sidemenu > li.last > a {
	border-bottom: none;
}
div.jsn-modulecontainer ul.menu-sidemenu li a {
	display: block;
	color: #333;
	cursor: pointer;
	padding: 10px 15px;
	text-decoration: none;
}
ul.menu-sidemenu li > a > span {
	display: block;
}
div.jsn-modulecontainer ul.menu-sidemenu ul {
	visibility: hidden;
	visibility: visible\9;
	display: none\9;
}
div.jsn-modulecontainer ul.menu-sidemenu li:hover > ul {
	visibility: visible;
	display: block\9;
}
/* GENERAL IN SPECIFIC MODULE BOXES */
div[class*="box-"] ul.menu-sidemenu {
	margin: -15px;
}
div[class*="solid-"] ul.menu-sidemenu {
	margin: 0 -15px -15px;
}
div[class*=richbox-] ul.menu-sidemenu > li > a {
	border-bottom-color: #666;
	color: #EEE;
}
div[class*=solid-] ul.menu-sidemenu > li > a {
	color: #eee;
}
/* ----- ICON MENU STYLE ----- */
div.jsn-modulecontainer ul.menu-sidemenu.menu-iconmenu > li > a {
	padding: 10px 15px;
}
/* ----- RICH MENU STYLE ----- */
div.jsn-modulecontainer ul.menu-sidemenu li a span.jsn-menudescription {
	display: none;
}
div.jsn-modulecontainer ul.menu-sidemenu.menu-richmenu li a span.jsn-menudescription {
	display: block;
}
div.richbox-1 ul.menu-sidemenu.menu-richmenu li a span.jsn-menudescription,
div.solid-2 ul.menu-sidemenu.menu-richmenu li a span.jsn-menudescription {
	color: #ccc;
}
/* ---------- 1st LEVEL ---------- */
div.jsn-modulecontainer ul.menu-sidemenu ul {
	top: 0;
	position: absolute;
}
div.jsn-modulecontainer ul.menu-sidemenu ul li a {
	color: #CCC;
}
div.jsn-modulecontainer ul.menu-sidemenu ul ul {
	top: 0;
}
/* ----- PARENT ITEMS / ADD ARROW TO ITEMS HAVE SUBLEVEL ----- */
/* 1st LEVEL */
div.jsn-modulecontainer ul.menu-sidemenu li.parent > a {
	padding-right: 16px;
	background: url(../images/icons/icon-arrow-white.png) 98% center no-repeat;
}
/* 1st LEVEL - CUSTOM MODULE */
div[class*=lightbox-] ul.menu-sidemenu > li.parent > a {
	background-image: url(../images/icons/icon-arrow-black.png);
}
div[class*=lightbox-] ul.menu-sidemenu > li.parent:hover > a,
div[class*=lightbox-] ul.menu-sidemenu > li.active > a {
	background-image: url(../images/icons/icon-arrow-white.png);
}
/* ----- HOVER STATE ----- */
div.jsn-modulecontainer ul.menu-sidemenu li:hover > a {
	color: #FFF;
}
div.jsn-modulecontainer ul.menu-sidemenu > li:hover > a {
	background-color: #D9D9D9;
	color: #FFF;
}
div.jsn-modulecontainer ul.menu-sidemenu.menu-richmenu > li.active > a .jsn-menudescription,
div.jsn-modulecontainer ul.menu-sidemenu.menu-richmenu > li:hover > a .jsn-menudescription {
	color: #eee;
}
/* ----- ACTIVE STATE ----- */
div.jsn-modulecontainer ul.menu-sidemenu > li.active > a,
div.jsn-modulecontainer ul.menu-sidemenu ul > li.active > a {
	color: #FFF;
}
/* ----- ROLLOVER STATE / DISPLAY SUB-MENU OF SELECTED MENU ITEM ----- */
div.jsn-modulecontainer ul.menu-sidemenu li:hover > ul {
	left: auto;
}
/* =============== MENU - TOP MENU =============== */
ul.menu-topmenu {
	margin: 0;
	padding: 0;
	list-style: none;
}
ul.menu-topmenu li {
	margin: 0;
	padding: 0;
	display: inline-block;
}
ul.menu-topmenu li a {
	padding: 10px;
	color: #000;
	display: block;
}
ul.menu-topmenu li a:hover {
	color: #fff;
	text-decoration: none;
}
ul.menu-topmenu li a span {
	display: block;
}
/* ----- ICON MENU STYLE ----- */
div.jsn-modulecontainer ul.menu-topmenu.menu-iconmenu > li > a {
	line-height: 24px;
}
/* ============================== MOBILE SWITCH ============================== */
#jsn-mobileswitch {
	display: none;
	float: right;
	width: 50px;
	height: 50px;
}
#jsn-desktopswitch {
	display: none;
	width: 50px;
	height: 100%;
	cursor: pointer;
	float: right;
}
#jsn-mobileswitch a,
#jsn-desktopswitch a {
	display: block;
	width: 100%;
	height: 100%;
	vertical-align: text-top;
	background-image: url("../images/icons/icons-uni.png");
	background-repeat: no-repeat;
}
#jsn-mobileswitch a {
	background-position: 12px -2087px;
}
#jsn-desktopswitch a {
	background-position: 13px -1979px;
}
#jsn-mobileswitch:hover,
#jsn-desktopswitch:hover {
	background-color: rgba(0,0,0,0.2);
}
@media only screen and (max-device-width: 1190px) {
	body.jsn-mobile #jsn-desktopswitch {
		display: block;
		right: 50px;
		height: 50px;
	}
	body.jsn-mobile.jsn-direction-rtl #jsn-desktopswitch {
		right: auto;
		left: 50px;
	}
	body.jsn-desktop #jsn-mobileswitch {
		display: block;
	}
	body.jsn-desktop.jsn-direction-rtl #jsn-mobileswitch {
		float: left;
	}
}
/* ============================== SITE TOOLS ============================== */
/* =============== SITE TOOLS - GENERAL PRESENTATION =============== */
#jsn-sitetoolspanel {
	float: right;
}
body.jsn-desktop.jsn-direction-rtl #jsn-sitetoolspanel {
	float: left;
}
/* ----- DROP DOWN ----- */
ul#jsn-sitetools-menu {
	width: 48px;
	height: 48px;
	margin: 0;
}
ul#jsn-sitetools-menu ul {
	list-style: none;
	padding: 0;
}
ul#jsn-sitetools-menu  li {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	background: url(../images/icons/icons-uni.png) 13px -1880px no-repeat;
	position: relative;
}
ul#jsn-sitetools-menu > li:hover {
	background-image: url(../images/icons/icons-uni-white.png)
}
ul#jsn-sitetools-menu li a {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	display: block;
}
ul#jsn-sitetools-menu li ul {
	z-index: 90;
	position: absolute;
	visibility: hidden;
	right: 0;
	margin: 0;
	padding: 0 3px;
	margin-left: -118px;
	visibility: visible\9;
	display: none\9;
}
ul#jsn-sitetools-menu li:hover ul {
	visibility: visible;
	display: block\9;
}
ul#jsn-sitetools-menu.sitetool-desktop-on-mobile li ul {
	display: none;
}
ul#jsn-sitetools-menu.sitetool-desktop-on-mobile li:hover ul {
	display: block;
}
ul#jsn-sitetools-menu ul li,
ul#jsn-sitetools-inline ul li {
	padding: 3px;
	background: none;
}
ul#jsn-sitetools-menu ul li a,
ul#jsn-sitetools-inline ul li a {
	margin: 2px;
	float: left;
	width: 22px;
	height: 20px;
	display: inline-block;
}
/* ----- INLINE ROW ----- */
ul#jsn-sitetools-inline {
	margin: 0;
	float: left;
	list-style: none;
}
ul#jsn-sitetools-inline ul {
	float: left;
	margin: 8px 0;
}
ul#jsn-sitetools-inline li {
	margin: 0;
	float: left;
	padding: 0;
	list-style: none;
}
ul#jsn-sitetools-inline li a {
	float: left;
	width: 100%;
	height: 100%;
	display: inline-block;
}
ul#jsn-sitetools-inline > li > a {
	display: none;
}
/* =============== SITE TOOLS - TEXT SIZER =============== */
#jsn-selector-small,
#jsn-selector-medium,
#jsn-selector-big,
#jsn-selector-small.current,
#jsn-selector-small:hover,
#jsn-selector-medium.current,
#jsn-selector-medium:hover,
#jsn-selector-big.current,
#jsn-selector-big:hover {
	background-image: url(../images/icons/icons-sitetools-text.png);
	background-repeat: no-repeat;
}
#jsn-selector-small {
	background-position: 0 0;
}
#jsn-selector-medium {
	background-position: -21px 0;
}
#jsn-selector-big {
	background-position: -42px 0;
}
#jsn-selector-small.current,
#jsn-selector-small:hover {
	background-position: 0 -20px;
}
#jsn-selector-medium.current,
#jsn-selector-medium:hover {
	background-position: -21px -20px;
}
#jsn-selector-big.current,
#jsn-selector-big:hover {
	background-position: -42px -20px;
}
/* INLINE MODE */
ul#jsn-sitetools-inline #jsn-selector-small,
ul#jsn-sitetools-inline #jsn-selector-medium,
ul#jsn-sitetools-inline #jsn-selector-big,
ul#jsn-sitetools-inline #jsn-selector-small.current,
ul#jsn-sitetools-inline #jsn-selector-small:hover,
ul#jsn-sitetools-inline #jsn-selector-medium.current,
ul#jsn-sitetools-inline #jsn-selector-medium:hover,
ul#jsn-sitetools-inline #jsn-selector-big.current,
ul#jsn-sitetools-inline #jsn-selector-big:hover {
	background-image: url(../images/icons/icons-sitetools-text-inline.png);
}
/* =============== SITE TOOLS - WIDTH SELECTOR =============== */
#jsn-selector-narrow,
#jsn-selector-wide,
#jsn-selector-float,
#jsn-selector-narrow.current,
#jsn-selector-narrow:hover,
#jsn-selector-wide.current,
#jsn-selector-wide:hover,
#jsn-selector-float.current,
#jsn-selector-float:hover {
	background-image: url(../images/icons/icons-sitetools-width.png);
	background-repeat: no-repeat;
}
#jsn-selector-narrow {
	background-position: 0 0;
}
#jsn-selector-wide {
	background-position: -21px 0;
}
#jsn-selector-float {
	background-position: -42px 0;
}
#jsn-selector-narrow.current,
#jsn-selector-narrow:hover {
	background-position: 0 -20px;
}
#jsn-selector-wide.current,
#jsn-selector-wide:hover {
	background-position: -21px -20px;
}
#jsn-selector-float.current,
#jsn-selector-float:hover {
	background-position: -42px -20px;
}
/* INLINE MODE */
ul#jsn-sitetools-inline #jsn-selector-narrow,
ul#jsn-sitetools-inline #jsn-selector-wide,
ul#jsn-sitetools-inline #jsn-selector-float,
ul#jsn-sitetools-inline #jsn-selector-narrow.current,
ul#jsn-sitetools-inline #jsn-selector-narrow:hover,
ul#jsn-sitetools-inline #jsn-selector-wide.current,
ul#jsn-sitetools-inline #jsn-selector-wide:hover,
ul#jsn-sitetools-inline #jsn-selector-float.current,
ul#jsn-sitetools-inline #jsn-selector-float:hover {
	background-image: url(../images/icons/icons-sitetools-width-inline.png);
}
/* =============== SITE TOOLS - COLOR SELECTOR =============== */
#jsn-selector-blue,
#jsn-selector-red,
#jsn-selector-green,
#jsn-selector-yellow,
#jsn-selector-pink,
#jsn-selector-grey,
#jsn-selector-blue.current,
#jsn-selector-blue:hover,
#jsn-selector-red.current,
#jsn-selector-red:hover,
#jsn-selector-green.current,
#jsn-selector-green:hover,
#jsn-selector-yellow.current,
#jsn-selector-yellow:hover,
#jsn-selector-pink.current,
#jsn-selector-pink:hover,
#jsn-selector-grey.current,
#jsn-selector-grey:hover {
	background-image: url(../images/icons/icons-sitetools-color.png);
	background-repeat: no-repeat;
}
#jsn-selector-blue {
	background-position: -20px 0;
}
#jsn-selector-red {
	background-position: -40px 0;
}
#jsn-selector-green {
	background-position: -60px 0;
}
#jsn-selector-yellow {
	background-position: -80px 0;
}
#jsn-selector-pink {
	background-position: -100px 0;
}
#jsn-selector-grey {
	background-position: -120px 0;
}
#jsn-selector-blue.current,
#jsn-selector-blue:hover {
	background-position: -20px -20px;
}
#jsn-selector-red.current,
#jsn-selector-red:hover {
	background-position: -40px -20px;
}
#jsn-selector-green.current,
#jsn-selector-green:hover {
	background-position: -60px -20px;
}
#jsn-selector-yellow.current,
#jsn-selector-yellow:hover {
	background-position: -80px -20px;
}
#jsn-selector-pink.current,
#jsn-selector-pink:hover {
	background-position: -100px -20px;
}
#jsn-selector-grey.current,
#jsn-selector-grey:hover {
	background-position: -120px -20px;
}
/* INLINE MODE */
ul#jsn-sitetools-inline #jsn-selector-blue,
ul#jsn-sitetools-inline #jsn-selector-red,
ul#jsn-sitetools-inline #jsn-selector-green,
ul#jsn-sitetools-inline #jsn-selector-yellow,
ul#jsn-sitetools-inline #jsn-selector-pink,
ul#jsn-sitetools-inline #jsn-selector-grey,
ul#jsn-sitetools-inline #jsn-selector-blue.current,
ul#jsn-sitetools-inline #jsn-selector-blue:hover,
ul#jsn-sitetools-inline #jsn-selector-red.current,
ul#jsn-sitetools-inline #jsn-selector-red:hover,
ul#jsn-sitetools-inline #jsn-selector-green.current,
ul#jsn-sitetools-inline #jsn-selector-green:hover,
ul#jsn-sitetools-inline #jsn-selector-yellow.current,
ul#jsn-sitetools-inline #jsn-selector-yellow:hover,
ul#jsn-sitetools-inline #jsn-selector-pink.current,
ul#jsn-sitetools-inline #jsn-selector-pink:hover,
ul#jsn-sitetools-inline #jsn-selector-grey.current,
ul#jsn-sitetools-inline #jsn-selector-grey:hover {
	background-image: url(../images/icons/icons-sitetools-color-inline.png);
}
/* ============================== MODULE STYLES ============================== */
h3.jsn-moduletitle {
	margin: 0;
	color: #333;
	font-size: 1.4em;
	margin-bottom: 10px;
	text-transform: uppercase;
}
h3.jsn-moduletitle span {
	display: block;
}
/* =============== MODULE STYLES - MODULE BOXES =============== */
/* ----- GENERAL MODULE STYLES ----- */
div[class*=box-] h3.jsn-moduletitle {
	margin: 0;
	padding: 10px 15px;
}
div[class*=box-] div.jsn-modulecontent {
	padding: 15px;
}
div[class*=solid-] div.jsn-modulecontainer_inner {
	color: #EEE;
}
/* ----- MODULE BOXES - RICHBOX ----- */
div[class*=richbox-] h3.jsn-moduletitle {
	color: #DDD;
	border-bottom-color: #666;
}
div[class*=richbox-] div.jsn-modulecontainer_inner {
	background: #333;
	color: #DDD;
}
/* ----- MODULE BOXES - SOLIDBOX ----- */
div[class*=solid-] div.jsn-modulecontainer_inner {
	padding: 15px;
}
div.solid-1 div.jsn-modulecontainer_inner {
	background-color: #333;
}
div.solid-1 h3.jsn-moduletitle {
	color: #DDD;
}
div.solid-2 h3.jsn-moduletitle {
	color: #FFF;
}
div.solid-2 a {
	color: #FFF;
	text-decoration: underline;
}
div.solid-2 a.link-action {
	text-decoration: none;
	border-color: #FFF;
}
/* ----- MODULE BOXES - LIGHTBOX ----- */
div.lightbox-1 h3.jsn-moduletitle {
	color: #FFF;
	background: #333;
}
div[class*=lightbox-] div.jsn-modulecontainer_inner {
	background: #FFF;
	color: #444;
}
/* =============== MODULE STYLES - MODULE ICONS =============== */
div[class*="icon-"] h3.jsn-moduletitle span.jsn-moduleicon,
div[class*="jsn-icon-"] h3.jsn-moduletitle span.jsn-moduleicon {
	padding-left: 32px;
	line-height: 24px;
}
/* ============================== JOOMLA! DEFAULT EXTENSIONS ============================== */
/* =============== PAGEBREAK - TABS STYLE =============== */
dl.tabs {
	float: left;
	margin-bottom: -1px;
}
dl.tabs dt.tabs {
	float: left;
	margin-left: 3px;
	padding: 4px 10px;
	background-color: #F0F0F0;
	border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
}
dl.tabs dt:hover {
	background-color: #F9F9F9;
}
dl.tabs dt.open {
	background-color: #FFF;
	border-bottom: 1px solid #FFF;
}
dl.tabs dt.tabs h3 {
	margin: 0;
	font-size: 1.1em;
}
dl.tabs dt.tabs h3 a {
	color: #666;
	font-weight: normal;
}
dl.tabs dt.open h3 a,
dl.tabs dt.tabs h3 a:hover {
	color: #000;
	text-decoration: none;
}
dl.tabs dt.open h3 a {
	font-weight: bold;
}
div.current dd.tabs {
	margin: 0;
	padding: 10px;
	clear: both;
	border: 1px solid #CCC;
	background-color: #FFF;
}
/* =============== PAGEBREAK - SLIDERS STYLE =============== */
div.panel {
	border: 1px solid #CCC;
	margin-bottom: 10px;
}
div.panel h3.title {
	margin: 0;
	cursor: pointer;
	font-size: 1.1em;
	padding: 8px 10px;
	border-bottom: 1px solid #CCC;
}
div.panel h3.title:hover,
div.panel h3.pane-toggler-down {
	background-color: #F0F0F0;
}
div.panel h3.title a {
	color: #666;
}
div.panel h3.title a:hover {
	text-decoration: none;
}
div.panel h3.pane-toggler-down {
	border-bottom: none;
}
div.panel h3.pane-toggler-down a {
	color: #000;
}
div.panel div.content > div,
div.panel div.content > p {
	margin: 15px;
}
/* =============== JOOMLA! EXTENSIONS - GENERAL =============== */
/* ----- HEADING ----- */
.contentheading,
.componentheading,
.subheading {
	margin-top: 0;
    color: #666666;
	font-size: 1.8em;
	margin-bottom: 10px;
	text-transform: uppercase;
}
table.contentpaneopen {
	width: 100%;
}
/* ----- FORM ----- */
.jsn-formbuttons {
	text-align: center;
	padding-top: .45em;
}
table.paramlist td {
	padding: .3em;
}
table.paramlist td.paramlist_key {
	width: 150px;
}
.inputbox {
	border: 1px solid #CCC;
	background-color: #FFF;
	padding: 2px 4px;
	
}
.inputbox:active, .inputbox:focus {
	border-color: #b5b5b5;
	background-color: #f2f2f2;
}
select.inputbox {
	padding: 2px;
}
#jsn-page .button {
	display: inline-block;
	*display: inline;
	padding: 4px 10px;
	margin: 0 0 2px;
	font-size: 13px;
	line-height: 18px;
	*line-height: 20px;
	color: #eee;
	text-align: center;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
	vertical-align: middle;
	cursor: pointer;
	background-color: #999;
}
.button:hover, .button:active {
	background-color: #777;
	color: #fff;
}
/* ----- TOOLTIPS ----- */
.jsn-joomla-25 .tip {
	float: left;
	background: #ffc;
	border: 1px solid #D4D5AA;
	padding: 5px;
	max-width: 200px;
	z-index: 88;
	position: relative;
}
.jsn-joomla-25 .tip-title {
	padding: 0;
	margin: 0;
	font-size: 100%;
	font-weight: bold;
	margin-top: -15px;
	padding-top: 15px;
	padding-bottom: 5px;
	background: url(../../system/images/selector-arrow.png) no-repeat;
}
.jsn-joomla-25 .tip-text {
	font-size: 100%;
	margin: 0;
}
/* ----- POP-UP / PRINT WINDOWS ----- */
body.contentpane {
	color: #000000;
	background: #FFFFFF;
}
body.contentpane div.com-content {
	padding: 1em;
}
/* =============== JOOMLA! EXTENSIONS - COM_CONTENT =============== */
/* ----- ARTICLE METADATA ----- */
.jsn-article-metadata {
	margin-bottom: 15px;
}
.jsn-article-metadata > span {
	padding-right: 10px;
	border-right: 1px solid #ccc;
	margin-right: 10px;
}
.jsn-article-metadata > span:last-child {
	padding-right: 0;
	margin-right: 0;
	border: none;
}
/* ----- ARTICLE TOOLBAR ----- */
.jsn-article-toolbar {
	margin-bottom: 15px;
	background-color: #f4f4f4;
}
.jsn-article-toolbar .btn-group.pull-right {
	float: right;
	padding: 5px;
}
.jsn-article-toolbar dl {
	padding: 5px;
}
#article-index {
    float: right;
    margin: 0 0 1em 1em;
    background-color: #F2F2F2;
    border: 1px solid #D9D9D9;
}
#article-index ul {
	margin: 0;
	list-style-type: none;
}
#article-index ul li {
	margin: 0;
	padding: 0.25em 0.6em;
}
/* ----- ARTICLE INFO ----- */
.jsn-article-info {
	padding: 10px;
}
.jsn-article-info p:first-child {
	margin-top: 0;
}
.jsn-article-info p:last-child {
	margin-bottom: 0;
}
.author,
.createdate,
.publishdate,
.hits {
	margin: 10px 0;
	color: #595959;
	font-size: 0.9em;
}
.author,
.createdate,
.publishdate {
	padding-left: 22px;
	background-image: url(../images/icons/icons-base.png);
	background-repeat: no-repeat;
}
.author {
	background-position: 0 0;
}
.createdate,
.publishdate {
	background-position: 0 -86px;
}
.modifydate {
	margin: 1em 0;
	text-align: right;
	color: #999999;
	font-style: italic;
}
/* ----- 2 BUTTON PRINT, EMAIL CONTAINER ----- */
ul.jsn-article-tools {
	margin: 10px;
	float: right;
	list-style: none;
}
ul.jsn-article-tools li {
	float: left;
	margin: 0 0 0 10px;
}
ul.jsn-article-tools li a {
	float: left;
	display: block;
	height: 16px;
	width: 16px;
	background: url(../images/icons/icons-base.png) left top no-repeat;
}
ul.jsn-article-tools li a.no-icon {
	background: none;
	width: auto;
	height: auto;
}
ul.jsn-article-tools li.jsn-article-icon-edit a {
	background: none;
}
ul.jsn-article-tools li a.jsn-article-print-button {
	background-position: 0 -430px;
}
ul.jsn-article-tools li a.jsn-article-email-button {
	background-position: 0 -516px;
}
ul.jsn-article-tools li a:hover {
	text-decoration: none;
}
.jsn-article-submit {
	margin-top: 0.8em;
}
.jsn-joomla-25 .item-title-entry .icon-edit,
.item-title-entry .jsn-icon-edit {
	display: inline-block;
}
/* ----- SUBMIT AN ARTICLE ----- */
.field-title {
	width: 120px;
	float: left;
}
.formelm, .formelm-area {
	margin: 5px 0;
	clear: both;
}
/* ----- READ MORE ----- */
a.readon {
	color: #000;
	cursor: pointer;
	font-size: 1.1em;
	padding: 5px 12px;
	font-weight: bold;
	border: #999 1px solid;
	display: inline-block;
	text-decoration: none;
	background: #DDD;
}
a.readon:hover {
	border-color: #666;
	background: #EFEFEF;
}
/* ----- TABLE OF CONTENT ----- */
table.contenttoc {
	margin: 0 0 1em 1em;
	border: 1px solid #D9D9D9;
	background: #f2f2f2;
	float: right;
}
table.contenttoc th {
	padding: .4em;
	background: url(../images/dot.png) bottom repeat-x;
	font-weight: bold;
	text-align: center;
}
table.contenttoc td {
	padding: .25em .6em;
}
/* PAGE LINK IN TOC */
a.toclink {
	font-size: .9em;
}
/* PAGE NUMBER SHOWING "PAGE 1 OF ..." UNDER TOC */
div.pagenavcounter {
	color: #595959;
	margin: .5em 0;
	font-size: .9em;
	font-weight: bold;
}
/* PAGE NAVIGATION */
div.pagenavbar div {
	color: #999999;
	font-weight: bold;
	font-size: .9em;
}
/* ----- SECTION / CATEGORY BLOG LAYOUT ----- */
/* SEPARATOR BETWEEN ARTICLES */
div.article_separator {
	height: 1em;
	clear: both;
}
div.row_separator {
	height: 1em;
	clear: both;
}
/* ARTICLE COLUMN CONTAINER */
.jsn-articlecols {
	float: left;
}
.jsn-articlecols .jsn-article {
	padding: 0 5px;
}
/* "MORE ARTICLES..." PANEL HEADING TEXT */
div.blog_more {
	padding: 10px 15px;
	margin: 0 0 1em 0;
	border: 1px solid #e5e5e5;
	background-color: #F4F4F4;
}
/* PAGE PAGINATION */
ul.pagenav,
div.pagination ul {
	list-style-type: none;
}
ul.pagenav {
	text-align: center;
}
ul.pagenav li,
div.pagination ul li {
	color: #999;
	margin: 0;
	display: inline-block;
	font-weight: bold;
}
div.pagination ul li {
	font-size: 0.9em;
}
ul.pagenav li a,
div.pagination ul li a {
	margin: 0 15px;
}
ul.jsn-pagination {
	list-style-type: none;
}
ul.jsn-pagination li {
	display: inline-block !important; /*override compression*/
	margin: 10px 2px;
}
ul.jsn-pagination li a,
ul.jsn-pagination li span {
	font-weight: bold;
	padding: 3px 8px;
	border: 1px solid #CCC;
	background-color: #EAEAEA;
	color: #999;
}
ul.jsn-pagination li span {
	background-color: transparent;
}
ul.jsn-pagination li a:hover {
	color: #000;
	text-decoration: none;
}
ul.jsn-pagination li.navigation-page span {
	border: none;
	padding: 4px 9px;
	color: #fff;
}
ul.jsn-pagination,
p.jsn-pageinfo {
	font-size: 0.9em;
	text-align: center;
	margin: 20px 0 10px 0;
}
/* BLOG PAGES NAV LINK */
a.pagenav {
	text-transform: uppercase;
}
/* ----- CATEGORY LIST LAYOUT ----- */
/* DESCRIPTION IN CONTENT TABLE AND COMPONENT PAGE */
.contentdescription {
	padding: .5em 0;
}
/* TABLE IN CATEGORY TABLE PAGE */
.sectiontableheader {
	padding: 10px;
	font-weight: bold;
	font-size: 1.1em;
	color: #FFFFFF;
}
.sectiontableheader img {
	margin: 0;
	vertical-align: text-top;
}
.sectiontableheader a {
	color: #ffffff;
	text-decoration: underline;
}
.sectiontableheader a:hover {
	text-decoration: none;
}
/* TABLE FILTER */
.jsn-infofilter {
	text-align: right;
}
.jsn-titlefilter {
	float: left;
}
.archived-article-list .jsn-infofilter {
	text-align: left;
}
/* TABLE'S ROW */
tr.sectiontableentry1 td,
tr.sectiontableentry2 td {
	padding: 8px 10px;
	border-bottom: 1px solid #e5e5e5;
}
tr.sectiontableentry2 td {
}
/* ----- SECTION LAYOUT ----- */
/* LINKS IN SECTION TABLE PAGE */
a.category {
	font-weight: bold;
}
/* =============== JOOMLA! EXTENSIONS - COM_CONTACT =============== */
/* ----- STANDARD CONTACT LAYOUT ----- */
div.com-contact .jsn-contact-image {
	float: right;
	margin: 10px 5px 0 0;
}
div.com-contact .contact-position {
	margin: 5px 0 0 0;
}
div.com-contact .contact-vcard {
	margin: 0 0 5px 0;
}
div.com-contact .jicons-icons {
	float: left;
}
div.com-contact .contact-address {
	margin-top: 5px;
}
div.com-contact .contact-address p {
	margin: 0;
	padding-left: 20px;
}
div.com-contact .contact-contactinfo p,
div.com-contact .contact-miscinfo p {
	margin: 5px 0;
}
div.com-contact .contact-contactinfo .jicons-icons,
div.com-contact .contact-miscinfo .jicons-icons {
	margin-right: 4px;
}
div.com-contact div.contact-form fieldset {
	padding: 0 10px;
}
div.com-contact div.contact-form dt {
	margin: 10px 0 5px 0;
}
div.com-contact div.contact-form dd {
	margin-left: 0;
}
div.com-contact .form-required {
	color: #EF593B;
	font-weight: bold;
	text-align: right;
}
div.contact .dl-horizontal dd {
	margin-left: 25px;
}
/* =============== JOOMLA! EXTENSIONS - COM_SEARCH =============== */
div.com-search #searchForm .search-phrase {
	margin-left: 95px;
}
div.com-search #searchForm .search-range input,
div.com-search #searchForm .search-phrase input {
	margin: 0 0 0 5px;
	vertical-align: middle;
}
div.com-search #searchForm [class*="search-"] label,
div.com-search #searchForm .search-field-title {
	width: 100px;
	line-height: 21px;
	text-align: left;
	padding-right: 3px;
	display: inline-block;
}
div.com-search #searchForm .search-range label,
div.com-search #searchForm .search-phrase label {
	width: auto;
}
div.com-search #searchForm .search-ordering select {
	padding: 2px;
}
div.com-search #searchForm .search-range label {
	line-height: 21px;
}
.jsn-joomla-30 div.search .inputbox {
	width: auto;
	max-width: 100%;
}
/* ----- KEYWORD GIGHLIGHT IN SEARCH RESULT ----- */
span.highlight {
	padding: .2em;
	background: #FFFFAA;
}
/* =============== JOOMLA! EXTENSIONS - COM_WEBLINK =============== */
table.jsn-infotable .description p {
	margin: 0;
}
table.jsn-infotable ul.actions {
	display: inline;
}
table.jsn-infotable ul.actions li {
	display: inline;
	margin: 0 0 0 5px;
}
#editor-xtd-buttons {
	float: left;
}
/* =============== JOOMLA! EXTENSIONS - COM_NEWSFEED =============== */
div.com-newsfeed td.jsn-table-column-name {
	font-weight: bold;
}
div.com-newsfeed table {
	width: 100%;
	border-collapse: collapse;
}
div.com-newsfeed td {
	border: 1px solid #ccc;
	padding: 10px 5px;
	border-top: none;
}
div.com-newsfeed th {
	background: #999;
	padding: 10px 5px;
	border: 1px solid #999;
	border-bottom: none;
}
div.com-newsfeed th a {
	color: #fff;
}
div.com-newsfeed td.item-num-art {
	text-align: center;
}
/* =============== JOOMLA! EXTENSIONS - COM_USER =============== */
/* ----- USER FORM LAYOUT ----- */
div.com-user div.default-login {
	width: 350px;
	margin: 0 auto;
	padding: 10px;
	background-color: #F4F4F4;
	border: 1px solid #E5E5E5;
}
/* ----- REGISTER FORM ----- */
.jsn-formRow {
	margin: 8px 0;
}
.jsn-formRow .jsn-formRow-lable {
	float: left;
	width: 170px;
}
button#jform_profile_dob_img.btn {
	height: 30px;
}
/* =============== JOOMLA! EXTENSIONS - POPUP COMPONENT =============== */
#jsn-content-popup .com-content,
#jsn-content-popup #mailto-window {
	max-width: 1018px;
	margin: 1em auto;
}
#jsn-content-popup .com-content {
    padding-top: 0;
}
#mailto-window {
	padding: 15px;
	position: relative;
	background: #f5f5f5;
	border: solid 1px #ddd;
}
#mailto-window h2 {
	padding: 3px 0;
	margin: 0 0 10px;
	font: bold 1.2em "Times New Roman", Times, serif;
}
#mailto-window label {
	width: 8em;
	display: inline-block;
}
#mailto-window .mailto-close {
	right: 0;
	top: 5px;
	background: none;
	position: absolute;
}
#mailto-window .mailto-close a {
	display: block;
	min-width: 25px;
	min-height: 25px;
	overflow: visible;
	background: url(../images/icons/icon-close.png) 0 0 no-repeat;
}
#mailto-window .mailto-close a span {
	top: -3000px;
	left: -3000px;
	display: inline;
	position: absolute;
}
#mailto-window .inputbox {
	padding: 3px;
	border: 1px solid #ccc;
	background: #FFF url(../images/backgrounds/popup-bg.png) repeat-x 0 0;
}
#mailto-window p {
    margin: 20px 0 8px 0;
}
#mailto-window button {
	cursor: pointer;
	margin:0 5px 0 0;
	padding: 3px 10px;
	border: 1px solid #ccc;
	font: bold 1em "Times New Roman", Times, serif;
	background-image:linear-gradient(-90deg,rgb(255,255,255) 0%,rgb(216,216,216) 100%);
	background-image:-moz-linear-gradient(-90deg,rgb(255,255,255) 0%,rgb(216,216,216) 100%); 
	background-image:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(0, rgb(255,255,255)),color-stop(1, rgb(216,216,216)));
	background-image:-webkit-linear-gradient(-90deg,rgb(255,255,255) 0%,rgb(216,216,216) 100%);
	background-image:-o-linear-gradient(-90deg,rgb(255,255,255) 0%,rgb(216,216,216) 100%);
	background-image:-ms-linear-gradient(-90deg,rgb(255,255,255) 0%,rgb(216,216,216) 100%);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffffff,endColorstr=#ffd8d8d8,GradientType=0)";
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffffff,endColorstr=#ffd8d8d8,GradientType=0);	
}
#mailto-window .formelm,
#mailto-window .formelm-area {
    clear: both;
    margin: 5px 0;
}
/* =============== JOOMLA! EXTENSIONS - SYSTEM MESSAGES =============== */
/* ----- SYSTEM STANDARD MESSAGES ----- */
#system-message {
/* 	margin-bottom: 20px; */
	margin-bottom: 0px;
}
#system-message dd.message ul {
	text-indent: 0;
	padding-left: 40px;
	background: #c3d2e5 url(../../../media/system/images/notice-info.png) 4px center no-repeat;
}
#system-message ul li {
	margin-left: 0;
}
/* ----- SYSTEM ERROR MESSAGES ----- */
#system-message dd.error ul {
	background: #e6c0c0 url(../../../media/system/images/notice-alert.png) 4px center no-repeat;
}
/* ----- SYSTEM NOTICE MESSAGES ----- */
#system-message dd.notice ul {
	color: #cc0000;
	border-top: 3px solid #f0dc7e;
	border-bottom: 3px solid #f0dc7e;
	background: #efe7b8 url(../../../media/system/images/notice-note.png) 4px center no-repeat;
}
/* =============== JOOMLA! EXTENSIONS - MOD_BREADCRUMB =============== */
span.breadcrumbs {
	display: block;
	font-size: 1.1em;
}
span.breadcrumbs a,
span.breadcrumbs span {
	color: #999999;
	padding-right: 30px;
	text-decoration: none;
	background: url(../images/icons/icon-arrow-black.png) 90% center no-repeat;
	font-weight: bold;
}
span.breadcrumbs a:hover {
	text-decoration: underline;
}
span.breadcrumbs span.current {
	color: #404040;
	font-weight: bold;
	background: none;
}
.breadcrumb {
	padding: 0;
	margin: 0;
	list-style: none;
	background: none;
}
.breadcrumb li {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	text-shadow: 0 1px 0 #fff;
	margin: 0;
}
.breadcrumb li a,
.breadcrumb li span {
	color: #999;
	font-weight: bold;
}
.breadcrumb li span + span {
	font-weight: bold;
}
.breadcrumb span.divider {
	padding: 0 10px;
	background: url("../images/icons/icon-arrow-black.png")90% center no-repeat;
}
.breadcrumb li.active:first-child span.divider {
	padding: 0 20px 0 0;
	background: none;
}
/* =============== JOOMLA! EXTENSIONS - MOD_LOGIN =============== */
#form-login fieldset.input {
	border: none;
	padding: 0;
}
#form-login div.button-wrapper {
	text-align: center;
	margin-top: 0.5em;
}
#form-login [id^="form-login-"] {
	margin: 0 0 6px 0;
}
form#login-form a.btn {
	min-height: 15px;
}
form#login-form .icon-arrow-right {
	background-position: -458px -73px;
}
/* =============== JOOMLA! EXTENSIONS - MOD_SEARCH =============== */
#jsn-pos-top div.search {
	float: right;
}
#jsn-pos-top div.search input#mod-search-searchword {
	padding: 2px 0 2px 25px;
	background: #FFF url(../images/icons/icons-base.png) 5px -170px no-repeat;
}
/* =============== JOOMLA! EXTENSIONS - MOD_NEWSFLASH =============== */
.jsn-mod-newsflash.jsn-horizontal-container .jsn-article {
	padding: 0 1em;
}
.jsn-mod-newsflash .contentheading {
	margin: 0 0 0.3em 0;
}
.jsn-mod-newsflash .article-separator {
	display: block;
    height: 0.5em;
}
/* =============== JOOMLA! EXTENSIONS - MOD_STATISTICS =============== */
dl.stats-module dt {
	float: left;
	width: 65%;
}
dl.stats-module dd {
	margin: 0;
}
/* ============================== MISC ============================== */
/* =============== GENERAL ICON ASSIGNMENT =============== */
.jsn-joomla-25 .link-icon[class*="icon-"],
.jsn-joomla-25 .menu-iconmenu [class*="icon-"] > a > span,
.jsn-joomla-25 .list-icon[class*="icon-"] li .jsn-listbullet,
.jsn-joomla-25 [class*="icon-"] h3.jsn-moduletitle span.jsn-moduleicon,
.link-icon[class*="jsn-icon-"],
.menu-iconmenu [class*="jsn-icon-"] > a > span,
[class*="lightbox-"] .menu-iconmenu [class*="icon-"].active > a > span,
.list-icon[class*="jsn-icon-"] li .jsn-listbullet,
[class*="jsn-icon-"] h3.jsn-moduletitle span.jsn-moduleicon {
	background-image: url(../images/icons/icons-uni.png);
	background-repeat: no-repeat;
}
.jsn-joomla-25 .link-icon.icon-article,
.jsn-joomla-25 .menu-iconmenu .icon-article > a > span,
.jsn-joomla-25 .list-icon.icon-article li .jsn-listbullet,
.jsn-joomla-25 .icon-article h3.jsn-moduletitle span.jsn-moduleicon,
.link-icon.jsn-icon-article,
.menu-iconmenu .jsn-icon-article > a > span,
.list-icon.jsn-icon-article li .jsn-listbullet,
.jsn-icon-article h3.jsn-moduletitle span.jsn-moduleicon {
	background-position: 0 0;
}
.jsn-joomla-25 .link-icon.icon-calendar,
.jsn-joomla-25 .menu-iconmenu .icon-calendar > a > span,
.jsn-joomla-25 .list-icon.icon-calendar li .jsn-listbullet,
.jsn-joomla-25 .icon-calendar h3.jsn-moduletitle span.jsn-moduleicon,
.link-icon.jsn-icon-calendar,
.menu-iconmenu .jsn-icon-calendar > a > span,
.list-icon.jsn-icon-calendar li .jsn-listbullet,
.jsn-icon-calendar h3.jsn-moduletitle span.jsn-moduleicon {
	background-position: 0 -82px;
}
.jsn-joomla-25 .link-icon.icon-cart,
.jsn-joomla-25 .menu-iconmenu .icon-cart > a > span,
.jsn-joomla-25 .list-icon.icon-cart li .jsn-listbullet,
.jsn-joomla-25 .icon-cart h3.jsn-moduletitle span.jsn-moduleicon,
.link-icon.jsn-icon-cart,
.menu-iconmenu .jsn-icon-cart > a > span,
.list-icon.jsn-icon-cart li .jsn-listbullet,
.jsn-icon-cart h3.jsn-moduletitle span.jsn-moduleicon {
	background-position: 0 -168px;
}
.jsn-joomla-25 .link-icon.icon-comment,
.jsn-joomla-25 .menu-iconmenu .icon-comment > a > span,
.jsn-joomla-25 .list-icon.icon-comment li .jsn-listbullet,
.jsn-joomla-25 .icon-comment h3.jsn-moduletitle span.jsn-moduleicon,
.link-icon.jsn-icon-comment,
.menu-iconmenu .jsn-icon-comment > a > span,
.list-icon.jsn-icon-comment li .jsn-listbullet,
.jsn-icon-comment h3.jsn-moduletitle span.jsn-moduleicon {
	background-position: 0 -254px;
}
.jsn-joomla-25 .link-icon.icon-display,
.jsn-joomla-25 .menu-iconmenu .icon-display > a > span,
.jsn-joomla-25 .list-icon.icon-display li .jsn-listbullet,
.jsn-joomla-25 .icon-display h3.jsn-moduletitle span.jsn-moduleicon,
.link-icon.jsn-icon-display,
.menu-iconmenu .jsn-icon-display > a > span,
.list-icon.jsn-icon-display li .jsn-listbullet,
.jsn-icon-display h3.jsn-moduletitle span.jsn-moduleicon {
	background-position: 0 -339px;
}
.jsn-joomla-25 .link-icon.icon-download,
.jsn-joomla-25 .menu-iconmenu .icon-download > a > span,
.jsn-joomla-25 .list-icon.icon-download li .jsn-listbullet,
.jsn-joomla-25 .icon-download h3.jsn-moduletitle span.jsn-moduleicon,
.link-icon.jsn-icon-download,
.menu-iconmenu .jsn-icon-download > a > span,
.list-icon.jsn-icon-download li .jsn-listbullet,
.jsn-icon-download h3.jsn-moduletitle span.jsn-moduleicon {
	background-position: 0 -426px;
}
.jsn-joomla-25 .link-icon.icon-folder,
.jsn-joomla-25 .menu-iconmenu .icon-folder > a > span,
.jsn-joomla-25 .list-icon.icon-folder li .jsn-listbullet,
.jsn-joomla-25 .icon-folder h3.jsn-moduletitle span.jsn-moduleicon,
.link-icon.jsn-icon-folder,
.menu-iconmenu .jsn-icon-folder > a > span,
.list-icon.jsn-icon-folder li .jsn-listbullet,
.jsn-icon-folder h3.jsn-moduletitle span.jsn-moduleicon {
	background-position: 0 -513px;
}
.jsn-joomla-25 .link-icon.icon-help,
.jsn-joomla-25 .menu-iconmenu .icon-help > a > span,
.jsn-joomla-25 .list-icon.icon-help li .jsn-listbullet,
.jsn-joomla-25 .icon-help h3.jsn-moduletitle span.jsn-moduleicon,
.link-icon.jsn-icon-help,
.menu-iconmenu .jsn-icon-help > a > span,
.list-icon.jsn-icon-help li .jsn-listbullet,
.jsn-icon-help h3.jsn-moduletitle span.jsn-moduleicon {
	background-position: 0 -598px;
}
.jsn-joomla-25 .link-icon.icon-home,
.jsn-joomla-25 .menu-iconmenu .icon-home > a > span,
.jsn-joomla-25 .list-icon.icon-home li .jsn-listbullet,
.jsn-joomla-25 .icon-home h3.jsn-moduletitle span.jsn-moduleicon,
.link-icon.jsn-icon-home,
.menu-iconmenu .jsn-icon-home > a > span,
.list-icon.jsn-icon-home li .jsn-listbullet,
.jsn-icon-home h3.jsn-moduletitle span.jsn-moduleicon {
	background-position: 0 -684px;
}
.jsn-joomla-25 .link-icon.icon-image,
.jsn-joomla-25 .menu-iconmenu .icon-image > a > span,
.jsn-joomla-25 .list-icon.icon-image li .jsn-listbullet,
.jsn-joomla-25 .icon-image h3.jsn-moduletitle span.jsn-moduleicon,
.link-icon.jsn-icon-image,
.menu-iconmenu .jsn-icon-image > a > span,
.list-icon.jsn-icon-image li .jsn-listbullet,
.jsn-icon-image h3.jsn-moduletitle span.jsn-moduleicon {
	background-position: 0 -770px;
}
.jsn-joomla-25 .link-icon.icon-info,
.jsn-joomla-25 .menu-iconmenu .icon-info > a > span,
.jsn-joomla-25 .list-icon.icon-info li .jsn-listbullet,
.jsn-joomla-25 .icon-info h3.jsn-moduletitle span.jsn-moduleicon,
.link-icon.jsn-icon-info,
.menu-iconmenu .jsn-icon-info > a > span,
.list-icon.jsn-icon-info li .jsn-listbullet,
.jsn-icon-info h3.jsn-moduletitle span.jsn-moduleicon {
	background-position: 0 -856px;
}
.jsn-joomla-25 .link-icon.icon-mail,
.jsn-joomla-25 .menu-iconmenu .icon-mail > a > span,
.jsn-joomla-25 .list-icon.icon-mail li .jsn-listbullet,
.jsn-joomla-25 .icon-mail h3.jsn-moduletitle span.jsn-moduleicon,
.link-icon.jsn-icon-mail,
.menu-iconmenu .jsn-icon-mail > a > span,
.list-icon.jsn-icon-mail li .jsn-listbullet,
.jsn-icon-mail h3.jsn-moduletitle span.jsn-moduleicon {
	background-position: 0 -941px;
}
.jsn-joomla-25 .link-icon.icon-online,
.jsn-joomla-25 .menu-iconmenu .icon-online > a > span,
.jsn-joomla-25 .list-icon.icon-online li .jsn-listbullet,
.jsn-joomla-25 .icon-online h3.jsn-moduletitle span.jsn-moduleicon,
.link-icon.jsn-icon-online,
.menu-iconmenu .jsn-icon-online > a > span,
.list-icon.jsn-icon-online li .jsn-listbullet,
.jsn-icon-online h3.jsn-moduletitle span.jsn-moduleicon {
	background-position: 0 -1027px;
}
.jsn-joomla-25 .link-icon.icon-rss,
.jsn-joomla-25 .menu-iconmenu .icon-rss > a > span,
.jsn-joomla-25 .list-icon.icon-rss li .jsn-listbullet,
.jsn-joomla-25 .icon-rss h3.jsn-moduletitle span.jsn-moduleicon,
.link-icon.jsn-icon-rss,
.menu-iconmenu .jsn-icon-rss > a > span,
.list-icon.jsn-icon-rss li .jsn-listbullet,
.jsn-icon-rss h3.jsn-moduletitle span.jsn-moduleicon {
	background-position: 0 -1114px;
}
.jsn-joomla-25 .link-icon.icon-search,
.jsn-joomla-25 .menu-iconmenu .icon-search > a > span,
.jsn-joomla-25 .list-icon.icon-search li .jsn-listbullet,
.jsn-joomla-25 .icon-search h3.jsn-moduletitle span.jsn-moduleicon,
.link-icon.jsn-icon-search,
.menu-iconmenu .jsn-icon-search > a > span,
.list-icon.jsn-icon-search li .jsn-listbullet,
.jsn-icon-search h3.jsn-moduletitle span.jsn-moduleicon {
	background-position: 0 -1200px;
}
.jsn-joomla-25 .link-icon.icon-selection,
.jsn-joomla-25 .menu-iconmenu .icon-selection > a > span,
.jsn-joomla-25 .list-icon.icon-selection li .jsn-listbullet,
.jsn-joomla-25 .icon-selection h3.jsn-moduletitle span.jsn-moduleicon,
.link-icon.jsn-icon-selection,
.menu-iconmenu .jsn-icon-selection > a > span,
.list-icon.jsn-icon-selection li .jsn-listbullet,
.jsn-icon-selection h3.jsn-moduletitle span.jsn-moduleicon {
	background-position: 0 -1286px;
}
.jsn-joomla-25 .link-icon.icon-settings,
.jsn-joomla-25 .menu-iconmenu .icon-settings > a > span,
.jsn-joomla-25 .list-icon.icon-settings li .jsn-listbullet,
.jsn-joomla-25 .icon-settings h3.jsn-moduletitle span.jsn-moduleicon,
.link-icon.jsn-icon-settings,
.menu-iconmenu .jsn-icon-settings > a > span,
.list-icon.jsn-icon-settings li .jsn-listbullet,
.jsn-icon-settings h3.jsn-moduletitle span.jsn-moduleicon {
	background-position: 0 -1372px;
}
.jsn-joomla-25 .link-icon.icon-star,
.jsn-joomla-25 .menu-iconmenu .icon-star > a > span,
.jsn-joomla-25 .list-icon.icon-star li .jsn-listbullet,
.jsn-joomla-25 .icon-star h3.jsn-moduletitle span.jsn-moduleicon,
.link-icon.jsn-icon-star,
.menu-iconmenu .jsn-icon-star > a > span,
.list-icon.jsn-icon-star li .jsn-listbullet,
.jsn-icon-star h3.jsn-moduletitle span.jsn-moduleicon {
	background-position: 0 -1458px;
}
.jsn-joomla-25 .link-icon.icon-statistics,
.jsn-joomla-25 .menu-iconmenu .icon-statistics > a > span,
.jsn-joomla-25 .list-icon.icon-statistics li .jsn-listbullet,
.jsn-joomla-25 .icon-statistics h3.jsn-moduletitle span.jsn-moduleicon,
.link-icon.jsn-icon-statistics,
.menu-iconmenu .jsn-icon-statistics > a > span,
.list-icon.jsn-icon-statistics li .jsn-listbullet,
.jsn-icon-statistics h3.jsn-moduletitle span.jsn-moduleicon {
	background-position: 0 -1543px;
}
.jsn-joomla-25 .link-icon.icon-user,
.jsn-joomla-25 .menu-iconmenu .icon-user > a > span,
.jsn-joomla-25 .list-icon.icon-user li .jsn-listbullet,
.jsn-joomla-25 .icon-user h3.jsn-moduletitle span.jsn-moduleicon,
.link-icon.jsn-icon-user,
.menu-iconmenu .jsn-icon-user > a > span,
.list-icon.jsn-icon-user li .jsn-listbullet,
.jsn-icon-user h3.jsn-moduletitle span.jsn-moduleicon {
	background-position: 0 -1630px;
}
.jsn-joomla-25 .link-icon.icon-downarrow,
.jsn-joomla-25 .menu-iconmenu .icon-downarrow > a > span,
.jsn-joomla-25 .list-icon.downarrow li .jsn-listbullet,
.jsn-joomla-25.icon-downarrow h3.jsn-moduletitle span.jsn-moduleicon,
.link-icon.jsn-icon-downarrow,
.menu-iconmenu .jsn-icon-downarrow > a > span,
.list-icon.downarrow li .jsn-listbullet,
.icon-downarrow h3.jsn-moduletitle span.jsn-moduleicon {
	background-position: 0 -1713px;
}
.jsn-joomla-25 .link-icon.icon-monitor,
.jsn-joomla-25 .menu-iconmenu .icon-monitor > a > span,
.jsn-joomla-25 .list-icon.monitor li .jsn-listbullet,
.jsn-joomla-25 .icon-monitor h3.jsn-moduletitle span.jsn-moduleicon,
.link-icon.jsn-icon-monitor,
.menu-iconmenu .jsn-icon-monitor > a > span,
.list-icon.monitor li .jsn-listbullet,
.jsn-icon-monitor h3.jsn-moduletitle span.jsn-moduleicon {
	background-position: 0 -1798px;
}
/* DEFINE WHITE ICONS DISPLAY */
#jsn-promo [class*="icon-"] h3.jsn-moduletitle span.jsn-moduleicon,
#jsn-content-top [class*="icon-"] h3.jsn-moduletitle span.jsn-moduleicon,
#jsn-content-bottom [class*="icon-"] h3.jsn-moduletitle span.jsn-moduleicon,
#jsn-footer [class*="icon-"] h3.jsn-moduletitle span.jsn-moduleicon,
[class*="box-"][class*="icon-"] h3.jsn-moduletitle span.jsn-moduleicon,
[class*="solid-"][class*="icon-"] h3.jsn-moduletitle span.jsn-moduleicon,
.menu-iconmenu [class*="icon-"].active > a > span,
.menu-iconmenu [class*="icon-"]:hover > a > span,
.menu-treemenu.menu-iconmenu [class*="icon-"] > a:hover > span,
[class*="richbox-"] .menu-iconmenu [class*="icon-"] > a > span,
[class*="solid-"] .menu-iconmenu [class*="icon-"] > a > span,
.link-button .link-icon[class*="icon-"],
#jsn-menu div[class*="display-"][class*="icon-"].jsn-modulecontainer .jsn-modulecontainer_inner:hover h3.jsn-moduletitle span.jsn-moduleicon,
#jsn-menu div[class*="display-"][class*="icon-"].jsn-dropdown-active.jsn-modulecontainer .jsn-modulecontainer_inner h3.jsn-moduletitle span.jsn-moduleicon {
	background-image: url(../images/icons/icons-uni-white.png);
}
/* ============================== JOOMLA 3.0 CORE COMPONENT LAYOUT ============================== */
.jsn-joomla-30 .blog-featured .items-leading h2 {
	padding: 0;
}
.article-info {
	margin: 0;
	font-size: 0.9em;
	float: left;
}
.article-info-term {
	display: none;
}
.archive .article-info dd,
.article-info dd {
	margin: 2px 0 0;
	line-height: 1.5;
}
.categories-list ul {
	list-style-type: none;
}
.cat-children ul dl dt, 
.cat-children ul dl dd, 
dl.article-count dt, 
dl.article-count dd {
	display: inline;
}
.login-fields {
	margin: 10px 0;
}
.login-fields label {
	width: 9em;
	float: left;
}
.categories-list dl dt,
.categories-list dl dd {
	margin: 0;
	padding: 0;
	display: inline;
}
.img-fulltext-left {
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}
.img-intro-left {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}
.img-fulltext-right {
	float: right;
	margin-left: 20px;
	margin-bottom: 20px;
}
.img-intro-right {
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
}
.pull-right.collapsed .icon-minus,
.pull-right .icon-plus {
	display: none;
}
.pull-right .icon-minus,
.pull-right.collapsed .icon-plus {
	display: block;
}
/* ---------- OVERRIDE ----------- */
.jsn-joomla-30 blockquote {
	border-left: none;
}
.jsn-joomla-30 hr {
	margin: 0.5em 0;
}
.jsn-joomla-30 .form-horizontal .control-label {
	text-align: left;
}
.jsn-joomla-30 .calendar tbody td,
.jsn-joomla-30 .calendar tbody td.hilite,
.jsn-joomla-30 .calendar tbody td.selected {
    border: none;
    padding: 5px;
	text-align: center;
}
.jsn-joomla-30 .input-append .btn {
	padding: 7px 14px 6px;
	outline: none;
}
.jsn-joomla-30 label,
.jsn-joomla-30 input,
.jsn-joomla-30 button,
.jsn-joomla-30 select,
.jsn-joomla-30 textarea,
.jsn-joomla-30 .btn,
.jsn-joomla-30 .uneditable-input {
	font-size: 13px;
}
.jsn-joomla-30 .icon-location {
    background-position: -24px -73px;
}
.jsn-joomla-30 div.tooltip {
	background: none;
	border: none;
}
.jsn-joomla-30 #form-login-remember .control-label,
.jsn-joomla-30 #modlgn-remember {
	vertical-align: middle;
}
.jsn-joomla-30 .dropdown-menu li,
.jsn-joomla-30 .category li {
	margin: 0;
}
.jsn-joomla-30 .page-header {
    border-bottom: none;
	margin-bottom: 0;
}