.icon-48-sponsors {
      background-image: url(../images/l_sponsors.png);
      padding-left:60px!important;
}

.icon-48-sponsor {
      background-image: url(../images/l_sponsors.png);
      padding-left:60px!important;
}

.icon-48-gallery {
      background-image: url(../images/l_gallery.png);
      padding-left:60px!important;
}

.icon-48-album {
      background-image: url(../images/l_gallery.png);
      padding-left:60px!important;
}

#footballclub_panel ul#footballclub-items li a {
    background: -moz-linear-gradient(center top , #FFFFFF 0%, #F0F1F2 100%) repeat scroll 0 0 transparent;
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 1px #F5F5F5;
    display: block;
    height: 80px;
    margin-right: 10px;
    padding: 10px;
    position: relative;
    text-shadow: 0 1px 1px #FFFFFF;
}

ul#footballclub-items { list-style: none outside none; display: inline-block; }
ul#footballclub-items li { width: 150px; float: left; margin-bottom: 10px; }

ul#footballclub-items li a { text-align: center; }

ul#footballclub-items li a img { float:none; padding-top: 12px; }
ul#footballclub-items li a img:hover { float:none; padding-top: 12px; }

ul#footballclub-items li a span.item-title span {
    color: #333333;
    display: block;
    font-size: 12px;
    font-weight: 700;
    line-height: 23px;
    margin: 5px 0;  
    text-decoration: none !important;
}

ul#footballclub-items li a { text-decoration: none !important; opacity: 0.75; }
ul#footballclub-items li a:hover { text-decoration: none !important; opacity: 1; }

div#toolbar-back.btn-group button.btn span.icon-back{  display: none; }
div#toolbar-back.btn-group button.btn { padding-left: 15px; padding-right:15px; padding-top: 3px; padding-bottom:4px; font-weight: bold; font-size: 14px; }















div.album_title { 
	background-color: white;
    color: black;
    font-size: 11px;
    font-weight: bold;
    padding-top: 5px; padding-bottom: 1px;
	padding-left: 5px; padding-right: 5px;
    text-align: center;
	height: 16px;
	overflow: hidden;
}

/************************************************************************************
COLUMN
*************************************************************************************/


div.gallery_thumb { width:100%; height:90px; background-position: center;
                    background-repeat: no-repeat; background-size: cover; }

article.span3 { width: 16.5% !important; margin-left:0 !important; margin-bottom: 20px;
			    border: 2px solid #FFFFFF;
    			box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}

    /* Large desktop */
     @media (min-width: 1190px) {
     			article.span3{ margin-right:2.5641% !important; }
     			article.span3:nth-child(5n){ margin-right:0px !important; } 
    }
    /* Portrait tablet to landscape and desktop */
    @media (min-width: 768px) and (max-width: 1189px) {
     			article.span3{ margin-right:2.5641% !important; }
     			article.span3:nth-child(5n){ margin-right:0px !important; } 
    }
     
    /* Landscape phone to portrait tablet */
    @media (max-width: 767px) {
    		div.row-fluid{ margin-top:15px !important; }
    		article.span3{ width: 30% !important; float:left !important; margin-right:1% !important;
    						margin-left:2% !important; margin-bottom: 15px !important;}
    		article.span3:nth-child(3n) { margin-right:0% !important }
      }
     
    /* Landscape phones and down */
    @media (max-width: 600px) {
            div.row-fluid.show-grid { margin-top: 10px !important; }
    		article.span3{ width: 46.5% !important; margin: 0 !important; margin-bottom: 10px !important; }
            article.span3:nth-child(1n) { float:left !important; margin-left: 2% !important; }
    		article.span3:nth-child(2n) { float:right !important; margin-right: 2% !important; }
     }




