    .front-end-edit ul {
        padding: 0 !important;
    }
    .front-end-edit li {
        list-style: none;
        margin-bottom: 6px !important;
    }
    .front-end-edit label {
        margin-right: 10px;
        display: block;
        float: left;
        width: 200px !important;
    }
    .front-end-edit .radio label {
        float: none;
    }
    .front-end-edit .readonly {
        border: none !important;
        color: #666;
    }    
    .front-end-edit #editor-xtd-buttons {
        height: 50px;
        width: 600px;
        float: left;
    }
    .front-end-edit .toggle-editor {
        height: 50px;
        width: 120px;
        float: right;
    }

    #jform_rules-lbl{
        display:none;
    }

    #access-rules a:hover{
        background:#f5f5f5 url('../images/slider_minus.png') right  top no-repeat;
        color: #444;
    }

    fieldset.radio label{
        width: 50px !important;
    }
    
	a.modal.btn{ padding: 4px 14px 4px !important;}
	div.control-group.message-control { width:100%; }
	div.control-group.message-control #jform_message{ 
		width: 100%; 
		-webkit-box-sizing: border-box;
       	-moz-box-sizing: border-box;
        box-sizing: border-box;
	}
	input#jform_title{ width: 50%; min-width:210px !important;}
	
	
	div#fb-news-create { margin-bottom: 10px; }
	div#fbnews-success { display:none; font-weight: bold; font-size: 1.2em; padding-top:5px; padding-left:10px; }
	