/* CSS Document */
/* #oval-conditions {margin-top: -5px;} */
/* #oval-conditions > li { overflow:hidden; font-weight: bold; float:left; text-align:center; width: 33.3%; margin:0; list-style:none; } */
/* #oval-conditions > li:first-child{ text-align: center; float: none; width:100%; } */

/* #oval-conditions > li > div.oval-title { */
/*     font-size: 1.25em; */
/* } */


#oval-conditions { cursor: default !important;}

#oval-conditions > li { 
	margin-left: 0 !important; list-style:none; width:100%; padding:5px 0; overflow:hidden;
	border-bottom: 1px dashed rgba(0,0,0,0.1);
}
#oval-conditions > li:first-child{  }

#oval-conditions > li > div.oval-title {
    font-size: 1.25em; float:left; padding-left:5px; font-weight: bold;
}
#oval-conditions > li > div.oval-status {
    font-size: 1.05em; float:right; width: 65px !important; text-align:center;
	text-transform: uppercase; font-weight: bold; padding-right: 5px;
}

li > div.oval-status.Closed { color: red; opacity:0.5; }
li > div.oval-status.Open { color: green; opacity: 0.9;}

div#lst-update {
    padding-top: 10px;
	width:100% !important ; text-transform: uppercase; font-size: 0.8em;
	font-weight: bold; text-align: center; overflow:hidden;
}

    div#ovals-container {
        overflow: hidden;
        height: auto !important;
        margin-top: -15px !important;
        clear:both;
    }
    
    div#ovals-container div#ovals ul#oval-conditions {
        margin: 0 !important;
    }
@media (min-width: 1191px){
        div#ovals-container {
        height: 166px !important;
        min-height: 166px !important; }
}

@media (max-width: 1190px){
    div#ovals-container {
        height: 170px !important;
        min-height: 170px !important; }
}