/**
* @author    JoomlaShine.com http://www.joomlashine.com
* @copyright Copyright (C) 2008 - 2011 JoomlaShine.com. All rights reserved.
* @license   JoomlaShine.com Proprietary License
*/
/* ============================== DEFAULT HTML ============================== */
::selection {
	color: #FFF;
	background: #b34c35;
}
::-moz-selection {
	color: #FFF;
	background: #b34c35;
}
::-webkit-selection {
	color: #FFF;
	background: #b34c35;
}
a {
	color: #D64740;
}
#jsn-master {
	background: #FFF url(../../images/colors/red/bg-body.png) center top;
}
/* ============================== LAYOUT ============================== */
/* =============== LAYOUT - CONTENT TOP AREA =============== */
#jsn-content-top,
#jsn-promo {
	color: #DDD;
    background: #666 url(../../images/colors/grey/bg-master.png);
}
/* =============== LAYOUT - CONTENT BOTTOM AREA =============== */
#jsn-content-bottom {
	color: #DDD;
	background: #333 url(../../images/colors/grey/bg-master.png);
}
/* =============== LAYOUT - FOOTER AREA =============== */
#jsn-footer {
	background: #333 url(../../images/colors/grey/bg-master.png);
	color: #DDD;
}
#jsn-content-bottom + #jsn-footer #jsn-footer-inner {
	border-top: 1px solid #666;
}
#jsn-gotoplink:hover {
	background-color: #333;
	color: #fff;
}
/* ============================== TYPOGRAPHY ============================== */
/* =============== TYPOGRAPHY - LINK STYLES =============== */
/* ----- ACTION LINK ----- */
.link-action {
	border-bottom: 1px dotted #D64740;
}
.link-action:hover {
	background-color: #D64740;
}
/* =============== TYPOGRAPHY - TABLE STYLES =============== */
/* ----- COLOR HEADER TABLE ----- */
table.style-colorheader thead th {
	background-color: #666666;
}
/* ----- COLOR STRIPES TABLE ----- */
table.style-colorstripes td,
table.style-colorstripes th {
	border-bottom: 1px solid #BBBBBB;
	border-right: 1px groove #BBBBBB;
}
table.style-colorstripes thead th {
	background-color: #666666;
}
table.style-colorstripes thead th.highlight {
	background-color: #333;
}
table.style-colorstripes tbody tr {
	background-color: #959595;
}
table.style-colorstripes tbody .highlight {
	background-color: #4D4D4D;
}
table.style-colorstripes tbody tr.odd {
	background-color: #7E7E7E;
}
table.style-colorstripes tbody tr.odd .highlight {
	background-color: #606060;
}
table.style-colorstripes tbody tr:hover th,
table.style-colorstripes tbody tr:hover td {
	background-color: #737373;
}
table.style-colorstripes tbody tr:hover .highlight {
	background-color: #737373;
}
table.style-colorstripes tbody td,
table.style-colorstripes tbody th {
	border-left: none;
	border-right: 1px solid #BBBBBB;
}
table.style-colorstripes tfoot th,
table.style-colorstripes tfoot td {
	background-color: #666666;
}
.sectiontableheader {
	background-color: #666666;
}
/* ----- GREY STRIPES TABLE ----- */
table.style-greystripes thead th.highlight {
	background-color: #8B8B8B;
}
/* ============================== MENU ============================== */
/* =============== MENU - TOP MENU =============== */
ul.menu-topmenu li:hover a,
ul.menu-topmenu li.active a {
	background-color: #333;
	color: #FFF;
}
/* =============== MENU - MAIN MENU =============== */
/* ----- 1st LEVEL ----- */
div.jsn-modulecontainer ul.menu-mainmenu ul,
#jsn-menu div.display-dropdown.jsn-modulecontainer .jsn-modulecontent {
	background-color: #333;
}
div.jsn-modulecontainer ul.menu-mainmenu ul li a {
	border-bottom: 1px solid #4F4F4F;
	color: #AAA;
}
/* ----- HOVER STATE ----- */
div.jsn-modulecontainer ul.menu-mainmenu ul li:hover > a {
	background-color: #000;
}
div.jsn-modulecontainer ul.menu-mainmenu > li:hover > a,
#jsn-menu .jsn-modulecontainer[class*="display-"] .jsn-modulecontainer_inner:hover h3.jsn-moduletitle {
	background-color: #333;
}
/* ----- ACTIVE STATE ----- */
div.jsn-modulecontainer ul.menu-mainmenu ul li.active > a,
div.jsn-modulecontainer ul.menu-mainmenu > li.active > a {
	background-color: #333;
}
div.jsn-modulecontainer ul.menu-mainmenu ul > li.active > a {
	background-color: #000;
}
/* ----- MOBILE ACTIVE STATE ----- */
body.jsn-mobile div.jsn-modulecontainer ul.menu-mainmenu > li.active {
	background-color: #333;
}
/* =============== MENU - TREE MENU =============== */
/* ----- CURRENT / HOVER STATE ----- */
div[class*=lightbox-] ul.menu-treemenu li a:hover,
div[class*=lightbox-] ul.menu-treemenu li a.current {
	background-color: #000;
	color: #FFF;
}
div.lightbox-2 ul.menu-treemenu li a:hover,
div.lightbox-2 ul.menu-treemenu li a.current {
	background-color: #FFF;
	color: #333;
}
div[class*=solid-] ul.menu-treemenu li a:hover,
div[class*=solid-] ul.menu-treemenu li a.current,
div[class*=richbox-] ul.menu-treemenu li a:hover,
div[class*=richbox-] ul.menu-treemenu li a.current {
	background-color: #000;
}
div.solid-2 ul.menu-treemenu li a:hover,
div.solid-2 ul.menu-treemenu li a.current {
	background-color: #FFF;
}
div.richbox-2 h3.jsn-moduletitle {
	background-color: #333;
	color: #FFF;
}
div.solid-2 div.jsn-modulecontainer_inner {
	background-color: #333;
}
div.solid-2 ul.menu-treemenu > li {
	border-bottom-color: #4F4F4F;
}
div.solid-2 ul.menu-treemenu ul li {
	border-top-color: #4F4F4F !important;
}
/* =============== MENU - SIDE MENU =============== */
/* ---------- 1st LEVEL ---------- */
div.jsn-modulecontainer ul.menu-sidemenu ul {
	background-color: #333;
}
div.jsn-modulecontainer ul.menu-sidemenu ul li a {
	border-bottom: 1px solid #4F4F4F;
	color: #DDD;
}
div.solid-1 ul.menu-sidemenu > li > a {
	border-bottom-color: #4F4F4F;
}
div.solid-2 ul.menu-sidemenu > li > a {
	border-bottom-color: #4F4F4F;
}
/* ----- HOVER STATE ----- */
div.jsn-modulecontainer ul.menu-sidemenu ul li:hover > a,
div.jsn-modulecontainer ul.menu-sidemenu ul li.sfhover > a {
	background-color: #000;
}
/* ----- HOVER STATE IN SPECIFIC MODULE BOXES ----- */
div[class*=lightbox-] ul.menu-sidemenu > li:hover > a,
div[class*=lightbox-] ul.menu-sidemenu > li.sfhover > a {
	background-color: #000;
	color: #FFF;
}
div[class*=solid-] ul.menu-sidemenu > li:hover > a,
div[class*=solid-] ul.menu-sidemenu > li.sfhover > a {
	background-color: #000;
	color: #FFF;
}
div.richbox-1 ul.menu-sidemenu > li:hover > a,
div.richbox-1 ul.menu-sidemenu > li.sfhover > a {
	background-color: #000;
}
/* ----- ACTIVE STATE ----- */
div.jsn-modulecontainer ul.menu-sidemenu ul li.active > a {
	background-color: #000;
}
/* ----- ACTIVE STATE IN SPECIFIC MODULE BOXES ----- */
div[class*=lightbox-] ul.menu-sidemenu > li.active > a {
	background-color: #000;
}
div[class*=solid-] ul.menu-sidemenu > li.active > a {
	background-color: #000;
}
div.solid-2 ul.menu-sidemenu > li.active > a {
	color: #FFF;
}
div[class*=richbox-] ul.menu-sidemenu > li.active > a {
	background-color: #333;
}
/* ============================== SITE TOOLS ============================== */
/* =============== SITE TOOLS - GENERAL PRESENTATION =============== */
/* ----- DROP DOWN ----- */
ul#jsn-sitetools-menu > li:hover, 
ul#jsn-sitetools-menu li ul {
	background-color: #000;
}
body.jsn-mmtransparency ul#jsn-sitetools-menu > li:hover, 
body.jsn-mmtransparency ul#jsn-sitetools-menu li ul{
	background-color: rgba(51,51,51,0.9);
}
/* ============================== MODULE STYLES ============================== */
/* =============== MODULE STYLES - MODULE BOXES =============== */
/* ----- MODULE LIGHTBOX ----- */
div.lightbox-2 h3.jsn-moduletitle {
	color: #FFF;
	background: #333;
}
div.richbox-1 div.jsn-modulecontent,
div.solid-2 div.jsn-modulecontainer_inner {
	background-color: #666;
}
div.richbox-1 div.jsn-modulecontent a,
div.solid-2 div.jsn-modulecontainer_inner a {
	color: #FFF;
	text-decoration: underline;
}
/* ============================== JOOMLA! DEFAULT EXTENSIONS ============================== */
/* =============== JOOMLA! EXTENSIONS - MOD_BREADCRUMB =============== */
span.breadcrumbs span.current,
.breadcrumb li span + span {
	color: #333333;
}
/* =============== JOOMLA! EXTENSIONS - MOD_SEARCH =============== */
#jsn-pos-top div.search input#mod_search_searchword {
	border: 1px solid #737373;
}
/* =============== JOOMLA! EXTENSIONS - COM_CONTENT =============== */
/* ----- SECTION / CATEGORY BLOG LAYOUT ----- */
/* PAGE PAGINATION */
ul.jsn-pagination li.navigation-page span {
	background-color: #8B8B8B;
}