/**
* @author    JoomlaShine.com http://www.joomlashine.com
* @copyright Copyright (C) 2008 - 2011 JoomlaShine.com. All rights reserved.
* @license   JoomlaShine.com Proprietary License
*/
/* ============================== DEFAULT HTML ============================== */
::selection {
	color: #FFF;
	background: #b34c35;
}
::-moz-selection {
	color: #FFF;
	background: #b34c35;
}
::-webkit-selection {
	color: #FFF;
	background: #b34c35;
}
a {
	color: #D64740;
}
#jsn-master {
	background: #FFF url(../../images/colors/red/bg-body.png) center top;
}
/* ============================== LAYOUT ============================== */
/* =============== LAYOUT - CONTENT TOP AREA =============== */
#jsn-content-top,
#jsn-promo {
	color: #F4CECC;
    background: #DD514A url(../../images/colors/red/bg-master.png);
}
/* =============== LAYOUT - CONTENT BOTTOM AREA =============== */
#jsn-content-bottom {
	color: #F4CECC;
	background: #DD514A url(../../images/colors/red/bg-master.png);
}
/* =============== LAYOUT - FOOTER AREA =============== */
#jsn-footer {
	background: #DD514A url(../../images/colors/red/bg-master.png);
	color: #F4CECC;
}
#jsn-content-bottom + #jsn-footer #jsn-footer-inner {
	border-top: 1px solid #E07772;
}
#jsn-gotoplink:hover {
	background-color: #DD514A;
	color: #fff;
}
/* ============================== TYPOGRAPHY ============================== */
/* =============== TYPOGRAPHY - LINK STYLES =============== */
/* ----- ACTION LINK ----- */
.link-action {
	border-bottom: 1px dotted #DD514A;
}
.link-action:hover {
	background-color: #DD514A;
}
#jsn-content-top .link-action, 
#jsn-content-bottom .link-action {
	color: #FFF;
	border-bottom-color: #9F2F2A;
}
#jsn-content-top .link-action:hover,
#jsn-content-bottom .link-action:hover {
	background-color: #9F2F2A;
	border: none;
}
/* =============== TYPOGRAPHY - TABLE STYLES =============== */
/* ----- COLOR HEADER TABLE ----- */
table.style-colorheader thead th {
	background-color: #D2352D;
}
/* ----- COLOR STRIPES TABLE ----- */
table.style-colorstripes td,
table.style-colorstripes th {
	border-bottom: 1px solid #FFF;
	border-right: 1px groove #FFF;
}
table.style-colorstripes thead th {
	background-color: #D2352D;
}
table.style-colorstripes thead th.highlight {
	background-color: #333333;
}
table.style-colorstripes tbody tr {
	background-color: #DD6862;
}
table.style-colorstripes tbody .highlight {
	background-color: #4D4D4D;
}
table.style-colorstripes tbody tr.odd {
	background-color: #DD514A;
}
table.style-colorstripes tbody tr.odd .highlight {
	background-color: #606060;
}
table.style-colorstripes tbody tr:hover th,
table.style-colorstripes tbody tr:hover td {
	background-color: #D2372F;
}
table.style-colorstripes tbody tr:hover .highlight {
	background-color: #414141;
}
table.style-colorstripes tbody td,
table.style-colorstripes tbody th {
	border-left: none;
	border-right: 1px solid #FFF;
}
table.style-colorstripes tfoot th,
table.style-colorstripes tfoot td {
	background-color: #D2352D;
}
.sectiontableheader {
	background-color: #D2352D;
}
/* ----- GREY STRIPES TABLE ----- */
table.style-greystripes thead th.highlight {
	background-color: #666;
}
/* ============================== MENU ============================== */
/* =============== MENU - TOP MENU =============== */
ul.menu-topmenu li:hover a,
ul.menu-topmenu li.active a {
	background-color: #DD514A;
	color: #FFF;
}
/* =============== MENU - MAIN MENU =============== */
/* ----- 1st LEVEL ----- */
div.jsn-modulecontainer ul.menu-mainmenu ul,
#jsn-menu div.display-dropdown.jsn-modulecontainer .jsn-modulecontent {
	background-color: #DD514A;
}
div.jsn-modulecontainer ul.menu-mainmenu ul li a {
	border-bottom: 1px solid #E27B76;
	color: #FFEAE9;
}
/* ----- HOVER STATE ----- */
div.jsn-modulecontainer ul.menu-mainmenu ul li:hover > a {
	background-color: #CC3300;
}
div.jsn-modulecontainer ul.menu-mainmenu > li:hover > a,
#jsn-menu .jsn-modulecontainer[class*="display-"] .jsn-modulecontainer_inner:hover h3.jsn-moduletitle {
	background-color: #DD514A;
}
/* ----- ACTIVE STATE ----- */
div.jsn-modulecontainer ul.menu-mainmenu li.active a {
	background-color: #DD514A;
}
div.jsn-modulecontainer ul.menu-mainmenu ul > li.active > a {
	background-color: #CC3300;
}
/* ----- MOBILE ACTIVE STATE ----- */
body.jsn-mobile div.jsn-modulecontainer ul.menu-mainmenu > li.active {
	background-color: #DD514A;
}
/* =============== MENU - TREE MENU =============== */
/* ----- HOVER STATE ----- */
div.jsn-modulecontainer ul.menu-treemenu li > a:hover,
div.jsn-modulecontainer ul.menu-treemenu li > a.current {
	background-color: #C30;
}
div.solid-2 ul.menu-treemenu > li,
div.richbox-1 ul.menu-treemenu > li {
	border-bottom-color: #E27B76;
}
/* =============== MENU - SIDE MENU =============== */
/* ----- NORMAL STATE ----- */
div.jsn-modulecontainer ul.menu-sidemenu ul {
	background-color: #DD514A;
}
div.jsn-modulecontainer ul.menu-sidemenu ul li a {
	border-bottom: 1px solid #E27B76;
	color: #FFEAE9;
}
div.solid-2 ul.menu-sidemenu > li > a,
div.richbox-1 ul.menu-sidemenu > li > a {
	border-bottom-color: #E27B76;
}
/* ----- HOVER STATE ----- */
div.jsn-modulecontainer ul.menu-sidemenu li:hover > a {
	background-color: #C30;
}
/* ----- ACTIVE STATE ----- */
div.jsn-modulecontainer ul.menu-sidemenu > li.active > a,
div.jsn-modulecontainer ul.menu-sidemenu ul > li.active > a {
	color: #FFF;
	background-color: #C30;
}
/* ============================== SITE TOOLS ============================== */
/* =============== SITE TOOLS - GENERAL PRESENTATION =============== */
/* ----- DROP DOWN ----- */
ul#jsn-sitetools-menu > li:hover, 
ul#jsn-sitetools-menu li ul {
	background-color: #C30;
}
/* ============================== MODULE STYLES ============================== */
/* =============== MODULE STYLES - MODULE BOXES =============== */
div.lightbox-2 h3.jsn-moduletitle {
	color: #FFF;
	background: #DD514A;
}
div.richbox-2 h3.jsn-moduletitle {
	background-color: #DD514A;
	color: #FFF;
}
div.richbox-1 div.jsn-modulecontent,
div.solid-2 div.jsn-modulecontainer_inner {
	background-color: #DD514A;
}
div.richbox-1 div.jsn-modulecontent a,
div.solid-2 div.jsn-modulecontainer_inner a {
	color: #FFF;
	text-decoration: underline;
}
div.solid-2 a.link-action:hover {
	background-color: #C30;
}
/* ============================== JOOMLA! DEFAULT EXTENSIONS ============================== */
/* =============== JOOMLA! EXTENSIONS - MOD_BREADCRUMB =============== */
span.breadcrumbs span.current,
.breadcrumb li span + span {
	color: #DD514A;
}
/* =============== JOOMLA! EXTENSIONS - MOD_SEARCH =============== */
#jsn-pos-top div.search input#mod_search_searchword {
	border: 1px solid #732828;
}
/* =============== JOOMLA! EXTENSIONS - COM_CONTENT =============== */
/* ----- SECTION / CATEGORY BLOG LAYOUT ----- */
/* PAGE PAGINATION */
ul.jsn-pagination li.navigation-page span {
	background-color: #d64740;
}