/**
* @author    JoomlaShine.com http://www.joomlashine.com
* @copyright Copyright (C) 2008 - 2011 JoomlaShine.com. All rights reserved.
* @license   JoomlaShine.com Proprietary License
*/
/* ============================== DEFAULT HTML ============================== */
::selection {
	color: #FFF;
	background: #af9f56;
}
::-moz-selection {
	color: #FFF;
	background: #af9f56;
}
::-webkit-selection {
	color: #FFF;
	background: #af9f56;
}
a {
	color: #C58E10;
}
#jsn-master {
	background: #FFF url(../../images/colors/yellow/bg-body.png) center top;
}
/* ============================== LAYOUT ============================== */
/* =============== LAYOUT - CONTENT TOP AREA =============== */
#jsn-content-top,
#jsn-promo {
	color: #FDF2DB;
    background: #E5AE28 url(../../images/colors/yellow/bg-master.png);
}
/* =============== LAYOUT - CONTENT BOTTOM AREA =============== */
#jsn-content-bottom {
	color: #FDF2DB;
	background: #E5AE28 url(../../images/colors/yellow/bg-master.png);
}
/* =============== LAYOUT - FOOTER AREA =============== */
#jsn-footer {
	background: #E5AE28 url(../../images/colors/yellow/bg-master.png);
	color: #FDF2DB;
}
#jsn-content-bottom + #jsn-footer #jsn-footer-inner {
	border-top: 1px solid #F3CC72;
}
#jsn-gotoplink:hover {
	background-color: #E5AE28;
	color: #fff;
}
/* ============================== TYPOGRAPHY ============================== */
/* =============== TYPOGRAPHY - LINK STYLES =============== */
/* ----- ACTION LINK ----- */
.link-action {
	border-bottom: 1px dotted #E5AE28;
}
.link-action:hover {
	background-color: #E5AE28;
}
#jsn-content-top .link-action, 
#jsn-content-bottom .link-action {
	color: #FFF;
	border-bottom-color: #B18C33;
}
#jsn-content-top .link-action:hover,
#jsn-content-bottom .link-action:hover {
	background-color: #B18C33;
	border: none;
}
/* =============== TYPOGRAPHY - TABLE STYLES =============== */
/* ----- COLOR HEADER TABLE ----- */
table.style-colorheader thead th {
	background-color: #D89C12;
}
/* ----- COLOR STRIPES TABLE ----- */
table.style-colorstripes thead th {
	background-color: #D89C12;
}
table.style-colorstripes tbody tr {
	background-color: #F0BD46;
}
table.style-colorstripes tbody tr.odd {
	background-color: #E5AE28;
}
table.style-colorstripes tbody tr:hover th,
table.style-colorstripes tbody tr:hover td {
	background-color: #DEA012;
}
table.style-colorstripes tfoot th,
table.style-colorstripes tfoot td {
	background-color: #D89C12;
}
.sectiontableheader {
	background-color: #D89C12;
}
/* ============================== MENU ============================== */
/* =============== MENU - TOP MENU =============== */
ul.menu-topmenu li:hover a,
ul.menu-topmenu li.active a {
	background-color: #E5AE28;
	color: #FFF;
}
/* =============== MENU - MAIN MENU =============== */
/* ----- 1st LEVEL ----- */
div.jsn-modulecontainer ul.menu-mainmenu ul,
#jsn-menu div.display-dropdown.jsn-modulecontainer .jsn-modulecontent {
	background-color: #E5AE28;
}
div.jsn-modulecontainer ul.menu-mainmenu ul li a {
	border-bottom: 1px solid #F2C149;
	color: #FFF6E4;
}
/* ----- HOVER STATE ----- */
div.jsn-modulecontainer ul.menu-mainmenu ul li:hover > a {
	background-color: #CA9311;
}
div.jsn-modulecontainer ul.menu-mainmenu > li:hover > a {
	background-color: #E5AE28;
}
/* ----- ACTIVE STATE ----- */
div.jsn-modulecontainer ul.menu-mainmenu li.active a {
	background-color: #E5AE28;
}
div.jsn-modulecontainer ul.menu-mainmenu ul > li.active > a {
	background-color: #CA9311;
}
/* ----- MOBILE ACTIVE STATE ----- */
body.jsn-mobile div.jsn-modulecontainer ul.menu-mainmenu > li.active {
	background-color: #E5AE28;
}
/* =============== MENU - TREE MENU =============== */
/* ----- CURRENT / HOVER STATE ----- */
div[class*=lightbox-] ul.menu-treemenu li a:hover,
div[class*=lightbox-] ul.menu-treemenu li a.current {
	background-color: #CA9311;
	color: #FFF;
}
div[class*=solid-] ul.menu-treemenu li a:hover,
div[class*=solid-] ul.menu-treemenu li a.current,
div[class*=richbox-] ul.menu-treemenu li a:hover,
div[class*=richbox-] ul.menu-treemenu li a.current {
	background-color: #E5AE28;
}
div.solid-2 ul.menu-treemenu li a:hover,
div.solid-2 ul.menu-treemenu li a.current {
	background-color: #CA9311;
}
div.richbox-2 h3.jsn-moduletitle {
	background-color: #E5AE28;
	color: #FFF;
}
div.solid-2 div.jsn-modulecontainer_inner {
	background-color: #E5AE28;
}
div.solid-2 ul.menu-treemenu > li {
	border-bottom-color: #F2C149;
}
div.solid-2 ul.menu-treemenu ul li {
	border-top-color: #F2C149 !important;
}
/* =============== MENU - SIDE MENU =============== */
/* ---------- 1st LEVEL ---------- */
div.jsn-modulecontainer ul.menu-sidemenu ul {
	background-color: #E5AE28;
}
div.jsn-modulecontainer ul.menu-sidemenu ul li a {
	border-bottom: 1px solid #F2C149;
	color: #FFF6E4;
}
div.solid-1 ul.menu-sidemenu > li > a {
	border-bottom-color: #4E4E4E;
}
div.solid-2 ul.menu-sidemenu > li > a {
	border-bottom-color: #F2C149;
}
/* ----- HOVER STATE ----- */
div.jsn-modulecontainer ul.menu-sidemenu ul li:hover > a,
#jsn-pos-toolbar div.jsn-modulecontainer ul.menu-mainmenu ul li:hover > a,
body.jsn-direction-rtl #jsn-pos-toolbar div.jsn-modulecontainer ul.menu-mainmenu ul li:hover > a {
	background-color: #CA9311;
}
/* ----- HOVER STATE IN SPECIFIC MODULE BOXES ----- */
div[class*=lightbox-] ul.menu-sidemenu > li:hover > a,
#jsn-menu .jsn-modulecontainer[class*="display-"] .jsn-modulecontainer_inner:hover h3.jsn-moduletitle {
	background-color: #CA9311;
	color: #FFF;
}
div.solid-1 ul.menu-sidemenu > li:hover > a {
	background-color: #E5AE28;
}
div.solid-2 ul.menu-sidemenu > li:hover > a {
	background-color: #CA9311;
	color: #FFF;
}
div[class*=richbox-] ul.menu-sidemenu > li:hover > a {
	background-color: #E5AE28;
}
/* ----- ACTIVE STATE ----- */
div.jsn-modulecontainer ul.menu-sidemenu ul li.active > a {
	background-color: #CA9311;
}
/* ----- ACTIVE STATE IN SPECIFIC MODULE BOXES ----- */
div[class*=lightbox-] ul.menu-sidemenu > li.active > a {
	background-color: #CA9311;
}
div.solid-1 ul.menu-sidemenu > li.active > a {
	background-color: #E5AE28;
}
div.solid-2 ul.menu-sidemenu > li.active > a {
	background-color: #CA9311;
}
div[class*=richbox-] ul.menu-sidemenu > li.active > a {
	background-color: #E5AE28;
}
/* ============================== SITE TOOLS ============================== */
/* =============== SITE TOOLS - GENERAL PRESENTATION =============== */
/* ----- DROP DOWN ----- */
ul#jsn-sitetools-menu > li:hover,
ul#jsn-sitetools-menu li ul {
	background-color: #CA9311;
}
/* ============================== MODULE STYLES ============================== */
/* =============== MODULE STYLES - MODULE BOXES =============== */
/* ----- MODULE LIGHTBOX ----- */
div.lightbox-2 h3.jsn-moduletitle {
	color: #FFF;
	background: #E5AE28;
}
div.richbox-1 div.jsn-modulecontent,
div.solid-2 div.jsn-modulecontainer_inner {
	background-color: #E5AE28;
	color: #FFF;
}
div.richbox-1 div.jsn-modulecontent a,
div.solid-2 div.jsn-modulecontainer_inner a {
	color: #FFF;
	text-decoration: underline;
}
div.solid-2 a.link-action:hover {
	background-color: #CA9311;
}
/* ============================== JOOMLA! DEFAULT EXTENSIONS ============================== */
/* =============== JOOMLA! EXTENSIONS - MOD_BREADCRUMB =============== */
span.breadcrumbs span.current,
.breadcrumb li span + span {
	color: #E5AE28;
}
/* =============== JOOMLA! EXTENSIONS - MOD_SEARCH =============== */
#jsn-pos-top div.search input#mod-search-searchword {
	border: 1px solid #284D73;
}
/* =============== JOOMLA! EXTENSIONS - COM_CONTENT =============== */
/* ----- SECTION / CATEGORY BLOG LAYOUT ----- */
/* PAGE PAGINATION */
ul.jsn-pagination li.navigation-page span {
	background-color: #C58E10;
}