/**
 * @package		EasyBlog
 * @copyright	Copyright (C) 2010 Stack Ideas Private Limited. All rights reserved.
 * @license		GNU/GPL, see LICENSE.php
 *
 * EasyBlog is free software. This version may have been modified pursuant
 * to the GNU General Public License, and as distributed it includes or
 * is derivative of works licensed under the GNU General Public License or
 * other free or open source software licenses.
 * See COPYRIGHT.php for copyright notices and details.
 */

/*
* Heading font using Google's font setting
* Please dont edit the font-family setting except for the first line only for font size and color purpose
*/
#eblog-wrapper 						#ezblog-head h1{font-size:34px;padding:0;margin:0;line-height:1.2;border:0 !important}
#eblog-wrapper.eblog-cabin          #ezblog-head h1{font-family:'Cabin Sketch', arial, sans-serif}
#eblog-wrapper.eblog-droid          #ezblog-head h1{font-family:'Droid Sans', 'Segoe UI', Tahoma, sans-serif}
#eblog-wrapper.eblog-pacifico       #ezblog-head h1{font-family:'Pacifico', Georgia, serif}
#eblog-wrapper.eblog-inconsolata    #ezblog-head h1{font-family:'Inconsolata', Consolas, monospace}
#eblog-wrapper.eblog-kristi			#ezblog-head h1{font-family:'Kristi', arial,sans-serif}
#eblog-wrapper.eblog-molengo		#ezblog-head h1{font-family:'Molengo',arial,sans-serif}
#eblog-wrapper.eblog-orbitron		#ezblog-head h1{font-family:'Orbitron',arial,sans-serif}
/*
* Avatar
*/
#eblog-wrapper img.avatar{border:1px solid #bbb;height:auto; width:60px;max-width: none\9 !important;}
#eblog-wrapper a:hover img.avatar{border-color:#e5b700}
#eblog-wrapper .blog-content .blog-avatar img {max-width: none\9 !important;}
/*
* Head
*/
#ezblog-head{margin-bottom:15px;position: relative;z-index: 15;}
#ezblog-head a:link,
#ezblog-head a:visited{text-decoration:none;font-size:11px}
#ezblog-head .component-links{font-size:0;margin-bottom:15px}
#ezblog-head .component-links a{display:inline-block;margin:0 0 0 15px;}
#ezblog-head .component-links a span{font-size:11px;display:inline-block;line-height:16px;height:16px;padding-left:22px;}
#ezblog-head .component-links a.link-rss   span{background:url(../images/icons/feed-plus.png) 0 center no-repeat;}
#ezblog-head .component-links a.link-email span{background:url(../images/icons/mail-plus.png) 0 center no-repeat;}
/*
* Menu
*/
#ezblog-menu{border:1px solid #111;clear:both;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px}
#ezblog-menu .blog-navi{background:#444;box-shadow:0 1px 0 rgba(255,255,255,0.1) inset;-moz-box-shadow:0 1px 0 rgba(255,255,255,0.1) inset;-webkit-box-shadow:0 1px 0 rgba(255,255,255,0.1) inset;}
#ezblog-menu .blog-navi li.toolbar-item{border-right:1px solid #222}
#ezblog-menu .blog-navi li.toolbar-item.float-r{border-left:1px solid #222;border-right:0}
#ezblog-menu .blog-navi li.toolbar-item > a{height:34px;line-height:34px;padding:0 13px;display:block;}
#ezblog-menu .blog-navi li.toolbar-item > a span{display:block;text-indent:-999999px;width:20px;height:34px;background-color:transparent!important;}
#ezblog-menu .blog-navi li.toolbar-item > a:hover,
#ezblog-menu .blog-navi li.toolbar-item > a:focus{background:#333;box-shadow:0 0 5px rgba(0,0,0,0.3) inset;}
#ezblog-menu .blog-navi li.toolbar-item > form{display:block;margin:0;padding:0 8px;}
#ezblog-menu .blog-navi li.toolbar-item > form input.input{height:22px;padding:1px 4px;margin:4px 0;display:inline-block;float:left;border:1px solid #222;font-size:12px;font-family:inherit;
    border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;
}
#ezblog-menu .blog-navi li.toolbar-item > form button.submit-search{display:block;float:left;height:26px;width:26px;border:1px solid #282828;background:url(../images/toolbar-search-button.png) center no-repeat #555;text-indent:-9999px;padding:0;margin:4px 0 0 2px;cursor:pointer;
    border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;
}

#ezblog-menu .blog-navi li .tips{display:none;position:absolute;left:2px;top:45px;background:#fff;border:1px solid #bbb;border-bottom-color:#999;padding:10px;z-index:999999;color:#666;line-height:1.4;width:200px;font-size:11px;font-family:'Lucida Grande',Tahoma,Arial,sans-serif;
    border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;
}

/**
 * Fix artisteer themes
 */
#ezblog-menu .blog-navi li:before,
#ezblog-menu .blog-navi li:after{ content: none !important;}
#ezblog-menu .blog-navi li .tips b{display:block;color:#333;line-height:1.2;margin-bottom:5px;}
#ezblog-menu .blog-navi li .tips i{display:block;width:15px;height:8px;background:url(../images/a-point-top.png) center top no-repeat;position:absolute;left:12px;top:-8px;}
#ezblog-menu .blog-navi li:hover .tips{display:block;}
#ezblog-menu .blog-navi li.float-r .tips{right:2px;left:auto;}
#ezblog-menu .blog-navi li.float-r .tips i{right:12px;left:auto;}

#ezblog-menu .blog-navi li.toolbar-latest > a > span{background:url(../images/toolbar-home.png) center no-repeat;}
#ezblog-menu .blog-navi li.toolbar-categories > a > span{background:url(../images/toolbar-categories.png) center no-repeat;}
#ezblog-menu .blog-navi li.toolbar-tags > a > span{background:url(../images/toolbar-tags.png) center no-repeat;}
#ezblog-menu .blog-navi li.toolbar-blogger > a > span{background:url(../images/toolbar-blogger.png) center no-repeat;}
#ezblog-menu .blog-navi li.toolbar-teamblog > a > span{background:url(../images/toolbar-teamblog.png) center no-repeat;}
#ezblog-menu .blog-navi li.toolbar-archive > a > span{background:url(../images/toolbar-archive.png) center no-repeat;}
#ezblog-menu .blog-navi li.user-access > a > span{background:url(../images/toolbar-login.png) center no-repeat;}
#ezblog-menu .blog-navi li.user-setting > a > span{background:url(../images/toolbar-cog.png) center no-repeat;}
#ezblog-menu .blog-navi li.user-write > a > span{background:url(../images/toolbar-write.png) center no-repeat;}
#ezblog-menu .blog-navi li.user-micro > a > span{background:url(../images/toolbar-micro.png) center no-repeat;}

#ezblog-menu .blog-navi .user-options{position:absolute;right:-1px;width:260px;top:46px;z-index:200;}
#ezblog-menu .blog-navi li ul{width:185px;position:absolute;z-index:9999;background:#444;border:1px solid #222;border-bottom:0;border-top:0;right:0;top:-1px;}
#ezblog-menu .blog-navi li ul li{width:100%;border-bottom:1px solid #282828}
#ezblog-menu .blog-navi li ul li a{color:#ccc;text-decoration:none!important;font-family:'Lucida Grande',Tahoma,Arial,sans-serif;font-size:11px;display:block;line-height:14px;padding:7px 8px;text-shadow:0 1px 0 #333;}
#ezblog-menu .blog-navi li ul li a:hover{color:#ddd;}
#ezblog-menu .blog-navi li ul li + li a:hover{background:#555;box-shadow:0 1px 0 #666 inset;}
#ezblog-menu .blog-navi li ul li.user-info{padding:8px 0}
#ezblog-menu .blog-navi li ul li.user-info a,
#ezblog-menu .blog-navi li ul li.user-info a.user-avatar{line-height:normal;height:auto;display:inline-block;padding:0;margin:0 8px;font-weight:bold;max-width:115px;word-wrap:break-word;overflow:hidden;}
#ezblog-menu .blog-navi li ul li.user-info a.user-avatar{margin:0 7px}
#ezblog-menu .blog-navi li ul li.user-info a:hover{background:none;text-decoration:underline}
#ezblog-menu .blog-navi li ul li a.fss{font-size:9px;margin:5px 0 0 8px;font-weight:normal;}
#ezblog-menu .blog-navi a img.avatar{border:1px solid #333;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;}
#ezblog-menu .blog-navi li ul li a sup{background:#DA1900;display:inline-block;width:14px;height:14px;line-height:14px;text-align:center;margin-left:5px;font-size:10px;font-family:Arial;text-shadow:0 1px 1px #000;vertical-align:middle;
	border-radius:7px;-moz-border-radius:7px;-webkit-border-radius:7px
}
#ezblog-menu .blog-navi #ezblog-search{ width: 120px;}

#ezblog-menu .blog-navi .user-access a.active{background:#444;color:#fff}
#ezblog-menu .blog-navi .subtoolbar-arrow{background:url(../images/subtoolbar-arrow.png) center bottom no-repeat;display:block;width:14px;height:7px;top:-7px;right:17px;z-index:99999}
#ezblog-menu .blog-navi .user-form{background:#fff;color:#666;width:250px;top:35px;right:-1px;border:1px solid #aaa;border-top:0;z-index:99999;zoom:1;
    border-radius:0 0 2px 2px;-moz-border-radius:0 0 2px 2px;-webkit-border-radius:0 0 2px 2px;}
#ezblog-menu .blog-navi .user-form form{display:inline-block;margin:0;padding:10px;background:none;border:0;font-size:11px;}
#ezblog-menu .blog-navi .user-form form .input{width:220px;padding:0 4px;height:28px;font-family:Arial;font-size:14px;font-weight:bold;color:#555;background:#fff;border:1px solid #ccc;margin:0 0 10px;
    border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;}
#ezblog-menu .blog-navi .user-form form a{color:#135CAE !important;text-decoration:none;background:none!important;}
#ezblog-menu .blog-navi .user-form form a:hover{text-decoration:underline;}
#ezblog-menu .blog-navi .user-form form a,
#ezblog-menu .blog-navi .user-form form .trait{display:inline-block;margin-bottom:5px;float: left}
#ezblog-menu .blog-navi .user-form form #remember{padding:0;margin:0;vertical-align:text-top;}
#ezblog-menu .blog-navi .user-form form .button{background:url(../images/ui-button.png) #fff bottom repeat-x!important;height:28px;color:#555;font-family:Arial;font-weight:bold;font-size:11px;border:1px solid #bbb;border-bottom-color:#999;
    border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;}

/*
* Seperator Styling
*/
/*#ezblog-body .blog-section{border-top:1px solid #ccc}*/
#ezblog-body .blog-section .section-title,
#ezblog-body .blog-section .section-content{padding:15px 0}
#ezblog-body .blog-section .section-title{margin:0}
/*
* Section Area
*/
#ezblog-section{font-weight:700;font-size:24px;line-height:48px;height:48px;margin-bottom:10px}
#ezblog-section .link-subscribe,
#ezblog-section .link-rss{font-size:12px;font-weight:700;margin:10px 0 0 10px}
#ezblog-label{height:40px;line-height:40px;border-bottom:3px double #ccc}
#ezblog-label > span{line-height:40px;display:inline-block;}
#ezblog-label .link-rss{height:20px;line-height:20px;font-size:11px;margin:10px 0;padding:0 0 0 20px;background:url(../images/icons/feed-small.png) 0 center no-repeat;}
/*
* Section Area
*/
#eblog-wrapper #section-trackbacks .inputbox{padding:6px 4px;border:1px solid #ccc;border-top-color:#aaa;}
#eblog-wrapper #section-trackbacks .entry-trackback-input + ul{padding:15px 0 0;margin-top:15px;border-top:3px double #ccc}
/*
* Entry Listing
*/
#ezblog-body .blog-post{padding:30px 0}
#ezblog-body .blog-post + .blog-post{border-top:1px solid #ddd;}
#ezblog-body .blog-header{margin:0 0 10px;}
#ezblog-body .blog-title{font-weight:700;line-height:1.2;clear:none;width:auto;border:0;margin:0 35px 0 0}
#ezblog-body .blog-title,
#ezblog-body .blog-title a{text-decoration:none}
#ezblog-body .blog-post .blog-title,
#ezblog-body .blog-post .blog-title a{font-size:20px;}
#ezblog-body .tag-featured{font-size:9px;font-family:Arial;line-height:0;background:#da1900;color:#fff;padding:0 3px;vertical-align:text-top}
#ezblog-body div.tag-featured{display:inline-block;height:20px;background:url(../images/ribbon-featured.png) bottom #da1900;border-left:1px solid #9D0025;font:bold 11px/19px 'Lucida Grande',Tahoma,Arial;padding:0 10px;margin:0 0 15px;position:relative;}
#ezblog-body div.tag-featured > i{position:absolute;right:-8px;top:0;width:8px;height:20px;background:url(../images/ribbon-featured.png) top;}
/*IE7*/*:first-child+html #ezblog-body .tag-featured{padding:2px 3px}
#ezblog-body .blog-read .blog-title{font-size:24px}
#ezblog-body .blog-avatar .isTeamBlog{z-index:1}
#ezblog-body .blog-avatar .isTeamBlog:hover{z-index:3}
#ezblog-body .blog-avatar .isTeamBlog + .isBlogger{right:0;bottom:-3px;z-index:2}
#ezblog-body .blog-avatar + .blog-cap{margin-left:75px}
#ezblog-body .blog-meta{line-height:16px;}
#ezblog-body .blog-meta *{font-weight:700}
#ezblog-body .blog-meta-bottom div > span{display:inline-block;float:left;height:16px;line-height:16px}
#ezblog-body .blog-meta-bottom div > span + span{padding:0 0 0 8px;margin:0 0 0 8px;border-left:1px dotted #ccc}
#ezblog-body a.blog-more-button{}
#ezblog-body #ezblog-posts .blog-show-comments{border-top:1px dotted #ddd;padding-top:20px;margin-top:20px;}
#ezblog-body .blog-text img,
#ezblog-body .blog-content img{max-width:100%;/*max-width:none\9;*/}
#ezblog-body .blog-text td img,
#ezblog-body .blog-content td img{max-width: none;}
#ezblog-body .locationMap img{max-width:none!important;height:auto;}
#ezblog-body .blog-comments a{padding:0 0 0 22px;background:url(../images/item-comments.png) left center no-repeat;height:16px;line-height:16px;display:inline-block;}
#ezblog-body .featured-readmore a,
#ezblog-body .blog-readmore a{padding:0 20px 0 0;background:url(../images/item-readmore.png) right center no-repeat;height:16px;line-height:16px;display:inline-block;}
#ezblog-posts .blog-meta{margin:5px 0 15px;}
#ezblog-posts .blog-image{margin:0 15px 10px 0;padding:5px;border:1px solid #ccc;border-bottom-color:#aaa;background:#fff;}
#ezblog-posts.forTeamBlog {padding-top: 10px}

/*
* Micro : Blog Meta;
*/
#ezblog-body .blog-meta > .in{padding:0 0 0 22px;background:url(../images/meta-clock.png) 0 center no-repeat;}
#ezblog-body .micro-link .blog-meta > .in{background:url(../images/micro-link.png) 0 center no-repeat;}
#ezblog-body .micro-quote .blog-meta > .in{background:url(../images/micro-quote.png) 0 center no-repeat;}
#ezblog-body .micro-photo .blog-meta > .in{background:url(../images/micro-photo.png) 0 center no-repeat;}
#ezblog-body .micro-video .blog-meta > .in{background:url(../images/micro-video.png) 0 center no-repeat;}
#ezblog-body .micro-twitter .blog-meta > .in{background:url(../images/micro-twitter.png) 0 center no-repeat;}
#ezblog-body .micro-email .blog-meta > .in{background:url(../images/micro-email.png) 0 center no-repeat;}
/*
* Micro: For archive listing
*/
#ezblog-body .archive-list li{padding:10px 0 10px 25px;background-position:0 12px;background-repeat:no-repeat;}
#ezblog-body .archive-list li+li{border-top:1px solid #ddd;}
#ezblog-body .archive-list li a{line-height:16px;}
#ezblog-body .archive-list li time{color:#999;font-size:11px;float:right;display:inline-block;margin:0 0 0 10px;}
#ezblog-body .archive-list li.micro-post{background-image:url(../images/meta-clock.png)}
#ezblog-body .archive-list li.micro-link{background-image:url(../images/micro-link.png)}
#ezblog-body .archive-list li.micro-quote{background-image:url(../images/micro-quote.png)}
#ezblog-body .archive-list li.micro-photo{background-image:url(../images/micro-photo.png)}
#ezblog-body .archive-list li.micro-video{background-image:url(../images/micro-video.png)}
#ezblog-body .archive-list li.micro-twitter{background-image:url(../images/micro-twitter.png)}
#ezblog-body .archive-list li.micro-email{background-image:url(../images/micro-email.png)}
#ezblog-body .archive-list.for-search li{padding-left:0;}
/*
* Micro : Image
*/
#ezblog-body .blog-content p.photo-source{padding:5px 7px;}
#ezblog-body .blog-content p.photo-source img{padding:5px;border:1px solid #ccc;background:#fff;margin:0 -5px;}
/*
* Micro : Quote & Link
*/
#ezblog-body .micro-quote .blog-quote,
#ezblog-body .micro-link .blog-link,
#ezblog-body .micro-twitter .blog-tweet{padding:5px 35px 5px 20px;margin:0 0 10px;}
#ezblog-body .micro-twitter .blog-tweet h3{margin-left: 24px;}
#ezblog-body .micro-quote .blog-quote{background:url(../images/quote.png) 2px 10px no-repeat;}
#ezblog-body .micro-link .blog-link{background:url(../images/link.png) 10px 10px no-repeat;}
#ezblog-body .micro-twitter .blog-tweet{background:url(../images/micro-twitter.png) 2px 10px no-repeat;}
#ezblog-body .micro-quote .blog-quote .blog-title{margin-bottom:10px;}
#ezblog-body .micro-link  .blog-link  .blog-title{margin-bottom:0;}
#ezblog-body .micro-quote .blog-quote .blog-title a{text-decoration:none!important;background:none!important;color:inherit!important;font-size:24px;line-height:26px;font-style:normal;font-family:Arial,sans-serif;font-weight:bold;}
/*
* Social button
*/
#socialbutton {position:relative;top:10px;z-index: 5;}
#socialbutton.alignleft {position: relative;z-index: 5}
#eblog-wrapper .socialbutton-vertical.alignleft {float: none;}
#socialbutton.alignleft .social-button,
#socialbutton.alignright .social-button{clear:both;margin:0 0 10px;}
#socialbutton.alignleft > .db-wrapper,
#socialbutton.alignright > .db-wrapper{margin:0 0 10px;}

#socialbutton.alignleft.width-full .social-button{margin:0 10px 0 0}
#socialbutton.alignright.width-full .social-button{margin:0 0 0 10px}
#socialbutton.alignleft{margin:0 13px 0 0}
#socialbutton.alignright{margin:0 0 0 13px}
#socialbutton.top,
#socialbutton.bottom{top:0;width:100%;float:none;display:inline-block;}
#socialbutton.top{margin-bottom:10px;}
#socialbutton.bottom{margin-top:10px;}

#socialbutton.alignleft + .blog-text{margin-left:100px;}
#socialbutton.alignright + .blog-text{margin-right:100px;}

#socialbutton .google-plusone{min-height:20px;}
#socialbutton .fb_edge_widget_with_comment{height:auto!important;}
#eblog-wrapper .socialbutton-vertical {margin:0 0 10px;display: inline-block;vertical-align: top;}
#eblog-wrapper #socialbutton.width-full + .blog-text{margin-left:0;margin-right:0;}
#eblog-wrapper .socialbutton-vertical .social-button-large.pinterest {padding-top: 10px}

/*social-button-large*/
#eblog-wrapper .social-button-large.retweet,
#eblog-wrapper .social-button-large.google-plusone,
#eblog-wrapper .social-button-large.digg-share,
#eblog-wrapper .social-button-large.linkedin-share,
#eblog-wrapper .social-button-large.stumbleupon-share,
#eblog-wrapper .social-button-large.pinterest,
#eblog-wrapper .social-button-large.tweetmeme {width:60px}

#eblog-wrapper .social-button-large.facebook-like {width:auto}

/*social-button-small*/
#eblog-wrapper .social-button-small.retweet {width:82px}
#eblog-wrapper .social-button-small.facebook-like {width:auto}
#eblog-wrapper .social-button-small.google-plusone {width:66px}
#eblog-wrapper .social-button-small.digg-share {width:80px}
#eblog-wrapper .social-button-small.linkedin-share {width:64px}
#eblog-wrapper .social-button-small.stumbleupon-share {width:76px}
#eblog-wrapper .social-button-small.pinterest {width:70px}
#eblog-wrapper .social-button-small.tweetmeme {width:50px}

/*social-button-plain*/
#eblog-wrapper .social-button-plain.pinterest {width:46px}


/*
* Comment on latest view
*/
#ezblog-body .comment-list li+li{margin-top:10px;padding-top:10px;}
#ezblog-body .comment-list .comment-avatar img{width:50px;max-width:none\9;}
#ezblog-body .comment-list .comment-avatar + .comment-brief{margin-left:65px}
/*
* Blog rating
*/
#eblog-wrapper .blog-rating{font-size:11px;display:inline-block;}
/*IE7*/*:first-child+html #eblog-wrapper .blog-rating{display:inline}
#eblog-wrapper .blog-rating form > div{display:inline-block;float:left;margin:0 5px 0 0;line-height:16px;height:16px}
#eblog-wrapper .star-location{display:inline-block;position:relative;margin:5px 0 0;}
#eblog-wrapper .ratings-value{background:#f5f5f5;border:1px solid #cacaca;color:#666;font:11px/15px Tahoma,Arial,sans-serif;white-space:nowrap;padding:0 6px 1px;margin:0 0 0 6px;position:absolute;left:100%;top:-2px;
	box-shadow:0 1px 0 #fff inset;-moz-box-shadow:0 1px 0 #fff inset;-webkit-box-shadow:0 1px 0 #fff inset;text-shadow:none;}
#eblog-wrapper .ratings-value i{background:url(../images/rate-arrow.png) 0 center no-repeat;position:absolute;left:-5px;top:4px;height:7px;width:5px;}
#eblog-wrapper .ratings-value b{display:none;}
#eblog-wrapper .voted .ratings-value b{background:url(../images/rate-tick.png) center center no-repeat #f5f5f5;height:15px;width:18px;padding:0 0 1px;display:block;text-indent:-9999px;position:absolute;left:100%;top:-1px;border:1px solid #cacaca;
	box-shadow:0 1px 0 #fff inset;-moz-box-shadow:0 1px 0 #fff inset;-webkit-box-shadow:0 1px 0 #fff inset;text-shadow:none;}
/*
* Blog admin
*/
#ezblog-body .blog-admin{float:right;;margin:0 0 0 15px;position:relative;z-index:10;}
#ezblog-body .blog-admin > a{display:block;width:24px;height:24px;background:url(../images/blog-admin-pencil.png) center 7px no-repeat #FEF6C2!important;border:1px solid #D4CA89;position:relative;
    border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;}
#ezblog-body .blog-admin:hover > a{z-index:99992;border-bottom:0;padding-bottom:1px;
    border-radius:2px 2px 0 0;-moz-border-radius:2px 2px 0 0;-webkit-border-radius:2px 2px 0 0;}
#ezblog-body .blog-admin ul{display:none;background:#FEF6C2;position:absolute;right:0;top:25px;border:1px solid #D4CA89;z-index:99991;
    border-radius:2px 0 2px 2px;-moz-border-radius:2px 0 2px 2px;-webkit-border-radius:2px 0 2px 2px;   }
#ezblog-body .blog-admin ul li + li{border-top:1px solid #D4CA89;}
#ezblog-body .blog-admin ul li.featured_add + li.featured_remove{border-top:0;}
#ezblog-body .blog-admin ul li a{display:block;white-space:nowrap;padding:12px 24px 12px 12px;font-size:11px;font-family:Tahoma,'Lucida Grande',Arial,sans-serif;line-height:1.2;text-decoration:none;color:#665D28!important;background:none!important;text-shadow:none!important;}
#ezblog-body .blog-admin ul li a:hover{text-decoration:underline;}
#ezblog-body .blog-admin:hover ul{display:block;}
/*
* Blog read view
*/
#ezblog-body .blog-read .blog-avatar{margin-top:0}
#ezblog-body .blog-avatar + .blog-head{margin:0 0 0 80px}
#ezblog-body .blog-read .blog-head .blog-meta .blog-avatar{margin-right:5px}

#ezblog-body .blog-admin + .blog-brief{clear:both;}
#ezblog-body .blog-brief{border-bottom:1px solid #ddd}
#ezblog-body .blog-brief .blog-avatar{margin:0 10px 0 0;}
#ezblog-body .blog-brief img.avatar{width:36px;height:auto;}
#ezblog-body .blog-read .blog-tweet{font:28px/36px Georgia,Palatino,Helvetica Neue,Helvetica,Arial,sans-serif;margin-bottom:10px;padding:25px}
/*
* Blog option
*/
#ezblog-body .blog-option ul{display:inline-block}
#ezblog-body .blog-option li{line-height:17px;height:17px}
#ezblog-body .blog-option li + li{border-left:1px dotted #ccc;margin:0 0 0 8px;padding:0 0 0 8px}
#ezblog-body .blog-option li a{display:inline-block}
#ezblog-body .blog-option li.print a,
#ezblog-body .blog-option li.pdf a,
#ezblog-body .blog-option li.blog-email a,
#ezblog-body .blog-option li.blog-report a{padding-left:22px}
#ezblog-body .blog-option li#bookmark-link .addthis_button_compact .at300bs{float:left;margin-right:4px}
#ezblog-body .blog-option li.print a{background:url(../images/icons/printer.png) 0 center no-repeat}
#ezblog-body .blog-option li.pdf a{background:url(../images/icons/document-pdf.png) 0 center no-repeat}
#ezblog-body .blog-option li.blog-email a{background:url(../images/icons/mail-open-document-text.png) 0 center no-repeat}
#ezblog-body .blog-option li.blog-report a{background:url(../images/icons/exclamation-button.png) 0 center no-repeat}
#ezblog-body .blog-option li.font-switcher a{text-indent:-9999px;height:12px; position: relative;top:2px;}
#ezblog-body .blog-option li.font-switcher a#fontLarge{color:#095197;background:url(../images/icons/font-size.png) 0 0 no-repeat;padding-left:12px}
#ezblog-body .blog-option li.font-switcher a#fontSmall{color:#095197;background:url(../images/icons/font-size.png) 0 -12px no-repeat;padding-left:12px;}



/*
* Tag listing view
*/
#eblog-wrapper .tag-sort-order{border-bottom:1px solid #bbb}
#eblog-wrapper .tag-sort-order li+li{border-left:1px dotted #ccc;margin-left:8px;padding-left:8px}
#eblog-wrapper .tag-sort-order li a{font-weight:700;padding-left:20px;background:0 center no-repeat;display:inline-block;height:18px;line-height:18px}
#eblog-wrapper .tag-sort-order a.active{ text-decoration: underline !important; }
#eblog-wrapper .tag-sort-order li.sorting-item.tag-title a{background-image:url(../images/icons/sort-date.png); text-decoration: none;}
#eblog-wrapper .tag-sort-order li.sorting-item.posts a{background-image:url(../images/icons/sort-quantity-des.png); text-decoration: none;}
#eblog-wrapper .tag-sort-order li.ordering-item.asc a{background-image:url(../images/icons/sort-alphabet.png); text-decoration: none;}
#eblog-wrapper .tag-sort-order li.ordering-item.des a{background-image:url(../images/icons/sort-alphabet-desc.png); text-decoration: none;}
#eblog-wrapper .tag-sort-order #filter-tags{border:1px solid #ccc}
#eblog-wrapper .post-tags{border-top:4px solid #eee}
#eblog-wrapper .post-tags li{min-height:16px;line-height:16px;margin:5px 0}
#eblog-wrapper .post-tags li a{float:left;display:inline-block;font-weight:700;text-decoration:none}
#eblog-wrapper .post-tags li a.link-rss-s{width:16px;height:16px;padding-left:0;display:block;text-indent:-99999px}
#eblog-wrapper .post-tags.column3 li{width:33%}
#eblog-wrapper .post-tags.column4 li{width:25%}
/*
* Map view
*/
#ezblog-body .blog-map{margin:10px 0}
#ezblog-body .map-images{display:inline-block;border:1px solid #ddd;border-bottom-color:#bbb;border-right-color:#dadada;padding:2px}
*:first-child+html #ezblog-body .map-images{zoom:1;*display:inline;}
/*
* Gallery view
*/
#ezblog-body .blog-gallery{display:inline-block;width:100%;}
#ezblog-body .blog-gallery .item{display:inline-block;float:left}
#ezblog-body .blog-gallery .thumb-link{display:inline-block;padding:4px;border:1px solid #ddd;backgroound:#fff}
#ezblog-body .blog-gallery .thumb-link:hover{border-color:#ccc;border-bottom-color:#aaa}
/*
* Related blog post
*/
#ezblog-body .blog-related ul li+li{margin-top:10px;padding-top:10px;border-top:1px dashed #ddd}
/*
* Blog Navigation
*/
#ezblog-body .blog-read .blog-navi{background:#fff;border:1px solid #ccc;border-bottom-color:#aaa;margin:15px 0;padding:0 10px;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;}
#ezblog-body .blog-read .blog-navi li{width:50%;}
#ezblog-body .blog-read .blog-navi li+li{border-left:1px solid #ccc;margin-left:-2px;}
#ezblog-body .blog-read .blog-navi li a{color:#555!important;display:block;padding:15px 5px 15px 25px;text-align:left;font-size:11px;text-decoration:none!important;background:url(../images/blog-navi-prev.png) 0 center no-repeat!important;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
#ezblog-body .blog-read .blog-navi li+li a{padding:15px 25px 15px 5px;text-align:right;background:url(../images/blog-navi-next.png) right center no-repeat!important;}
#ezblog-body .blog-read .blog-navi li a:hover{background-color:transparent!important;}
/*
* Blog Tabs
*/
#ezblog-body .tab_button{border:1px solid #ccc;border-radius:2px 2px 0 0;-moz-border-radius:2px 2px 0 0;-webkit-border-radius:2px 2px 0 0;}
#ezblog-body .tab_button li{width:35%;text-align:left;}
#ezblog-body .tab_button li+li{border-left:1px dotted #ccc}
#ezblog-body .tab_button li a,
#ezblog-body .tab_button li a:hover{text-decoration:none;background-color:transparent;font-size:12px;font-weight:bold;padding:10px 0 10px 22px;display:block;height:24px;line-height:24px}
#ezblog-body .tab_button li a span{display:inline-block;height:18px;line-height:18px;padding:2px 8px;margin-top:2px;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px}
#ezblog-body .tab_button li a:hover span{background:#ddd;color:#444;text-decoration:none}
#ezblog-body .tab_button li.item-active a span,
#ezblog-body .tab_button li.item-active a:hover span{background:#DA1900;color:#fff}
#ezblog-body .tab_button li a.ico{background-position:0 center;background-repeat:no-repeat;margin-left:10px}
#ezblog-body #button-related a{background-image:url(../images/icons/document-convert.png)}
#ezblog-body #button-trackbacks a{background-image:url(../images/icons/arrow-continue-090.png)}
#ezblog-body #button-author a{background-image:url(../images/icons/user-silhouette.png)}
#ezblog-body .tab_container{border:1px solid #ccc;border-top:0;padding:15px;}
#ezblog-body .entry-related-post li + li,
#ezblog-body .entry-trackback-links li + li{border-top:1px dotted #ccc;}
/*
* Comment
*/
#ezblog-body #blog-comment{padding-bottom:20px;}
#ezblog-body #blog-comment .comment-row + .comment-row{margin-top:30px}
#ezblog-body #blog-comment img.avatar,
#ezblog-body #comment-form img.avatar{width:50px;height:auto}
/*textarea styling when bbcode is turned off*/
#ezblog-body #comment-form .comment-editor > .textarea{padding:4px;width:100%;border:1px solid #ccc;border-top-color:#aaa;height:80px;font:13px/20px Consolas,'Courier New',Courier,monospace;resize:none;}
#ezblog-body #comment-form.blog-section{border-color:#eee}
#ezblog-body .comment-avatar + .comment-content{margin:0 0 0 65px}
#ezblog-body .comment-content + .comment-form-inline{margin-top:10px}
#ezblog-body .comment-row .comment-body{padding:5px 0 0}
#ezblog-body .form-row.half{width:50%}
#ezblog-body .comment-row .comment-reply span{display:none}
#ezblog-body .comment-row .comment-reply span.show-this{display:inline}
#ezblog-body #blog-comment .comment-body img {max-width: 100%;max-width:none\9;}
/*
* Comment tab
*/
#ezblog-body .blog-comment-tabs{border-bottom:1px solid #ccc;margin:15px 0;}
#ezblog-body .blog-comment-tabs li{margin:0 10px 0 0;}
#ezblog-body .blog-comment-tabs li a{display:block;padding:0 3px;line-height:34px;height:34px;font-weight:bold;text-decoration:none!important;}
#ezblog-body .blog-comment-tabs li a:hover,
#ezblog-body .blog-comment-tabs li a:focus{border-bottom:1px solid #fff;margin-bottom:-2px;padding-bottom:2px;}
#ezblog-body .blog-comment-tabs li.active a{border-bottom:3px solid #777;margin-bottom:-2px;padding-bottom:1px;}
/*
* Comment form
*/
body .comment-row #comment-form .comment-body{padding:0;border:0;margin:0}
body #comment-form #markItUpComment{display:inline-block;width:100%;}
body #comment-form #markItUpComment .markItUpHeader{border:1px solid #ccc;border-bottom:0;background:#f5f5f5;padding:4px;display:inline-block;width:100%}
body #comment-form #markItUpComment .markItUpHeader ul{display:inline-block}
body #comment-form #markItUpComment .markItUpHeader ul a{border:0;padding:3px;background-position:center !important}
body #comment-form #markItUpComment .markItUpHeader ul a:hover,
body #comment-form #markItUpComment .markItUpHeader ul a:focus{border:1px solid #ccc;padding:2px;background-color:#fff;}
body #comment-form #markItUpComment .markItUpHeader ul .markItUpSeparator{border-right:1px solid #ddd;height:22px;margin:0 5px;display:block;text-indent:-9999px}
body #comment-form #markItUpComment textarea{border:1px solid #ccc;padding:4px;width:100%;height:120px;font:13px/20px 'Lucida Grande','Helvetica Neue', Tahoma, Arial, sans-serif}
body #comment-form #markItUpComment .markItUpFooter{padding:3px 4px;background:#f5f5f5;border:1px solid #ccc;border-top:0}
body #comment-form .inputbox{padding:6px 4px;border:1px solid #ccc;border-top-color:#aaa;}
body #comment-form input[type="checkbox"].inputbox{vertical-align:text-top;margin:0 5px 0 0;}
/*
* Comment : Aero
*/
#eblog-wrapper .style-aero .comment-head{background:url(../images/comment/aero/comment-head.png) repeat-x scroll center bottom #fff;border:1px solid #B1B9BA;height:24px;line-height:24px;padding:0 5px;border-radius:3px 3px 0 0;-moz-border-radius:3px 3px 0 0;-webkit-border-radius:3px 3px 0 0}
#eblog-wrapper .style-aero .comment-head .comment-arrow{background:url(../images/comment/aero/comment-arrow-a.png) repeat scroll 0 0 transparent;display:block;width:5px;height:10px;left:-5px;top:5px;z-index:10}
#eblog-wrapper .style-aero .comment-body,
#eblog-wrapper .style-aero .comment-row #comment-form .comment-body{background:url(../images/comment/aero/comment-body.png) repeat-x scroll center top #D8E0E1;border:1px solid #B1B9BA;border-top:0;margin:0;padding:5px;border-radius:0 0 3px 3px;-moz-border-radius:0 0 3px 3px;-webkit-border-radius:0 0 3px 3px}
#eblog-wrapper .style-aero .comment-control{margin:10px 0 0;}
#eblog-wrapper .style-aero .comment-reply{background:url(../images/comment/aero/comment-reply.png) 0 center no-repeat;padding-left:15px;}
#eblog-wrapper .style-aero .comment-like{background:url(../images/comment/aero/comment-like.png) 0 center no-repeat;padding-left:15px;margin:0 0 0 15px;}
#eblog-wrapper .style-aero .comment-like b{display:none;}

/*
* Commment : Altium
*/
#eblog-wrapper .style-altium #blog-comment .comment-block,
#eblog-wrapper .style-altium #comment-form .comment-form{position:relative;}
#eblog-wrapper .style-altium #blog-comment .comment-avatar,
#eblog-wrapper .style-altium #comment-form .comment-avatar{position:absolute;left:7px;top:7px;z-index:2;}
#eblog-wrapper .style-altium #blog-comment .comment-avatar img.avatar,
#eblog-wrapper .style-altium #comment-form .comment-avatar img.avatar{width:30px;height:30px;}
#eblog-wrapper .style-altium #blog-comment .comment-row + .comment-row{margin-top:25px;}
#eblog-wrapper .style-altium #blog-comment .comment-body{padding:5px 15px;margin:10px 0;border-left:2px solid #ddd;}
#eblog-wrapper .style-altium #comment-form .comment-body{padding:0;margin:0;border-left:0;}
#eblog-wrapper .style-altium #blog-comment .comment-body p{margin:0;}
#eblog-wrapper .style-altium #blog-comment .comment-body p + p{margin-top:1em;}
#eblog-wrapper .style-altium #blog-comment .comment-avatar + .comment-content,
#eblog-wrapper .style-altium #comment-form .comment-avatar + .comment-content{margin:0;}
#eblog-wrapper .style-altium #blog-comment .comment-content .comment-head,
#eblog-wrapper .style-altium #comment-form .comment-content .comment-head{background:#f5f5f5;border:1px solid #ddd;padding:0 15px;font-size:11px;bpadding:0 15px 0 50px;font-size:11px;rder-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;height:44px;line-height:44px;}
#eblog-wrapper .style-altium #blog-comment .comment-avatar + .comment-content .comment-head,
#eblog-wrapper .style-altium #comment-form .comment-avatar + .comment-content .comment-head{padding:0 15px 0 50px;}
#eblog-wrapper .style-altium #blog-comment .comment-head .comment-likescounter{float:right;}
#eblog-wrapper .style-altium #blog-comment .comment-control > span.comment-reply,
#eblog-wrapper .style-altium #blog-comment .comment-control > span.comment-like > span{display:inline-block;background:#fafafa;border:1px solid #ccc;margin:0;padding:0;height:28px;line-height:28px;font-size:11px;color:#888;width:auto;overflow:visible;vertical-align:top;
    border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;
}
#eblog-wrapper .style-altium #blog-comment .comment-control > span.comment-reply{margin:0 5px 0 0;}
#eblog-wrapper .style-altium #blog-comment .comment-control > span a{text-decoration:none;color:#888;background:none;}
#eblog-wrapper .style-altium #blog-comment .comment-control > span.comment-reply a,
#eblog-wrapper .style-altium #blog-comment .comment-control > span.comment-like span + span a{display:inline-block;line-height:28px;height:28px;padding:0 10px;}
#eblog-wrapper .style-altium #blog-comment .comment-control > span.comment-like span{padding:0 10px;}
#eblog-wrapper .style-altium #blog-comment .comment-control > span.comment-like span + span{padding:0;}
#eblog-wrapper .style-altium #blog-comment .comment-like b{display:none;}

#eblog-wrapper .style-altium #blog-comment .comment-row:hover .comment-head{border:1px solid #cacaca;border-bottom-color:#aaa;background:#eee;}
#eblog-wrapper .style-altium #blog-comment .comment-row:hover .comment-control > span.comment-reply,
#eblog-wrapper .style-altium #blog-comment .comment-row:hover .comment-control > span.comment-like > span + span{border:1px solid #aaa;border-bottom-color:#999;color:#777;
    background: -moz-linear-gradient(top,  #ffffff 0%, #eeeeee 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* IE10+ */
    background: linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
    box-shadow:0 1px 0 rgba(255,255,255,0.3);
    -moz-box-shadow:0 1px 0 rgba(255,255,255,0.3);
    -webkit-box-shadow:0 1px 0 rgba(255,255,255,0.3);
}
#eblog-wrapper .style-altium #blog-comment .comment-row:hover .comment-control > span a{color:#333;}
/*
* Profile view
*/
#ezblog-body .profile-item{padding:15px;border:1px solid #ddd;border-radius:3px}
#ezblog-body .profile-item + .profile-item{margin-top:15px}
#ezblog-body .profile-head{}
#ezblog-body .profile-avatar a{display:block;}
#community-wrap #ezblog-body .profile-avatar,
#community-wrap #ezblog-body .profile-avatar a{background:none !important;}
#ezblog-body .profile-avatar + .profile-info{margin:0 0 0 65px;}
#ezblog-body .forCategory .profile-avatar + .profile-info,
#ezblog-body .forTeamBlog .profile-avatar + .profile-info,
#ezblog-body .forBlogger .profile-avatar + .profile-info {margin:0 0 0 95px;}
#ezblog-body .profile-sidebar{float:left;display:inline-block;width:160px;font-size:11px}
#ezblog-body .profile-sidebar + .profile-main{margin:0 0 0 180px;}
#ezblog-body .profile-info p{margin-top:0;}
#ezblog-body .profile-brief h3{font-size:14px;color:inherit}
#ezblog-body .profile-brief .active-bloggers{margin-right:-5px}
#ezblog-body .profile-brief .active-bloggers li+li+li+li{margin-top:5px}
#ezblog-body .list-contributors li + li{margin-top:5px;padding-top:5px;border-top:1px dotted #ddd}
#ezblog-body .profile-stats > li + li{margin-top:5px;padding-top:5px;border-top:1px dotted #ddd}
#ezblog-body .profile-stats li span{display:inline-block;line-height:19px;}
#ezblog-body .profile-stats li span.traits{background:#ddd;padding:0 5px;min-width:16px;text-align:center;margin:0 0 0 3px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px}
#ezblog-body .profile-stats .list-square li{list-style-type:square;margin-left:15px}
#ezblog-body .profile-title{font-size:16px;line-height:20px}
#ezblog-body .profile-title a{text-decoration:none}
#ezblog-body .profile-body{padding-top:15px;margin-top:15px;border-top:1px solid #ddd;}
#ezblog-body .profile-body .post-list li + li{margin-top:15px;padding-top:15px;border-top:1px dotted #ddd}
#ezblog-body .profile-body .post-list .blog-title{font-weight:bold;color:inherit}
#ezblog-body .profile-connect .connect-links{display:inline-block}
#ezblog-body .profile-connect .connect-links li + li{border-left:1px dotted #ccc;padding-left:8px;margin-left:8px}
#ezblog-body .profile-connect .connect-links li a{display:inline-block;line-height:1.2}
#ezblog-body .post-list li{display:inline-block;width:100%;}
#ezblog-body .profile-child{padding-top:10px;}

/*
* Category view
*/
#ezblog-body .list-categories > li{border-top:1px solid #ddd;padding:15px 0;}
#ezblog-body .list-categories li .avatar + .category-story{margin:0 0 0 50px;}
#ezblog-body .list-categories li .category-name{font-size:14px;line-height:18px;}
#ezblog-body .list-categories li .category-name a{text-decoration:none;}
#ezblog-body .list-categories li .category-description{margin-top:5px;padding:0 0 0 10px;border-left:2px solid #ddd;}
#ezblog-body .list-categories li .category-description p{margin:0;}
#ezblog-body .list-categories li .category-description p + p{margin-top:10px;}
#ezblog-body .list-categories li .category-status{font-size:11px;margin:5px 0 0;}
#ezblog-body .list-categories li .category-status *{display:inline-block;line-height:16px;height:16px;}
#ezblog-body .list-categories li .category-status li + li{margin:0 0 0 10px;}
#ezblog-body .list-categories li .category-status li .link-rss{background-image:url(../images/icons/feed-small.png);background-position:0 center;background-repeat:no-repeat;padding:0 0 0 20px;}
/*
* Subscription view
*/
#ezblog-body .my-subscription > li+li{border-top:1px solid #ddd;padding-top:20px;margin-top:20px;}
#ezblog-body .my-subscription .subscription-title{}
#eblog-wrapper #ezblog-body .my-subscription ol{margin:10px 0 0 10px; padding: 0;}
#eblog-wrapper #ezblog-body .my-subscription ol li{list-style-type:decimal;margin-left:10px; padding: 0}

#eblog-wrapper #ezblog-body .my-subscription ol li + li{margin-top:5px;}
#ezblog-body .subscription-title{font-weight:700;margin-bottom:5px}
/*
* About author section
*/
#eblog-wrapper #section-author{border:1px solid #ccc;padding:0 10px;background: #f5f5f5;}
#eblog-wrapper #section-author div.author-about p{margin:0;padding:0}
#eblog-wrapper #section-author div.author-about p+p{margin-top:10px}
/*
* Adsense spacing styling
*/
.adsense-wrap{margin:10px 0}
/*
* Rating styling
*/
#eblog-dialog .ratings-value{padding: 0 0 0 5px;}
#eblog-dialog .ratings-value.eblog_loader{display: block;  margin:3px 0 0 5px; width:16px; height:11px; text-indent:-9999px;}
#eblog-dialog .ratings-people li img.avatar{width:32px;height:32px}
#eblog-dialog .ratings-people li div{line-height:34px;min-height:34px;overflow:hidden}
#eblog-dialog .ratings-people li + li{border-top:1px dotted #ddd}
/*
 * search
 */
#eblog-search,
#eblog-search:hover{border-bottom:1px solid #bbb;padding-bottom:20px;z-index:1}
#eblog-search-result{border-top:4px solid #eee}
#eblog-search .search-button{right:0;top:0}
#eblog-search .search-input{margin-right:162px}
#eblog-search .search-input input{padding:5px !important;height:16px !important}
#eblog-search .search-input input,
#eblog-search .button-search{font-family:Arial;font-size:14px;font-weight:700;border:1px solid #bbb !important;}
#eblog-search .button-search{background:url(../images/search.png) center !important;border-left:0 !important;height:28px;width:150px;outline:0!important;text-shadow:0 1px 3px #fff;margin-left:12px}
*:first-child+html #eblog-search .eblog-search-btn{margin-top:1px}
#eblog-search .button-search::-moz-focus-inner,
#eblog-search .button-search:focus{border:0}
#ezblog-body  .search-permalink{color:#999;font-size:10px}
#ezblog-body  .blogger-post.search-result-items{border-top:0;padding:10px 0}
#ezblog-body  .blogger-post.search-result-items p{margin:0}
#ezblog-body  .blogger-post.search-result-items li+li{border-top:1px dashed #ccc;margin-top:10px;padding-top:10px}
/*
* Calendar
*/
table#eblog-calendar{border-collapse:collapse;border-spacing:0;width:100% !important;border-left:1px solid #aaa;border-top:1px solid #aaa}
#eblog-calendar .calendar_month{background:#666;padding:0;vertical-align:middle;height:26px;text-align:center;border-right:1px solid #aaa;border-bottom:1px solid #aaa}
#eblog-calendar .calendar_month .currMonth{color:#fff;display:inline-block;height:26px;line-height:26px;font-weight:700;font-size:14px}
#eblog-calendar .calendar_month .prevMonth,
#eblog-calendar .calendar_month .nextMonth{display:block;width:26px;height:26px;text-indent:-9999999px}
#eblog-calendar .calendar_month .prevMonth{background:url(../images/calendar-prev.png) center no-repeat;float:left}
#eblog-calendar .calendar_month .nextMonth{background:url(../images/calendar-next.png) center no-repeat;float:right}
#eblog-calendar .calendar_day,
#eblog-wrapper #eblog-calendar td{border-right:1px solid #aaa;border-bottom:1px solid #aaa;width:14%;text-align:center}
#eblog-calendar .calendar_day{background:#D9E2E1;padding:5px 0;border-top:1px solid #eee}
#eblog-wrapper #eblog-calendar td a,
#eblog-wrapper #eblog-calendar td span{display:block;background-color:#fff;padding:10px 0;font-size:14px;color:#666}
#eblog-wrapper #eblog-calendar td a:hover{background-color:#fff}
#eblog-wrapper #eblog-calendar td.blank{background:#efefef}
#eblog-wrapper #eblog-calendar td.withpost a{font-weight:700;color:#135CAE; padding: 0;}
/*
* Blog protected
*/
#eblog-wrapper #blog-protected h3{border-bottom:1px dashed #ddd}
/*
* Frontpage featured
*/
#ezblog-body .slider-holder{height:260px;overflow:hidden}
#ezblog-body .featured-slider{margin:10px 0;overflow:hidden;padding:10px;border:1px solid #ccc;z-index:2;}
#ezblog-body ul.featured-entries{display:inline-block}
#ezblog-body ul.featured-entries li+li{display:none;}
#ezblog-body ul.featured-entries .featured-image{float:right;margin:3px 3px 0 0;border:1px solid #ddd;border-bottom-color:#ccc;padding:3px}
#ezblog-body ul.featured-entries .featured-image div{max-height:240px;overflow:hidden;}
#ezblog-body ul.featured-entries .featured-image img{max-width:295px;height:auto;position:relative;z-index:1;}
#ezblog-body ul.featured-entries .featured-image + .featured-meta{margin-right:320px}
#ezblog-body ul.featured-entries .featured-title a{font-size:18px;line-height:1.3;font-weight:700;text-decoration:none}
#ezblog-body ul.featured-entries .featured-title{border-bottom:1px solid #ddd;padding-bottom:10px}
#ezblog-body ul.featured-entries .featured-content{padding-top:10px;max-height:80px;line-height:20px;overflow:hidden}
#ezblog-body .featured-author{display:inline-block;width:100%;}
#ezblog-body .featured-readmore{font-weight:700}
#ezblog-body .featured-navi{background:#f5f5f5;border-top:1px solid #ccc;margin:10px -10px -10px}
#ezblog-body .featured-more{width:20px;height:22px;background:url(../images/featured-more.png) center no-repeat;right:7px;top:7px}
#ezblog-body .featured-a{text-align:center;padding:5px;border:1px solid #fff}
#ezblog-body .featured-a a{background:transparent;color:#fff;display:inline-block;font-size:11px;height:22px;line-height:22px;text-align:center;text-decoration:none;width:22px}
#ezblog-body .featured-a a span{background:url(../images/featured-bullets.png) top;display:block;text-indent:-9999px;height:22px;width:22px;opacity:0.7}
#ezblog-body .featured-a a.active span{background-position:bottom}
#ezblog-body .featured-a a:hover,
#ezblog-body .featured-a a:focus{background:transparent;cursor:pointer;text-decoration:none}
#ezblog-body .featured-tag{display:block;width:77px;height:77px;background:url(../images/featured-tag.png);right:1px;top:1px;z-index:3}
/*
* Bloggers sorting
*/
#eblog-wrapper #bloggers-sorting{margin-bottom:10px;padding-bottom:10px;border-bottom:1px dotted #ddd;display:inline-block;width:100%}
#eblog-wrapper #bloggers-sorting input,
#eblog-wrapper #bloggers-sorting select{margin:0 5px 0 0}
/*
* Common Icons, used with .ico class
*/
#ezblog-body .link-rss-s{background:url(../images/icons/feed-small.png) 0 0 no-repeat !important}

*:first-child+html .ui-postlabel{position:absolute;left:10px}
*:first-child+html .stackSuggest.tag-suggestion ul .stackSuggestItemGroup{margin-left:-16px}
*:first-child+html .stackSuggest.tag-suggestion ul li.stackSuggestItem{height:auto;display:inline-block}
*:first-child+html .stackSuggest.tag-suggestion ul li.stackSuggestItem.custom.active{margin-bottom:0!important}
*:first-child+html #eblog-wrapper #widget-writepost table{position:relative;zoom:1}
*:first-child+html #eblog-wrapper .write-postinfo{position:relative}
*:first-child+html #eblog-wrapper .write-postauthor.float-r{position:absolute;top:6px;right:8px}
*:first-child+html #eblog-wrapper .write-postauthor.float-r .ui-span{float:right}

/**
 * Grid items
 */
.blog-grid-item{
	/*margin: 10px;*/
	margin: 5px 0 5px 0;
	float: left;
	border: 1px solid #ccc;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
}

.grid-leading{
	width: 100% !important;
}

/* Standard grid item */
.grid-item{
	width: 220px;
}

/* Video grid item */
.grid-item-video{
	width: 460px !important;
}

/* Photo grid item */
.grid-item-photo{
	width: 460px;
	text-align:center;
}

.grid-item-photo img{
	max-width: 400px;
	-moz-border-radius: 4px;
	-border-radius: 4px;
	-webkit-border-radius: 4px;
}

/** Search highlighter **/
#eblog-wrapper #eblog-search-result .search-highlight{background:#ffa;}


/** Tags listings**/
#eblog-wrapper .blog-taglist{padding:10px 0 0;}
#eblog-wrapper .blog-taglist a{
	position:relative;
	display:inline-block;
	width:auto;
	margin:0 5px 5px 0;
	font-size:11px;
}

#eblog-wrapper .blog-taglist span.tag-head{
	line-height:23px;
    font-size:11px;
	float:left;
	margin:0 10px 0 0;
}
#eblog-wrapper .blog-taglist a i,
#eblog-wrapper .blog-taglist a span,
#eblog-wrapper .blog-taglist a b{float:left;display:inline-block;height:23px;line-height:22px;text-decoration:none;}
/*blue*/
#eblog-wrapper .blog-taglist.blue-tag a i,
#eblog-wrapper .blog-taglist.blue-tag a span,
#eblog-wrapper .blog-taglist.blue-tag a b {color:#005787;background-image: url(../images/blog-taglist_blue.png);}
#eblog-wrapper .blog-taglist.blue-tag a:hover span {color:#1883bd;}
/*orange*/
#eblog-wrapper .blog-taglist.orange-tag a i,
#eblog-wrapper .blog-taglist.orange-tag a span,
#eblog-wrapper .blog-taglist.orange-tag a b {color:#734d0c;background-image: url(../images/blog-taglist_orange.png);}
#eblog-wrapper .blog-taglist.orange-tag a:hover span {color:#9a4f0c;}
/*grey*/
#eblog-wrapper .blog-taglist.grey-tag a i,
#eblog-wrapper .blog-taglist.grey-tag a span,
#eblog-wrapper .blog-taglist.grey-tag a b {color:#555;background-image: url(../images/blog-taglist_grey.png);}
#eblog-wrapper .blog-taglist.grey-tag a:hover span {color:#333;}
/*black*/
#eblog-wrapper .blog-taglist.black-tag a i,
#eblog-wrapper .blog-taglist.black-tag a span,
#eblog-wrapper .blog-taglist.black-tag a b {color:#eee;background-image: url(../images/blog-taglist_black.png);}
#eblog-wrapper .blog-taglist.black-tag a:hover span {color:#bbb;}

#eblog-wrapper .blog-taglist a i{background-position:0 0;width:20px;}
#eblog-wrapper .blog-taglist a b{background-position:right 0px;width:5px;}
#eblog-wrapper .blog-taglist a span{background-position:right -23px;background-repeat:repeat-x;padding:0 3px 0 0;}
#eblog-wrapper .blog-taglist a:hover{background:none;}

/* Pagination */
#eblog-wrapper .list-pagination{border-top:1px solid #ddd;margin-top:30px;}
#eblog-wrapper .list-pagination li.control{display:none;}
#eblog-wrapper .list-pagination li{margin-right:5px;}
#eblog-wrapper .list-pagination li *{display:inline-block;line-height:30px;padding:0 5px;}
#eblog-wrapper .list-pagination li a{padding-top:1px;}
#eblog-wrapper .list-pagination li a:hover{border-top:1px solid #da1900;margin-top:-1px;}
#eblog-wrapper .list-pagination li span{padding:0;}
#eblog-wrapper .list-pagination li.active b{border-top:3px solid #777;margin-top:-2px;}

/* Gallery */
#eblog-wrapper .blog-gallery-wrap .gallery-item{
	float: left;
}

/* Joomla 3.0 */
#eblog-wrapper.eblog-bootstrap .subscription-box .easyblog-checkbox,
#eblog-wrapper.eblog-bootstrap .subscription-box.subscribe-to-blog {
	float: left;
}
#eblog-wrapper.eblog-bootstrap .button-search {
	border-left: 1px solid #bbb !important;
	border-radius: 2px;
}

body #eblog-wrapper .teaser-image .alignright,
body #eblog-wrapper .teaser-image .alignleft,
body #eblog-wrapper .teaser-image * { float: none !important; }



#eblog-wrapper .blog-modified-date {
	font-size: 11px;
	display: block;
	clear: both;
	margin: 5px 0 10px;
	font-style: italic;
}
