div.scsocialbuttons{
    width:100%
}
div.scsocialbuttons div{
    float:left;
    margin-right:5px;
}

div.og_activity .row, form.og_action_settings .row {
    border-bottom: 1px solid #CCC;
    padding: 10px 5px;
}

form.og_action_settings input {
    margin-right:10px;
}

#ogActionPopup {
    opacity:0;
    z-index:999999;
    position:fixed;
    bottom:0;
    right:0;
    min-width:320px;
    margin: 0 5px 5px 0;
    padding:10px;
    border: solid 2px #FFF;
    background-color:#3B5998;
    color: #FFF;
    font-size:.85em;
    font-weight:normal;
}

#ogActionPopup .ogOptions {
    color: #FFF;
    font-size:.80em;
    font-weight:normal;
    display:block;
}
#ogActionPopup a {
    color: #FFF;
    text-decoration: underline;
}