/* 
    Document   : default
    Created on : Dec 28, 2012, 11:49:24 AM
    Author     : p1nga
    Description:
        Purpose of the stylesheet follows.
*/
div#fb_album_nav { text-align:center; }

a.btn { margin-left:2.5px; margin-right:2.5px; }

div.fbL_album_thumb { background-repeat: no-repeat; background-size: cover;}
div.album_title { 
	background-color: white;
    color: black;
    font-size: 11px;
    font-weight: bold;
    padding-top: 5px; padding-bottom: 1px;
	padding-left: 5px; padding-right: 5px;
    text-align: center;
	height: 16px;
	overflow: hidden;
}

article.col { border-color: #333333 !important;
    border: 2px solid #FFFFFF;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);}
article.col div.fbL_album_thumb:hover { opacity: 0.99; }

/* set html5 elements to block */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display: block;
}

/************************************************************************************
COLUMN
*************************************************************************************/


div.fbL_album_thumb { width:100%; height:90px; background-position: center; }

article.span3 { width: 23% !important; margin-left:0 !important; margin-bottom: 20px;
			    border: 2px solid #FFFFFF;
    			box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}

    /* Large desktop */
     @media (min-width: 1190px) {
     			article.span3{ margin-right:2.5641% !important; }
     			article.span3:nth-child(4n){ margin-right:0px !important; } 
    }
    /* Portrait tablet to landscape and desktop */
    @media (min-width: 768px) and (max-width: 1189px) {
     			article.span3{ margin-right:2.5641% !important; }
     			article.span3:nth-child(4n){ margin-right:0px !important; } 
    }
     
    /* Landscape phone to portrait tablet */
    @media (max-width: 767px) {
    		div.row-fluid{ margin-top:15px !important; }
    		article.span3{ width: 30% !important; float:left !important; margin-right:1% !important;
    						margin-left:2% !important; margin-bottom: 15px !important;}
    		article.span3:nth-child(3n) { margin-right:0% !important }
      }
     
    /* Landscape phones and down */
    @media (max-width: 600px) {
            div.row-fluid.show-grid { margin-top: 10px !important; }
    		article.span3{ width: 46.5% !important; margin: 0 !important; margin-bottom: 10px !important; }
            article.span3:nth-child(1n) { float:left !important; margin-left: 2% !important; }
    		article.span3:nth-child(2n) { float:right !important; margin-right: 2% !important; }
     }

