div.jfbcLogin {
    margin-top: 5px;
}

div.jLinkedLogin {
    height: 20px;
    margin:  5px 0 5px 0;
}

div#scprofile-pic{
	
    border: 2px solid rgb(240,240,240);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
	
	float:left;
	width:35px;
	height:35px;
	background-size: cover;
/* 	border: 1px solid black; */
	position: relative;
    top: -4px;
	margin-right: 7px;
}

div.logout-button{
	margin-top:4px;
	float:left;
}

div#sc-greeting{
	font-size: 12px;
	float: left;
    font-weight: bold;
    margin-top: 6px;
	margin-right: 7px;
}

/* If Browser/Screen Window Is Below 1190px Wide, Do These Things */
	@media only screen and (max-width: 1190px) {
		div.jfbcLogin {
		    margin-top: 40px;
		}
		div#scprofile-pic{
		    top: 33px;
		}
		div.logout-button{
			margin-top:41px;
		}
		div#sc-greeting{
		    margin-top: 43px;
		}
	}
	
	@media only screen and (max-width: 600px), (max-device-width: 600px) {
		div.jfbcLogin {
		    padding-top: 10px;
		}
		div#scprofile-pic{
		    top: 5px;
			left: 5px;
		}
		div.logout-button{
			position: absolute;
			margin-top:12px;
			right: 12px;
		}
		div#sc-greeting{
			left:0;
	        margin-top: 15px;
		    position: absolute;
		    width: 100%;
		}
		div#jsn-pos-top div.jsn-modulecontainer div.jsn-modulecontainer_inner div.jsn-modulecontent{
			text-align:center;
		}
        form#login-form div.jfbcLogin div.fb-login-button span iframe { left: 0; }
	}